{# ======== MARKDOWN EDITOR ========= #}

{% macro editor(editorName, editorContents, autosaveId = '') %}
<textarea class="form-control easymde-editor" name="{{ editorName }}" data-autosave-id="{{ autosaveId }}">{{ editorContents | markdownUnescape }}</textarea>
{% endmacro %}

{% macro editorScripts() %}
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/easymde.min.js') }}"></script>
{% endmacro %}

{# ======== CODEMIRROR EDITOR ========= #}

{% macro codeMirrorScripts() %}
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/codemirror.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/matchbrackets.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/closebrackets.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/codemirror-jsonconf.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/codemirror-autorefresh.min.js') }}"></script>
{% endmacro %}

{# ======== PICTURES ========= #}

{% macro pictureInput(name, value, options = {}) %}
{# Setting options.model to any DB model is recommended to let the macro tweak the picture URL ie. prevent caching issues #}
<div class="js-picture-input {{ 'well' if not options.noPanel }}">
  <p>
    <input type="file" name="{{ name }}" class="btn"/>
    <input type="hidden" name="{{ name }}" value="{{ value }}"/>
  </p>
  <p>
    {% set displayValue = value or options.defaultValue %}
    <img class="preview js-picture-input-preview"
      src="{{ pictureUrl(displayValue, options.model) if options.model else displayValue }}" style="{{ 'display: none' if not displayValue }}" />
  </p>
  {% if value %}
  <label><input type="checkbox" name="{{ name }}-delete" /> Delete picture</label>
  {% endif %}
  <div class="legend">{{ options.legend or 'Max size: 2.0 MiB. GIFs allowed.' }}</div>
</div>
{% endmacro %}


{# ======== TOOLTIPS ========= #}

{% macro tooltip(title, options = {}) %}
 <span class="fas fa-info-circle has-tooltip" data-toggle="tooltip" data-placement="{{ options.placement or 'top' }}" data-original-title="{{ title }}" style="font-size: 0.8rem"></span>
{% endmacro %}


{# ======== RADIO AND CHECK BUTTONS ========= #}

{% macro radio(name, value, label, modelProperty, options = {}) %}
  {% set value = modelProperty if options.textFieldEnabled else value %}
  {% set inputId = name + '-' + value | slug %}
  <label for="{{ inputId }}">
    <input type="radio" id="{{ inputId }}" class="js-radio" name="{{ name }}" value="{{ value }}" {{ 'checked="checked"' if value and modelProperty === value }} />
    {% if options.textField %}
      <input type="text" class="js-radio-text-field" data-target="{{ inputId }}" placeholder="{{ options.placeholder }}" />
    {% else %}
    <span class="radio-label">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}

{% macro check(name, label, value, options = {}) %}
  <label for="{{ name }}">
    <input type="checkbox" id="{{ name }}" class="js-checkbox" name="{{ name }}" {{ ('checked="true"' if value) | safe }} />
    {% if options.textField %}
      <input type="text" class="js-checkbox-text-field" data-target="{{ name }}" placeholder="{{ options.placeholder }}" />
    {% else %}
    <span class="checkbox-label" style="{{ 'margin-right: 0' if options.noMargin }}">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}


{# ======== DATE TIME PICKER ========= #}

{% macro dateTimePicker(name, value, options = {}) %}
  <input type="datetime" name="{{ name }}"
    class="form-control date-picker js-date-picker {{ options.classes or '' }}"
    value="{{ value | date(options.momentFormat or 'YYYY-MM-DD HH:mm') }}" 
    data-format="{{ options.pickerFormat or 'yyyy-mm-dd hh:ii' }}"
    {% if options.minView %} data-min-view="{{ options.minView }}" {% endif %}
    {% if options.maxView %} data-max-view="{{ options.maxView }}" {% endif %}
    {% for key, value in options.attrs %}
      {{ key }}="{{ value }}"
    {% endfor %}
    />
{% endmacro %}


{# ======== SELECT ========= #}

{% macro select(name, models, selectedValue, options = {}) %}
<select name="{{ name }}" class="form-control">
  {% if options.nullable %}
  <option value="" {{ 'selected' if not selectedValue }}></option>
  {% endif %}
  {% for model in models %}
    <option value="{{ model.get('id') }}" {{ 'selected' if selectedValue === model.get('id') }}>
      {{ model.get('title') }}
    </option>}} 
  {% endfor %}
</select>
{% endmacro %}
