{% macro searchForm(context, options = {}) %}
  <div class="list-group">
    <div class="list-group-item">
      <h4 style="margin: 0">Search filters</h4>
    </div>
    <form method="get" class="list-group-item">
      {% if not options.fixedEvent %}
      <div class="form-group">
        <label for="search">Event</label>
        <select name="eventId" class="form-control js-select" data-placeholder="All events" data-allow-clear="true">
          <option value="" {{ 'selected' if not context.searchOptions.eventId }}></option>
          {% for event in context.events %}
            <option value="{{ event.get('id') }}" {{ 'selected' if event.get('id') == context.searchOptions.eventId }}>{{ event.get('title') }}</option>
          {% endfor %}
          <option value="none" {{ 'selected' if context.searchOptions.eventId|dump === 'null' }}>(External events)</option>
        </select>
      </div>
      {% endif %}
      <div class="form-group">
        <label for="search">Title search</label>
        <input name="search" type="text" class="form-control" value="{{ context.searchOptions.search }}" />
      </div>
      <div class="form-group">
        <label for="user">User</label>
        <select name="user" class="form-control js-user-select">
          {% if context.searchOptions.user %}
          <option value="{{ context.searchOptions.user.get('id') }}" selected>{{ context.searchOptions.user.get('title') }}</option>
          {% endif %}
        </select>
      </div>
      <div class="form-group">
        <label for="platforms">Platforms</label>
        <select name="platforms" class="form-control js-select" multiple="multiple" size="2">
          {% for platform in context.platforms %}
            <option value="{{ platform.get('id') }}" {{ 'selected' if context.searchOptions.platforms and context.searchOptions.platforms.includes(platform.get('id')) }}>{{ platform.get('name') }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="platforms">Tags</label>
        <select name="tags" class="form-control js-tags-select" multiple="multiple"
                data-find-tags-url="{{ routeUrl(null, 'tags', 'ajax-find-tags') }}">
          {% for tagInfo in context.searchOptions.tags %}
            <option value="{{ tagInfo.id }}" selected>{{ tagInfo.value }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="divisions">Divisions</label>
        <select name="divisions" class="form-control js-select" multiple="multiple">
            {% set divisions = context.event.get('divisions')|keys if context.event else ['solo', 'team', 'unranked'] %}
            {% for division in divisions %}
              {% set active = not context.searchOptions.divisions or context.searchOptions.divisions.includes(division) %}
              <option value="{{ division }}" {{ 'selected' if active }}>{{ division.replace('Unrank') | capitalize }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
      {% if context.user %}
        <div>
          <label><input type="checkbox" name="hideReviewed" {{ 'checked="checked"' if context.searchOptions.notReviewedById }}>
          Hide rated or commented by me
          </label>
        </div>
      {% endif %}
        <div>
          <label><input type="checkbox" name="highScoresSupport" {{ 'checked="checked"' if context.searchOptions.highScoresSupport }}>
          High scores support
          </label>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Apply" />
        <a href="?" class="btn btn-default">Clear</a>
      </div>
    </form>
  </div>
{% endmacro %}

{% macro searchDescription(searchOptions, searchedEvent) %}
  {% if searchOptions.search or searchOptions.user or searchOptions.eventId !== undefined or searchOptions.tags or searchOptions.divisions or searchOptions.highScoresSupport %}
    <div class="count" style="font-size: 1rem"><!-- TODO rename CSS class to "legend" -->
      {{ ('made by ' + searchOptions.user.get('title')) if searchOptions.user }}
      {% if searchOptions.tags and searchOptions.tags.length > 0 %}
        with tag{{ 's' if searchOptions.tags.length > 1 }}
        {% for tag in searchOptions.tags -%}
          "{{ tag.value }}"{{ ' or ' if not loop.last }}
        {%- endfor %}
        {{ 'in ' + searchedEvent.get('title') if searchedEvent }}
        {{ 'in external events' if searchOptions.eventId|dump === 'null' }}
      {% endif %}
      {{ 'on restricted platforms' if searchOptions.platforms.length > 0 }}
      {{ 'in division' + ('s' if searchOptions.divisions.length > 1) + ' "' + (searchOptions.divisions| join(', ') | replace(", unranked", "")) + '"' if searchOptions.divisions }}
      {{ 'with high scores support' if searchOptions.highScoresSupport }}
      {{ 'matching "' + searchOptions.search + '"' if searchOptions.search }}
    </div>
  {% endif %}
{% endmacro %}
