{% import "post/post.macros.html" as postMacros with context %}
{% import "event/event.macros.html" as eventMacros with context %}
{% import "event/tournament/tournament.macros.html" as tournamentMacros with context %}
{% import "macros/navigation.macros.html" as navigationMacros %}

{% macro eventJumbotron(event, featuredPost, user, entry, tournamentScore, options = {}) %}
<div class="event-jumbotron" style="{{ backgroundImage(event) }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-3 event-jumbotron__logo-container">
            {% set eventHome = routeUrl(event, 'event') %}
            {% set logoTag = 'div' if path and path.startsWith(eventHome) else 'a' %}
            <{{ logoTag }} href="{{ eventHome }} " class="event-jumbotron__logo">
              {% set eventLogo = event.get('logo') %}
              <img src="{{ pictureUrl(eventLogo, event) if eventLogo else staticUrl('/static/images/favicon196.png') }}" />
            </{{ logoTag }}>
          </div>
    
          <div class="col-lg-9 mb-3 mb-lg-0">
            {% if event.get('countdown_config').message or event.get('countdown_config').phrase %}
              {% set rawHypeLink = event.get('countdown_config').link %}
              {% set hypeLink = rawHypeLink if rawHypeLink.indexOf('/') !== -1 else routeUrl(event, 'event', rawHypeLink) %}
              {% set animatedCountdownEnabled = event.get('countdown_config').enabled %}
              <div class="card card-body jumbotron-invite"
                onclick="{{ 'window.location = \'' + hypeLink + '\'' if hypeLink }}">
                <div class="row align-items-center">
                  <div class="col-12 {{ 'col-lg-6 mb-3 mb-xl-0' if animatedCountdownEnabled }}">
                    <h1 class="jumbotron-invite__title">{{ event.get('countdown_config').message }}</h1>
                    <div class="jumbotron-invite__details">
                      {{ eventJumbotronCountdownPhrase(event, user) }}
                    </div>
                  </div>
                  {% if animatedCountdownEnabled %}
                  <div class="col-xl-6 d-none d-sm-block">
                    <div class="jumbotron-invite__countdown js-countdown" data-countdown-to-date="{{ event.get('countdown_config').date }}"></div>
                  </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
    
            {% if featuredPost %}
              <div class="event-jumbotron__post">
              {% if featuredPost.get('body').indexOf('&lt;iframe') === 0 %}
                {{ postMacros.post(featuredPost, {hideBody: true, hideDetails: true, readingUser: user, readingUserLikes: userLikes}) }}
                {{ featuredPost.get('body') | markdown | safe }}
              {% else %}
                {{ postMacros.post(featuredPost, {hideBody: true, readingUser: user, readingUserLikes: userLikes}) }}
              {% endif %}
              </div>
            {% endif %}
          </div>
        </div>

      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12 col-sm-6 col-12 mb-3">
            <div class="card border-0">
              {% set isTournament = event.get('status_tournament') !== 'disabled' %}
              <a class="card-header event-jumbotron__shortcut" href="{{ routeUrl(event, 'event', 'tournament-games' if isTournament else 'my-entry') }}">{{ myEntryTitle() }}</a>
              {% if entry %}
                {{ eventMacros.entrySmallThumb(entry) }}
              {% elseif event.get('status_tournament') !== 'disabled' %}
                <div class="card-body text-center p-2">
                  {{ tournamentMacros.userRanking(user, event, tournamentScore, { compact: true }) }}
                  <a href="{{ routeUrl(event, 'event', 'tournament-games') }}" class="btn btn-alt btn-lg d-block">Play games</a>
                </div>
              {% else %}
                {% set entryCreationEnabled = ['open', 'open_unranked'].includes(event.get('status_entry')) %}
                {% if entryCreationEnabled %}
                  <div class="card-body text-center p-2">
                    <p class="mb-1">Submissions are open</p>
                    <a href="{{ routeUrl(event, 'event', 'create-entry') }}" class="btn btn-alt btn-lg d-block">Create entry</a>
                  </div>
                {% else %}
                  <div class="card-body text-center">
                    {% if event.get('status_entry') === 'closed' %}
                      Submissions are closed.
                    {% else %}
                      Submissions are not open yet.
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="col-lg-12 col-sm-6 col-12">
            <div class="list-group event-jumbotron__shortcut">
              {% set featuredLinks = featuredEvent.related('details').get('links') if featuredEvent %}
              {% for featuredLink in featuredLinks %}
                <a class="list-group-item" href="{{ featuredLink.link }}">
                  <h4>
                    <span class="event-jumbotron__shortcut-icon"><span class="fas {{ featuredLink.icon }}"></span></span>
                    <span class="event-jumbotron__shortcut-title">{{ featuredLink.title }}</span>
                  </h4>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% set shortlistEliminationInfo = event.related('details').get('shortlist_elimination') %}
    {% if shortlistEliminationInfo.stream %}
      <div id="twitch-embed"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
          width: '100%',
          height: 500,
          channel: "{{ shortlistEliminationInfo.stream }}"
        });
      </script>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro myEntryTitle() %} 
<h4 class="mb-0">
  <span class="event-jumbotron__shortcut-icon"><span class="fas fa-gamepad"></span></span>
  <span class="event-jumbotron__shortcut-title">My entry</span>
</h4>
{% endmacro %}

{% macro eventJumbotronCountdownPhrase(event, user) %}
  {% if event.get('countdown_config').phrase %}
    <div class="jumbotron-invite__phrase">
      {{ event.get('countdown_config').phrase }} 
      {{ event.get('countdown_config').date | featuredEventDateTime(user) }}
    </div>
    {% if user and event.get('countdown_config').date %}
    <div class="jumbotron-invite__timezone"> 
      Times for {{ (user.get("timezone") | timezone) if user and user.get("timezone") else 'Unknown timezone' }}
      <a href="{{ routeUrl(user, 'user', 'settings') }}" class="btn btn-outline-light btn-xs border-0">
        <span class="fa fa-cog"></span>
      </a>
    </div>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro backgroundImage(event) -%}
{%- set eventImagePath = event.related('details').get('background') or event.related('details').get('banner') if event -%}
{%- set url = pictureUrl(eventImagePath, event) if eventImagePath else staticUrl('/static/images/default-background.png') -%}
background-image: {{ 'url(' + url + ')'  }};
{%- endmacro %}
