{% macro eventJumbotron(event, user) %}
{% set eventLogo = event.get('logo') if event %}
{% set eventBackground = event.related('details').get('banner') if event %}<!-- TOOD Background instead of banner -->

<div class="event-jumbotron" style="{{ backgroundImage(eventBackground) }}">

  <div class="container">
    <div class="row">
      <div class="col-2">
        {% if eventLogo %}
          <img src="{{ staticUrl(eventLogo) }}" />
        {% endif %}
      </div>

      <div class="col-7">
        {% set rawHypeLink = event.get('countdown_config').link %}
        {% set hypeLink = rawHypeLink if rawHypeLink.indexOf('/') !== -1 else routeUrl(event, 'event', rawHypeLink) %}
        {% set animatedCountdownEnabled = event.get('countdown_config').enabled %}
        <div class="card card-body jumbotron-invite"
          onclick="{{ 'window.location = \'' + hypeLink + '\'' if hypeLink }}">
          <div class="row align-items-center">
            <div class="col-11 {{ 'col-lg-6' if animatedCountdownEnabled }}">
              <h1 class="jumbotron-invite__title">{{ event.get('countdown_config').message }}</h1>
              <div class="jumbotron-invite__details">
                {% if event.get('display_theme') %}
                <div><span class="fas fa-lightbulb"></span> <b>Theme:</b> {{ event.get('display_theme') }}</div>
                {% endif %}
                {{ eventJumbotronCountdownPhrase(event, user) }}
              </div>
            </div>
            {% if animatedCountdownEnabled %}
            <div class="col-lg-6">
              <span class="jumbotron-invite__countdown js-countdown" data-countdown-to-date="{{ event.get('countdown_config').date }}"></span>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="card card-body mt-3">
          Post
        </div>

      </div>


      <div class="col-3">
        <div class="card card-body">
          User links
        </div>
        <div class="card card-body mt-3">
          Event links
        </div>
      </div>
    </div>
  </div>

</div>
{% endmacro %}

{% macro eventJumbotronCountdownPhrase(event, user) %}
  {% if event.get('countdown_config').phrase %}
    <span class="fas fa-calendar-alt"></span> 
    {{ event.get('countdown_config').phrase }} 
    {{ event.get('countdown_config').date | featuredEventDateTime(user) }}
    {% if user %}
    {{ "(" + (user.get("timezone") | timezone) + ")" if user and user.get("timezone") }}
    <a href="{{ routeUrl(user, 'user', 'settings') }}" class="btn btn-outline-light btn-sm">
      <span class="fa fa-cog"></span>
    </a>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro backgroundImage(imagePath) %}
background-image: {{ 'url(' + staticUrl(imagePath) + ')' if imagePath else 'none' }};
{% endmacro %}
