
{# ======== PAGINATION ========= #}

{% macro pagination(currentPage = 1, pageCount = 1, baseUrl = '/posts?') %}
{% set baseUrlQS = baseUrl | paginationBasePath %}
{% set pagesToEnd = pageCount - currentPage %}
{% set from = max(1, currentPage - max(5, 11 - pagesToEnd)) %}
{% set to = min(pageCount, currentPage + max(5, 11 - currentPage)) %}
{# TODO: make a way to reach first / last page when there are many pages #}
{# class="{{ 'active' if currentPage === pageCount }}" #}
{% if pageCount > 1 %}
<ul class="pagination">
  {% if currentPage > 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ baseUrlQS + '&p=' + (currentPage - 1) }}">Previous page</a>
    </li>
  {% endif %}
  {% for page in range(from, to + 1) %}
    <li class="page-item d-sm-block {{ 'active' if currentPage === page else 'd-none' }}">
      <a class="page-link" href="{{ baseUrlQS + '&p=' + page }}">{{ page }}</a>
    </li>
  {% endfor %}
  {% if currentPage < pageCount %}
    <li class="page-item">
      <a class="page-link" href="{{ baseUrlQS + '&p=' + (currentPage + 1) }}">Next page</a class="page-link">
    </li>
  {% endif %}
</ul>
{% endif %}
{% endmacro %}
