{% macro sidebar(sidebar, path, options = {}) %}
  <div class="{{ options.class }}">
  {% for sidebarGroup in sidebar %}
    {{ sidebarLinks(sidebarGroup.title, sidebarGroup.links, path) }}
  {% endfor %}
  </div>
{% endmacro %}

{% macro sidebarLinks(title, sidebarLinks, path) %}
  {% if sidebarLinks %}
    <div class="list-group sidebar">
      <div class="list-group-item">
        <h3>{{ title }}</h3>
      </div>
      {% for link in sidebarLinks %}
        {{ sidebarLink(link.title, link.url, path) }}
        {% for subLink in link.subLinks %}
          {{ sidebarSubLink(subLink.title, subLink.url, path) }}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="spacing"></div>
  {% endif %}
{% endmacro %}

{% macro sidebarLink(label, url, path) %}
  <a href="{{ url }}" class="list-group-item sidebar__link {{ 'active' if path === url }} {{ 'list-group-item-danger' if options.dashboardAdminMode and path === url}}">
    {{ label }}
  </a>
{% endmacro %}

{% macro sidebarSubLink(label, url, path) %}
  <a href="{{ url }}" class="list-group-item sidebar__link {{ 'active' if path === url }} {{ 'list-group-item-danger' if options.dashboardAdminMode and path === url}}">
    <span style="margin-left: 15px">{{ label }}</span>
  </a>
{% endmacro %}