{% extends "admin/admin.base.html" %}

{% block adminBody %}

<h1>Events</h1>

<a href="{{ routeUrl(null, 'event', 'create') }}" class="btn btn-primary">Create</a> 
{% if user.get('is_admin') %}
  <a class="btn btn-default" href="/admin/settings?edit=featured_event_name">Select featured event</a>
{% endif %}

<table class="table sortable" style="margin-top: 10px">
<thead>
  <th>Title</th>
  <th>Name</th>
  <th>Start date</th>
  <th>Status</th>
  <th></th>
</thead>
<tbody>
  {% for event in events %}
  <tr>
    <td><a href="{{ routeUrl(event, 'event') }}">{{ event.get('title') }}</a></td>
    <td><code>{{ event.get('name') }}</code></td>
    <td>{{ event.get('started_at') | date }}</td>
    <td>{{ statusLabel(event.get('status')) }}</td>
    <td><a class="btn btn-primary btn-sm" href="{{ routeUrl(event, 'event', 'edit') }}">Edit</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

{% macro statusLabel(value) %}
  {% if value === 'open' %}
    {% set class = 'info' %}
  {% elseif value === 'pending' %}
    {% set class = '' %}
  {% else %}
    {% set class = 'default' %}
  {% endif %}
  <span class="label label-{{ class }}">{{ value }}</span>
{% endmacro %}
