{% macro entryThumb(entry, options = {}) %}
<div class="entry-thumb {{ 'large-team' if entry.related('userRoles').length > 2 }}">
  <a href="{{ buildUrl(entry, 'entry') }}">
    {% if entry.get('description') %}
    <div class="entry-thumb__description-container">
      <div class="entry-thumb__description">{{ entry.get('description') }}</div>
    </div>
    {% endif %}
    {% set picturePath = entry.get('pictures')[0] if entry.get('pictures').length > 0 %}
    <div class="entry-thumb__picture" style="background-image: url('{{ pictureUrl(picturePath, entry) if picturePath else '/static/images/default-entry.png' }}')">
      <div class="entry-thumb__picture-gradient"></div>
    </div>
    <div class="entry-thumb__title">{{ entry.get('title') }}</div>
  </a>
  <div class="entry-thumb__author" >by 
    {% for userRole in entry.sortedUserRoles() -%}
     <a href="{{ buildUrl(userRole, 'user') }}">
      {{- userRole.get('user_title') -}}
     </a>{{- ', ' if not loop.last -}}
    {%- endfor %}
  </div>
  <div class="entry-thumb__platforms">
    {% for platform in entry.get('platforms') %}
      {{ entryPlatformIcon(platform, { hideLabel: true }) }}
    {% endfor %}
    <span class="label label-default label-xs">{{ entry.get('division') | capitalize }}</span>
  </div>
  {% if options.showEvent %}
    <div class="entry-thumb__event" >
      on 
      {% if entry.get('event_id') %}
        <a href="{{ buildUrl(entry.related('event'), 'event') }}">{{ entry.related('event').get('title') }}</a>
      {% else %}
        {{ entry.get('external_event') }}
      {% endif %}
    </div>
  {% endif %}
</div>
{% endmacro %}

{% macro entrySmallThumb(entry, options = {}) %}
<div class="entry-small-thumb" style="{{ 'box-shadow: none' if options.noShadow }}">
  {% if entry and entry.get('id') %}
    {% set picturePath = entry.get('pictures')[0] if entry.get('pictures').length > 0 else '/static/images/default-entry.png' %}
    <div class="entry-small-thumb__details">
      <a href="{{ buildUrl(entry, 'entry') }}">
        <div class="entry-small-thumb__picture" style="background-image: url('{{ pictureUrl(picturePath, entry) }}')"></div>
        <div class="entry-small-thumb__title"  href="{{ buildUrl(entry, 'entry') }}">
          {{ entry.get('title') }}
        </div>
      </a>
      <div class="entry-small-thumb__author" >by 
      {% for userRole in entry.sortedUserRoles() %}
       <a href="{{ buildUrl(userRole, 'user') }}">
        {{ userRole.get('user_title') }}
       </a>{{ ', ' if not loop.last }}
      {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="text-center"><h4 style="padding-top: 18px">{{ options.customMessage or 'No entry' }}</h4></div>
  {% endif %}
</div>
{% endmacro %}

{% macro eventTable(event, options = {}) %}
  <div class="event-table {{ 'live' if not options.neutralStatus and event.get('status') === 'open' }}">
    <div class="row">
      <div class="col-md-12">
        <a class="event-table__header" href="{{ buildUrl(event, 'event') }}">
          <h2>
            {% if not options.neutralStatus %}
              {% if event.get('status') === 'pending' %}
                <span class="label label-default event-table__status">Upcoming</span>
              {% elseif event.get('status') === 'open' %}
                <span class="label label-danger event-table__status">On now!</span>
              {% endif %}
            {% endif %}
            {{ event.get('title') }}
          </h2>
        </a>
        <div class="event-table__details">
          <div class="row">
            <div class="col-sm-5">
              <div class="event-table__detail">
                <span class="glyphicon glyphicon-calendar"></span> {{ event.get('display_dates') or '(dates unknown)' }}
              </div>
            </div>
            {% if event.get('display_theme') %}
            <div class="col-sm-4">
              <div class="event-table__detail">
                <span class="glyphicon glyphicon-apple"></span> {{ event.get('display_theme') }}
              </div>
            </div>
            {% endif %}
            {% if options.entryCount and options.entryCount > 0 %}
            <div class="col-sm-3">
              <div class="event-table__detail">
                <span class="glyphicon glyphicon-tower"></span>
                {{ options.entryCount }} game{{ 's' if options.entryCount > 1 }}
              </div>
            </div>
            {% endif %}
          </div>
          {% if not options.hideLinks %}
          <div class="row">
            <div class="col-xs-12">
              <div class="event-table__links">
                {{ eventLinks(event, options.latestEventAnnouncement, options.path) }}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}


{% macro eventSmallTable(event) %}
<div class="panel event-small-table">
  <div class="row">
    <div class="col-xs-12">
      <a class="event-small-table__header" href="{{ buildUrl(event, 'event') }}">
        <h2>
          {% if not options.neutralStatus %}
            {% if event.get('status') === 'pending' %}
              <span class="label label-default event-table__status">Upcoming</span>
            {% elseif event.get('status') === 'open' %}
              <span class="label label-danger event-table__status">On now!</span>
            {% endif %}
          {% endif %}
          {{ event.get('title') }}
        </h2>
      </a>
    </div>
  </div>
  <div class="row event-small-table__details">
    <div class="col-xs-12">
      <span class="glyphicon glyphicon-calendar"></span> {{ event.get('display_dates') or '(dates unknown)' }}
      {% if event.get('display_theme') %}
      &nbsp;<span class="glyphicon glyphicon-apple"></span> {{ event.get('display_theme') }}
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}


{% macro eventLinks (event, latestEventAnnouncement, path, options = {}) %}
{% if options.collapse %}
<nav class="event-navbar navbar">
  <div class="navbar-header">
    <button type="button" class="event-navbar__dropdown navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-event-{{ event.get('id') }}" aria-expanded="false">
      <span class="fa fa-caret-down"></span>
    </button>
  </div>
  
  <div class="collapse navbar-collapse" id="navbar-event-{{ event.get('id') }}">
  {% endif %}
  
    <div class="nav">
      {% if latestEventAnnouncement %}
        <a href="{{ buildUrl(event, 'event', 'announcements') }}" class="hidden-xs hidden-sm event-header__link {{ 'active' if path == buildUrl(event, 'event', 'announcements') }} event-header__announcement">
          <span class="glyphicon glyphicon-pushpin"></span> {{ latestEventAnnouncement.get('title')}}
          <span class="event-header__announcement-info">
            Announcement • {{ latestEventAnnouncement.get('created_at') | relativeTime }}
          </span>
        </a><!--
        --><a href="{{ buildUrl(event, 'event', 'announcements') }}" class="hidden-md hidden-lg event-header__link {{ 'active' if path == buildUrl(event, 'event', 'announcements') }}">
          <span class="glyphicon glyphicon-pushpin"></span>
        </a>
      {% endif %}
      {{- eventLink(event, null, 'posts', 'Posts', 'globe', path) -}}
      {{- eventLink(event, 'status_theme', 'themes', 'Themes', 'apple', path) -}}
      {{- eventLink(event, 'status_entry', 'games', 'Games', 'tower', path) -}}
      {{- eventLink(event, 'status_results', 'results', 'Results', 'th-list', path, { requiredValue: 'results' }) -}}
    </div>
    
  {% if options.collapse %}
  </div>
</nav>
{% endif %}
{% endmacro %}

{% macro eventLink (event, statusField, targetPath, label, icon, currentPath, options = {}) %}
{%- if not statusField or event.get(statusField) !== 'disabled' -%}
  {%- set targetUrl = buildUrl(event, 'event', targetPath) -%}
  <a href="{{ targetUrl }}" class="event-header__link {{ 'active' if currentPath and currentPath.indexOf(targetUrl) === 0 }} 
      {{ 'disabled' if statusField and (event.get(statusField) === 'off' or options.requiredValue and event.get(statusField) != options.requiredValue )}}">
    <span class="glyphicon glyphicon-{{ icon }}"></span> <span class="hidden-xs">{{ label }}</span>
  </a>
{%- endif -%}
{% endmacro %}

{% macro entryPlatformIcon(platform, options = {}) %}
  {% set icon = constants.ENTRY_PLATFORM_ICONS[platform] or constants.ENTRY_PLATFORM_DEFAULT_ICON %}
  <span class="fa {{ icon }} has-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="{{ platform }}"></span> {{ platform if not options.hideLabel }}
{% endmacro %}

{% macro eventThemeStatus (event, options = {}) %}
  <span class="label {{ 'label-success' if event.get('status') == 'shortlist' }} 
      {{ 'label-default' if event.get('status') == 'active' }}"><!--
    -->{% if event.get('status') === 'banned' %}<!--
      -->{{ 'Banned' if options.uncensored else 'Out' }}<!--
    -->{% elseif event.get('status') === 'duplicate' %}<!--
      -->Idea already submitted<!--
    -->{% else %}<!--
      -->{{ event.get('status') | capitalize }}<!--
    -->{% endif %}<!--
  --></span>
{% endmacro %}

{% macro eventUserShortcuts(user, event, userEntry, userPost) %}
  {% if user %}
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-5 action-banner">
         <div>
           {% if userEntry %}
             <a href="{{ buildUrl(userEntry, 'entry', 'edit') }}" class="btn btn-alt pull-right">Edit entry</a>
           {% elseif event.get('status') !== 'open' or (event.get('status_entry') !== 'open' and event.get('status_entry') !== 'open_unranked') %}
             <div class="pull-right">
               <a href="#"class="btn btn-sm btn-default disabled">Create entry</a>
             </div>
           {% else %}
             <a href="{{ buildUrl(event, 'event', 'create-entry') }}" class="btn btn-alt pull-right">Create entry</a>
           {% endif %}
        </div>
        <div class="action-banner__title">
          Your entry
        </div>
        {% if event.get('status_entry') === 'closed' %}
          {% set customMessage = "Entry submissions are closed" %}
        {% elseif event.get('status_entry') !== 'open' and event.get('status_entry') !== 'open_unranked' %}
          {% set customMessage = "Entry submissions are not open yet" %}
        {% endif %}
        {{ entrySmallThumb(userEntry, { customMessage: customMessage }) }}
      </div>
      <div class="col-md-5 action-banner">
        <div class="pull-right">
          {% if userPost %}
          <a href="{{ buildUrl(userPost, 'post', 'edit') }}" class="btn btn-alt">Edit</a>
          {% endif %}
          <a href="{{ buildUrl(null, 'post', 'create', { eventId: event.get('id') }) }}" class="btn btn-alt">Create</a>
          <a href="{{ buildUrl(user, 'user', 'posts') }}" class="btn btn-alt">My posts</a>
        </div>
        <div class="action-banner__title">
          Your latest post
        </div>
        <div class="panel action-banner__post">
          {% if userPost %}
            <a href="{{ buildUrl(userPost, 'post') }}">{{ userPost.get('title') }}</a>
          {% else %}
            <div class="text-center"><h4 style="padding-top: 13px">No post</h4></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endmacro %}