{% macro entryThumb(entry, cols = 3) %}
<div class="col-sm-4 col-md-{{ cols }}">
  <a class="entry-thumb" href="{{ buildUrl(entry, 'entry') }}">
    {% set picturePath = entry.get('pictures')[0] if entry.get('pictures').length > 0 else '/static/images/default-entry.png' %}
    <div class="entry-thumb__picture" style="background-image: url('{{ picturePath }}')">
      <div class="entry-thumb__picture-gradient"></div>
    </div>
    <div class="entry-thumb__details" >
      <div class="entry-thumb__title" >{{ entry.get('title') }}</div>
      <div class="entry-thumb__author" >by 
      {% for userRole in entry.related('userRoles').models %}
      <strong>{{ userRole.get('user_title') }}</strong>{{ ', ' if not loop.last }}
      {% endfor %}
      </div>
    </div>
  </a>
</div>
{% endmacro %}

{% macro eventTable(event, withEntries = true, entryCols = 3) %}
  <div class="event-table {{ 'live' if event.get('status') == 'open' }}">
    <div class="row">
      <div class="col-md-12">
        <div class="event-table__header">
          <div class="row">
            <div class="event-table__title col-sm-4"><a href="{{ buildUrl(event, 'event') }}">{{ event.get('title') }}</a></div>
            <div class="event-table__status col-sm-3">
              Current state: <b>{{ event.get('status') }}</b><br />
              Entry count: <b>{{ event.related('entries').length }}</b>
            </div>
            <div class="event-table__status col-sm-5">
              Dates: <b>{{ event.get('display_dates') }}</b><br />
              Theme: <b>{{ event.get('display_theme') }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if withEntries %}
    <div class="row">
      {% for entry in event.related('entries').models %}
        {{ entryThumb(entry, entryCols) }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endmacro %}
