{% macro entryThumb(entry, options = {}) %}
<div class="entry-thumb {{ 'large-team' if entry.related('userRoles').length > 2 }}">
  <a href="{{ buildUrl(entry, 'entry') }}">
    {% if entry.get('description') %}
    <div class="entry-thumb__description-container">
      <div class="entry-thumb__description">{{ entry.get('description') }}</div>
    </div>
    {% endif %}
    {% set picturePath = entry.get('pictures')[0] if entry.get('pictures').length > 0 %}
    <div class="entry-thumb__picture js-lazy" data-src="{{ pictureUrl(picturePath, entry) if picturePath else '/static/images/default-entry.png' }}">
      {% if not options.hideMedals %}
        <div class="entry-medals">
          {%- set details = entry.related('details') -%}
          {%- if details -%}
          {%- for categoryIndex in range(1, 7) -%}
            {%- set ranking = details.get('ranking_' + categoryIndex) -%}
            {%- if ranking and ranking <= 3 -%}
              <span class="entry-results__category-medal medal-category-{{categoryIndex}} medal-ranking-{{ranking}}"></span>
            {%- endif %}
          {%- endfor -%}
          {%- endif -%}
        </div>
      {% endif %}
      <div class="entry-thumb__picture-gradient"></div>
    </div>
    <div class="entry-thumb__title">{{ entry.get('title') }}</div>
  </a>
  <div class="entry-thumb__author" >by 
    {% for userRole in entry.sortedUserRoles() -%}
     <a href="{{ buildUrl(userRole, 'user') }}">
      {{- userRole.get('user_title') -}}
     </a>{{- ', ' if not loop.last -}}
    {%- endfor %}
  </div>
  <div class="entry-thumb__platforms">
    {% for platform in entry.get('platforms') %}
      {{ entryPlatformIcon(platform, { hideLabel: true }) }}
    {% endfor %}
    <span class="label label-default label-xs">{{ entry.get('division') | capitalize }}</span>
  </div>
  {% if options.showEvent %}
    <div class="entry-thumb__event" >
      on 
      {% if entry.get('event_id') %}
        <a href="{{ buildUrl(entry.related('event'), 'event') }}">{{ entry.related('event').get('title') }}</a>
      {% else %}
        {{ entry.get('external_event') }}
      {% endif %}
    </div>
  {% endif %}
</div>
{% endmacro %}

{% macro entrySmallThumb(entry, options = {}) %}
<div class="entry-small-thumb" style="{{ 'box-shadow: none' if options.noShadow }}">
  {% if entry and entry.get('id') %}
    {% set picturePath = entry.get('pictures')[0] if entry.get('pictures').length > 0 else '/static/images/default-entry.png' %}
    <div class="entry-small-thumb__details">
      <a href="{{ buildUrl(entry, 'entry') }}">
        <div class="entry-small-thumb__picture js-lazy" data-src="{{ pictureUrl(picturePath, entry) }}"></div>
        <div class="entry-small-thumb__title"  href="{{ buildUrl(entry, 'entry') }}">
          {{ entry.get('title') }}
        </div>
      </a>
      <div class="entry-small-thumb__author" >by 
      {% for userRole in entry.sortedUserRoles() %}
       <a href="{{ buildUrl(userRole, 'user') }}">
        {{ userRole.get('user_title') }}
       </a>{{ ', ' if not loop.last }}
      {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="text-center"><h4 style="padding-top: 18px">{{ options.customMessage or 'No entry' }}</h4></div>
  {% endif %}
</div>
{% endmacro %}

{% macro eventBanner (event) %}
<div class="event-banner__container">
  <div class="event-banner" style="background-image: url('{{ event.related('details').get('banner') }}')">
    <div class="event-banner__gradient"></div>
  </div>
</div>
{% endmacro %}

{% macro eventJumbo (event, user, userEntry) %}
<div class="home-jumbo {{ event.get('status') }}">
  <div class="event-table">
    <div class="event-table__header">
      {% if event.get('logo') %}
      <a href="{{ buildUrl(event, 'event') }}">
        <img src="{{ event.get('logo') }}" class="event-table__logo no-border" />
      </a>
      {% endif %}
      <a href="{{ buildUrl(event, 'event') }}" class="event-table__title">
        {{ event.get('title') }}
        <div class="event-table__dates">
          {{ event.get('display_dates') or '(dates unknown)' }}
        </div>
      </a>
      {% if event.get('display_theme') %}
      <div class="event-table__theme hidden-xs">
        <span class="event-table__theme-label">Theme</span>
        {{ event.get('display_theme') }}
      </div>
      {% endif %}
    </div>
    <div class="event-table__theme-mobile visible-xs">
      Theme: {{ event.get('display_theme') }}
    </div>
  </div>

  <div class="home-jumbo__call-container">
  {% set rawHypeLink = event.get('countdown_config').link %}
  {% set animatedCountdown = event.get('countdown_config').enabled %}
  {% if rawHypeLink %}
    {% set hypeLink = rawHypeLink if rawHypeLink.indexOf('/') !== -1 else buildUrl(event, 'event', rawHypeLink) %}
    <a class="home-jumbo__call" href="{{ hypeLink }}">
      <div class="row">
        <div class="col-xs-11 {{ 'col-md-6' if animatedCountdown }}">
          <h2>{{ event.get('countdown_config').message }}</h2>
          {% if event.get('countdown_config').phrase %}
            <span class="glyphicon glyphicon-calendar"></span> {{ event.get('countdown_config').phrase }} {{ event.get('countdown_config').date | featuredEventDateTime }}
          {% endif %}
        </div>
      </div>
      {% if animatedCountdown %}
        <span class="home-jumbo__countdown js-countdown" data-countdown-to-date="{{ event.get('countdown_config').date }}"></span>
      {% endif %}
      <span class="fa fa-angle-right home-jumbo__call-arrow"></span>
    </a>
  {% elseif event.get('countdown_config').phrase %}
    <div class="home-jumbo__details">
      <div class="row">
        <div class="col-xs-11 {{ 'col-md-6' if animatedCountdown }}">
          {% if event.get('countdown_config').phrase %}
            <span class="glyphicon glyphicon-calendar"></span> {{ event.get('countdown_config').phrase }} {{ event.get('countdown_config').date | featuredEventDateTime }}
          {% endif %}
        </div>
        {% if animatedCountdown %}
          <div class="col-md-6">
            <span class="home-jumbo__countdown js-countdown" data-countdown-to-date="{{ event.get('countdown_config').date }}"></span>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  </div>

  {% if user and event and event.get('status_entry') !== 'off' %}
    {{ eventShortcutMyEntry(user, event, userEntry) }}
  {% endif %}
</div>
{% endmacro %}

{% macro eventLinks (event, path, options = {}) %}
{% if options.collapse %}
<nav class="event-navbar navbar">
  <div class="navbar-header">
    <button type="button" class="event-navbar__dropdown navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-event-{{ event.get('id') }}" aria-expanded="false">
      <span class="fa fa-caret-down"></span>
    </button>
  </div>
  
  <div class="collapse navbar-collapse" id="navbar-event-{{ event.get('id') }}">
  {% endif %}
  
    <div class="nav">
      {{- eventLink(event, 'status_rules', buildUrl(event.get('status_rules'), 'post'), 'Rules', 'info-sign', path) -}}
      {{- eventLink(event, null, 'posts', 'Posts', 'globe', path) -}}
      
      {% set statusTournament = event.get('status_tournament') %}
      {% if not statusTournament or statusTournament === 'disabled' %}
        {{- eventLink(event, 'status_theme', 'themes', 'Themes', 'apple', path) -}}
        {{- eventLink(event, 'status_entry', 'games', 'Games' + (' <span class="count">(' + event.get('entry_count') +')</span>' if event.get('entry_count')), 'tower', path) -}}
        {{- eventLink(event, 'status_results', 'results', 'Results', 'th-list', path, { requiredValue: ['results'] }) -}}
      {% else %}
        {{- eventLink(event, 'status_tournament', 'tournament-games', 'Games', 'tower', path) -}}
        {{- eventLink(event, 'status_tournament', 'tournament-leaderboard', 'Leaderboard', 'th-list', path, { requiredValue: ['playing', 'closed', 'results'] }) -}}
      {% endif %}
    </div>
    
  {% if options.collapse %}
  </div>
</nav>
{% endif %}
{% endmacro %}

{% macro eventLink (event, statusField, targetPath, label, icon, currentPath, options = {}) %}
{%- if not statusField or event.get(statusField) !== 'disabled' -%}
  {%- set targetUrl = targetPath if targetPath.includes('/') else buildUrl(event, 'event', targetPath) -%}
  <a href="{{ targetUrl }}" class="event-header__link {{ 'active' if currentPath and currentPath.indexOf(targetUrl) === 0 }} 
      {{ 'disabled' if statusField and (event.get(statusField) === 'off' or options.requiredValue and not options.requiredValue.includes(event.get(statusField))) }}">
    <span class="glyphicon glyphicon-{{ icon }}"></span> <span class="hidden-xs">{{ label | safe }}</span>
  </a>
{%- endif -%}
{% endmacro %}

{% macro entryPlatformIcon(platform, options = {}) %}
  {% set icon = constants.ENTRY_PLATFORM_ICONS[platform] or constants.ENTRY_PLATFORM_DEFAULT_ICON %}
  <span class="fab {{ icon }} has-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="{{ platform }}"></span> {{ platform if not options.hideLabel }}
{% endmacro %}

{% macro eventThemeStatus (event, options = {}) %}
  <span class="label {{ 'label-success' if event.get('status') == 'shortlist' }} 
      {{ 'label-default' if event.get('status') == 'active' }}"><!--
    -->{% if event.get('status') === 'banned' %}<!--
      -->{{ 'Banned' if options.uncensored else 'Out' }}<!--
    -->{% elseif event.get('status') === 'duplicate' %}<!--
      -->Idea already submitted<!--
    -->{% else %}<!--
      -->{{ event.get('status') | capitalize }}<!--
    -->{% endif %}<!--
  --></span>
{% endmacro %}

{% macro eventShortcutMyEntry(user, event, userEntry) %}
  <div class="action-banner">
    <div class="action-banner__title">
      Your entry
      <div class="pull-right">
         {% if userEntry %}
           <a href="{{ buildUrl(userEntry, 'entry', 'edit') }}" class="btn btn-alt">Edit entry</a>
         {% elseif event.get('status') !== 'open' or (event.get('status_entry') !== 'open' and event.get('status_entry') !== 'open_unranked') %}
           <a href="#"class="btn btn-sm btn-default disabled">Create entry</a>
         {% else %}
           <a href="{{ buildUrl(event, 'event', 'create-entry') }}" class="btn btn-alt">Create entry</a>
         {% endif %}
      </div>
    </div>
    {% if event.get('status_entry') === 'closed' %}
      {% set customMessage = "Entry submissions are closed" %}
    {% elseif event.get('status_entry') !== 'open' and event.get('status_entry') !== 'open_unranked' %}
      {% set customMessage = "Entry submissions are not open yet" %}
    {% endif %}
    {{ entrySmallThumb(userEntry, { customMessage: customMessage }) }}
  </div>
{% endmacro %}

{% macro eventShortcutMyPost(user, event, userPost) %}
  <div class="action-banner">
    <div class="action-banner__title">
      Your latest post
      <div class="pull-right">
        {% if userPost %}
          <a href="{{ buildUrl(userPost, 'post', 'edit') }}" class="btn btn-alt">Edit</a>
        {% endif %}
        <a href="{{ buildUrl(null, 'post', 'create', { eventId: event.get('id') }) }}" class="btn btn-alt">Create</a>
        <a href="{{ buildUrl(user, 'user', 'posts') }}" class="btn btn-alt">My posts</a>
      </div>
    </div>
    <div class="action-banner__post">
      {% if userPost %}
        <a href="{{ buildUrl(userPost, 'post') }}">{{ userPost.get('title') }}</a>
      {% else %}
        <div class="text-center"><h4 style="padding-top: 13px">No post</h4></div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
