{% extends "event/_page-edit-event.html" %}
{% import "_macros-form.html" as formMacros %}
{% import "event/_macros-event.html" as eventMacros %}

{% macro userTitle(usersById, userId) %}
  {% if usersById[userId] %}
    {{ usersById[userId].get('title') or usersById[userId].get('name') }}
  {% else %}
   non-entrant of ID {{ userId }}
  {% endif %} 
{% endmacro %}

{% block editEventBody %}

<h1>{{ event.get('title') }} entries <span class="count">({{ entries.length }})</span></h1>

{% if detailedEntryInfo.id %}
<div class="well">
  {% set entry = entriesById[detailedEntryInfo.id] %}
  <h2>Feedback details: {{ entry.get('title') }}</h2>

  <p>Karma: <strong>{{ detailedEntryInfo.total }}</strong></p>

  <h4>Given <span class="count">(+{{ detailedEntryInfo.given.total }})</span></h4>

  <ul>
  {% for key, data in detailedEntryInfo.given.givenByUserAndEntry %}
    <li>
    {% if data.commentKarma > 0 %}
      <strong>+ {{ data.commentKarma or '0' }}</strong> with comments by {{ userTitle(usersById, data.userId) }}
        on {{ entriesById[data.entryId].get('title') if entriesById[data.entryId] else '???' }}
    {% endif %}
    {{ ' or ' if data.commentKarma and data.voteKarma }}
    {% if data.voteKarma > 0 %}
      <strong>+ {{ data.voteKarma or '0' }}</strong> with votes by {{ userTitle(usersById, data.userId) }}
        on {{ entriesById[data.entryId].get('title') if entriesById[data.entryId] else '???' }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>

  <h4>Received <span class="count">(-{{ detailedEntryInfo.received.total }})</span></h4>

  <ul>
  {% for userId, data in detailedEntryInfo.received.receivedByUser %}
    <li>
    {% if data.commentKarma > 0 %}
      <strong>- {{ data.commentKarma or '0' }}</strong> with comments by {{ userTitle(usersById, userId) }}
    {% endif %}
    {{ ' or ' if data.commentKarma and data.voteKarma }}
    {% if data.voteKarma > 0 %}
      <strong>- {{ data.voteKarma or '0' }}</strong> with votes by {{ userTitle(usersById, userId) }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<p>
  <a href="?orderBy=karma" class="btn btn-default">Order by Karma</a>
  <a href="?orderBy=ratingCount" class="btn btn-default">Order by rating count</a>
</p>

<ol>
<table class="table">
<tr>
<th></th>
<th>Game</th>
<th>Division</th>
<th>Score</th>
<th>Votes</th>
<th>Actions</th>
</tr>
{% for entry in entries %}
  <tr>
    <td>
      <li></li>
    </td>
    <td>
      {{ eventMacros.entrySmallThumb(entry) }}
    </td>
    <td>{{ entry.get('division') | capitalize }}</td>
    <td>{{ entry.get('karma') }}</td>
    <td>{{ entry.related('details').get('rating_count') if entry.get('division') !== 'unranked' else 'N.A.' }}</td>
    <td><a href="?entryDetails={{ entry.get('id') }}&amp;orderBy={{ orderBy }}" class="btn btn-default">Details</a></td>
  </tr>
{% endfor %}
</table>
</ol>

{% endblock %}
