{% extends "event/_page-edit-event.html" %}
{% import "_macros-form.html" as formMacros %}

{% block editEventBody %}

<form action="{{ buildUrl(event, 'event', 'edit') }}" method="post" enctype="multipart/form-data" class="js-warn-on-unsaved-changes">

  <h1 id="js-title-display"></h1>

  <div class="horizontal-bar">
    General
  </div>
  <div class="form-group input-group-lg">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="js-title" name="title" value="{{ event.get('title') if event }}" required="required" />
  </div>
  <div class="form-group">
    <label for="name">Slug</label>
    <input type="text" class="form-control" id="js-name" name="name" value="{{ event.get('name') if event }}" required="required" />
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="display-dates">Displayed dates</label>
        <input type="text" class="form-control" name="display-dates" value="{{ event.get('display_dates') if event }}" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Displayed theme</label>
        <input type="text" class="form-control" name="display-theme" value="{{ event.get('display_theme') if event }}" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="divisions">Divisions {{ formMacros.tooltip('Must be a valid JSON object, with keys being the name (among: solo,team,ranked,unranked) and values the description.') }}</label>
    <textarea name="divisions" class="codemirror auto-height">{{ (event.get('divisions') if event else []) | pretty }}</textarea>
  </div>
  <div class="form-group">
    <label for="category-titles">Rating categories {{ formMacros.tooltip('Must be a valid JSON array of strings, eg. ["General","Theme"]') }}</label>
    <textarea name="category-titles" class="codemirror auto-height">{{ (event.related('details').get('category_titles') if event else []) | dump }}</textarea>
  </div>

  <div class="horizontal-bar">
    Home page
  </div>
  <div class="form-group">
    <label>Call to action</label>
    <div class="form-inline">
    Message
    <input type="text" class="form-control" style="min-width: 250px" name="countdown-message" value="{{ event.get('countdown_config').message if event }}" />
    Link page {{ formMacros.tooltip('Among "themes", "posts", "games", "results", or an absolute path like "/post/create"')}}
    <input type="text" class="form-control" name="countdown-link" value="{{ event.get('countdown_config').link if event }}" />
    </div>
  </div>
  <div class="form-group">
    <label>Next deadline</label>
    <div class="form-inline">
    Phrase {{ formMacros.tooltip('For instance: "ends", "voting starts"... or directly "starts January 31st" if the date is not set.') }} 
    <input type="text" class="form-control" name="countdown-phrase" value="{{ event.get('countdown_config').phrase if event }}" />
    Date (<a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">UTC</a>)
    {{ formMacros.dateTimePicker('countdown-date', event.get('countdown_config').date if event) }}
    <label><input type="checkbox" class="form-control" name="countdown-enabled" {{ 'checked="checked"' if event and event.get('countdown_config').enabled }} />
    Animated countdown</label>
    </div>
  </div>

  <div class="horizontal-bar">
    Status toggles
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="status">Global status</label>
        <div>
        {{ formMacros.radio('status', 'pending', 'Pending', 
          event.get('status') if event else 'pending') }}
        {{ formMacros.radio('status', 'open', 'Open', 
          event.get('status') if event) }}
        {{ formMacros.radio('status', 'closed', 'Closed', 
          event.get('status') if event) }}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="status-rules">Welcome/Rules post status</label>
        <div>
        {{ formMacros.radio('status-rules', 'disabled', 'Disabled',
          event.get('status_rules') if event else 'disabled') }}
        {{ formMacros.radio('status-rules', 'off', 'Off',
          event.get('status_rules') if event) }}
        {{ formMacros.radio('status-rules', '', '', 
          event.get('status_rules') if event, { textField: true, placeholder: 'Post ID', textFieldEnabled: isId(event.get('status_rules')) if event}) }}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="status-theme">Theme voting status</label>
    <div>
    {{ formMacros.radio('status-theme', 'disabled', 'Disabled', 
      event.get('status_theme') if event else 'disabled') }}
    {{ formMacros.radio('status-theme', 'off', 'Off', 
      event.get('status_theme') if event) }}
    {{ formMacros.radio('status-theme', 'voting', 'Voting', 
      event.get('status_theme') if event) }}
    {{ formMacros.radio('status-theme', 'shortlist', 'Shortlist', 
      event.get('status_theme') if event) }}
    {{ formMacros.radio('status-theme', 'closed', 'Closed', 
      event.get('status_theme') if event) }}
    {{ formMacros.radio('status-theme', 'results', 'Results', 
      event.get('status_theme') if event) }}
    {{ formMacros.radio('status-theme', '', '', 
      event.get('status_theme') if event, { textField: true, placeholder: 'Post ID', textFieldEnabled: isId(event.get('status_theme')) if event }) }}
    </div>
  </div>
  <div class="form-group">
    <label for="status-entry">Entry submission status</label>
    <div>
    {{ formMacros.radio('status-entry', 'off', 'Off', 
      event.get('status_entry') if event else 'off') }}
    {{ formMacros.radio('status-entry', 'open', 'Open',
      event.get('status_entry') if event) }}
    {{ formMacros.radio('status-entry', 'open_unranked', 'Open (unranked only)',
      event.get('status_entry') if event) }}
    {{ formMacros.radio('status-entry', 'closed', 'Closed',
      event.get('status_entry') if event) }}
    </div>
  </div>
  <div class="form-group">
    <label for="status-results">Event results status</label>
    <div>
    {{ formMacros.radio('status-results', 'disabled', 'Disabled',
      event.get('status_results') if event else 'disabled') }}
    {{ formMacros.radio('status-results', 'off', 'Off',
      event.get('status_results') if event) }}
    {{ formMacros.radio('status-results', 'voting', 'Voting', 
      event.get('status_results') if event) }}
    {{ formMacros.radio('status-results', 'voting_rescue', 'Voting (rescue)', 
      event.get('status_results') if event) }}
    {{ formMacros.radio('status-results', 'results', 'Results', 
      event.get('status_results') if event) }}
    {{ formMacros.radio('status-results', '', '', 
      event.get('status_results') if event, { textField: true, placeholder: 'Post ID', textFieldEnabled: isId(event.get('status_results')) if event}) }}
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        {% if event and event.id %}
          {% if event.get('status') === 'pending' %}
            <a href="{{ buildUrl(event, 'event', 'delete') }}" onclick="return confirm('Do you really want to delete this event? This cannot be undone.')" class="btn btn-default {{ 'disabled' if not user.get('is_admin') }}" {{ 'title="Only admins can delete events"' if not user.get('is_admin') }}>Delete</a>
          {% else %}
            <div class="btn btn-default has-tooltip disabled" title data-placement="top" data-toggle="tooltip" data-original-title="Only pending events can be deleted">Delete</div>
          {% endif %}
        {% endif %}
      </div>
      <div class="col-md-8 text-right">
        <!-- TODO Publish -->
        <input type="submit" class="btn btn-primary" value="Save changes" />
        <a class="btn btn-default" href="#" onclick="history.back()">Cancel</a> 
      </div>
    </div>
  </div>
  
</form>

{% endblock %}

{% block scripts %} 
{{ formMacros.radioScripts() }}
{{ formMacros.codeMirrorScripts() }}
<script src="/static/js/slug.min.js"></script>
<script>
  alakajam.common.syncText('#js-title', '#js-title-display', 'My event');
  alakajam.common.syncSlug('#js-title', '#js-name');
</script>
{% endblock %}
