{% extends "event/_page-edit-event.html" %}
{% import "_macros-form.html" as formMacros %}
{% import "event/_macros-event.html" as eventMacros %}

{% block editEventBody %}

<h1>{{ event.get('title') }} themes <span class="count">({{ themes.length }})</span></h1>

{% if event.get('status_theme') === 'shortlist' or event.get('status_theme') === 'results' %}
<h3>Shortlist</h3>
<table class="table">
<tr>
<th>Theme<th>
<th>Notes</th>
<th>Score</th>
<th>Average</th>
</tr>
{% for theme in shortlist %}
  <tr>
  <td>
    {% if event.get('status_theme') === 'shortlist' and loop.index <= 5 %}
      <span class="label">R E D A C T E D</span>
    {% else %}
      {{ theme.get('title') }}
    {% endif %}
  <td>
    <td>{{ theme.get('notes') }}</td>
    <td><strong>{{ theme.get('score') }}</strong></td>
    <td>{{ (theme.get('score') / theme.get('notes')) | digits(2) }}</td>
  </tr>
{% endfor %}
</table>
<h3>Other themes</h3>
{% endif %}

<table class="table">
<tr>
<th>Theme<th>
<th>Status</th>
<th>Notes</th>
<th>Score</th>
<th>Normalized  {{ formMacros.tooltip('Computed by evaluating "Score / Notes". "New" means the theme does not have enough notes yet.') }}</th>
<th>Actions</th>
</tr>
{% for theme in themes %}
  {% if theme.get('status') !== 'shortlist' %}
  <tr>
  <td>
    {% if theme.get('status') !== 'banned' %}
      {{ theme.get('title') }}
    {% else %}
      <span style="text-decoration: line-through">{{ theme.get('title') }}</span>
    {% endif %}
  <td>
  <td>
    {{ eventMacros.eventThemeStatus(theme, {uncensored: true}) }}
  </td>
  <td>{{ theme.get('notes') }}</td>
  <td>{{ theme.get('score') }}</td>
  <td>
    {% if theme.get('status') === 'active' and theme.get('notes') < eliminationMinNotes %}
      <div class="label">New</div>
    {% else %}
      <strong style="{{ 'color: #999' if theme.get('status') === 'out' }}">{{ (50 + (theme.get('normalized_score') or 0) * 50.0) | digits(1) }}%</strong>
    {% endif %}
  </td>
  <td>
    {% if theme.get('status') !== 'banned' %}
      <a href="?ban={{ theme.get('id') }}" class="btn btn-xs btn-default">Ban</a>
    {% else %}
      <a href="?unban={{ theme.get('id') }}" class="btn btn-xs btn-default">Unban</a>
    {% endif %}
  </td>
  </tr>
  {% endif %}
{% endfor %}
</table>

{% endblock %}
