{% extends "event/_page-edit-event.html" %}
{% import "_macros-form.html" as formMacros %}
{% import "event/_macros-event.html" as eventMacros %}

{% block editEventBody %}

<h1>{{ event.get('title') }} tournament games <span class="count">({{ tournamentEntries.length or '0' }})</span></h1>

<p>This page lets you manage the games for which high scores are counted in the tournament's leaderboard.</p>

<div class="row">
  {% for tournamentEntry in tournamentEntries %}
    {% set entry = tournamentEntry.related('entry') %}
    <div class="col-sm-6 col-md-4">
      {{ eventMacros.entryThumb(entry) }}
      {% if entry.get('status_high_score') === 'off' %} 
        <div class="entry-thumb__form"><span class="label label-danger">High scores are not enabled</span></div>
      {% endif %}
      <form method="post" class="form-inline form-group" style="margin-top: -15px">
        <input type="hidden" name="id" value="{{ entry.get('id') }}" />
        <label for="ordering">Order&nbsp;</label>
        <input type="text" name="ordering" class="form-control" value="{{ tournamentEntry.get('ordering') }}" style="max-width: 50px"  />
        <button type="submit" name="update" class="btn btn-primary">
          <span class="fa fa-save"></span>
        </button>
        <button type="submit" name="remove" class="btn btn-default" onclick="return confirm('Remove &quot;{{ entry.get('title') | escape }}&quot; from the tournament?')">
          <span class="fa fa-trash"></span>
        </button>
      </form>
    </div>
  {% endfor %}
  <div class="col-sm-6 col-md-4">
  <h3>Add game</h3>
  <form method="post" class="form-inline">
    <input type="number" name="add" class="form-control" placeholder="Entry ID" style="max-width: 120px" />
    <input type="submit" class="btn btn-primary" value="Add" /> 
  </form>
  </div>
</div>

{% endblock %}
