{% extends "event/_page-event.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

{% set eventBanner = event.related('details').get('banner') if featuredEvent %}
{{ eventMacros.eventBanner(event) if eventBanner }}

<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10" style="margin-bottom: 20px">
      {{ eventMacros.eventJumbo(event, user, userEntry) }}
    </div>
  </div>

  {% set featuredLinks = featuredEvent.related('details').get('links') %}
  {% if featuredLinks and featuredLinks.length > 0 %}
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 well" style="padding: 10px 30px">
      <div class="row">
      {% for featuredLink in featuredLinks %}
        <div class="col-sm-6 col-md-4">
        <a class="home-featured-link" style="max-width: 600px; margin-right: 20px; display: inline-block" href="{{ featuredLink.link }}">
          <span class="fa {{ featuredLink.icon }}"></span>
          <span class="home-featured-link__title">{{ featuredLink.title }}</span>
        </a>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 {{ 'event-banner-panel' if eventBanner }}" style=" {{ 'padding-top: 10px' if eventBanner }}">
      {% for post in posts.models %}
        {{ postMacros.post(post, user) }}
      {% endfor %}

      {% if posts.models.length > 0 %}
        {{ formMacros.pagination(1, posts.pagination.pageCount, '/posts?special_post_type=announcement&event_id=' + event.get('id')) }}
      {% else %}
      <div class="well">
        No announcements yet.
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
