{% extends "event/_page-event.html" %}
{% import "post/_macros-post.html" as postMacros %}

{% block body %}
{{ super() }}

<div class="container themes">
  <div class="row">
    {% if themesPost %}
      <div class="col-lg-offset-1 col-lg-10">
        {{ postMacros.post(themesPost, user) }}
      </div>
    {% else %}
      <div class="col-md-4">
        <div id="js-view-themes">
          <h2>Theme ideas
              <input type="submit" class="btn btn-primary js-manage-themes-button" value="Manage" /></h2>
          <div class="panel themes__ideas">
            {% for userTheme in userThemes %}
              <div class="themes__idea">
                <div class="themes__idea-label">
                  {{ userTheme.get('title') }}
                </div>
                <p>
                <!-- TODO label-default label-success -->
                  <span class="label">{{ userTheme.get('status') }}</span> after {{ userTheme.get('notes') }} votes</span>
                </p>
              </div>
            {% endfor %}
            {% if userThemes.length === 0 %}
              <div class="themes__idea">
                <p>None yet. You can submit up to 3 ideas.</p>
              </div>
            {% endif %}
          </div>
        </div>
        
        <form id="js-manage-themes" method="post" style="display: none">
          <h2>Theme ideas 
              <input type="hidden" name="action" value="ideas" />
              <input type="submit" class="btn btn-primary" value="Save" />
              <input type="button" class="btn btn-default js-manage-themes-button" value="Cancel" /></h2>
          <div class="panel themes__ideas">
            {% for index in range(0, 3) %} 
              {% set userTheme = userThemes[index] if userThemes.length > index %}
              <div class="form-group themes__idea">
                <input type="text" name="idea-title[{{ index }}]" class="form-control input-lg" {{ 'disabled="disabled"' if userTheme and userTheme.get('status') !== 'active' }} placeholder="Idea #{{ index + 1 }}" value="{{ userTheme.get('title') if userTheme }}" />
                <input type="hidden" name="idea-id[{{ index }}]" value="{{ userTheme.get('id') if userTheme }}" />
                {% if userTheme %}
                <p><span class="label">{{ userTheme.get('status') }}</span> after {{ userTheme.get('notes') }} votes</span></p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </form>
        
        <div class="themes__stats" style="display: none">
          <h2>Stats</h2>
          <div>
            <ul>
              <li><b>You:</b> 3 ideas, 35 votes</li>
              <li><b>Global:</b> 50 ideas, 258 votes</li>
            </ul>
             <div class="progress">
              <div class="progress-bar progress-bar-default" role="progressbar" style="width: 60%">30 Active</div>
              <div class="progress-bar themes__progress-bar-out" role="progressbar" style="width: 40%">20 Out</div>
               <!--<div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%">10 Shortlisted</div>
              <div class="progress-bar themes__progress-bar-out" role="progressbar" style="width: 90%">40 Out</div>-->
             </div>
             The lowest-ranking theme is eliminated every <b>10</b> votes (assuming it got at least <b>5</b> votes).
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="themes__voting">
          <h2>Theme voting</h2>
          <div class="panel theme-vote">
            {% if nextTheme %}
            <form id="js-vote-form" method="post">
              <input type="hidden" name="action" value="vote" />
              <input type="hidden" name="theme-id" value="{{ nextTheme.get('id') }}" />
              <input type="hidden" name="theme-score" id="js-vote-score" />
              <table>
              <tr><td class="theme-vote__buttons">
                <button data-score="1" class="btn btn-default js-vote-button"><span class="glyphicon glyphicon-arrow-up"></span></button>
                <button data-score="-1" class="btn btn-default js-vote-button"><span class="glyphicon glyphicon-arrow-down"></span></button>
              </td><td class="theme-vote__label">
                {{ nextTheme.get('title') }}
                {{ nextTheme | prettyDump | safe }}
              </td></tr>
              </table>
            </form>
            {% endif %}
          </div>
          <div class="horizontal-bar">Votes history</div>
          <div class="row" style="display: none">
            {% for vote in votesHistory %}
            <div class="col-sm-6">
              <div class="theme-past">
                <table>
                <tr><td class="theme-past__buttons">
                  <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-arrow-up"></span></button>
                  <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-down"></span></button>
                </td><td class="theme-past__label">
                  {{ vote.related('theme').get('title') }}
                </td></tr>
                </table>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        
        <div class="themes__shortlist" style="display: none">
          <h2>Shortlist ranking
            <input type="submit" class="btn btn-primary disabled" disabled="disabled" value="Save changes" /></h2>        
          <form method="post">
            <div class="well">
              <p>These are the top 10 suggested ideas! Rank them by preference order.</p>
              <ol id="js-shortlist">
                {% for i in range(0, 10) %}
                <li class="theme-shortlist-line draggable">
                  <span class="theme-shortlist-line__handle glyphicon glyphicon-option-vertical"></span> 
                  <span class="theme-shortlist-line__label">Evolution {{ i }}</span>
                </li>
                {% endfor %}
              </ol>
            </div>
          </form>
        </div>
        
        <div class="themes__results" style="display: none">
          <h2>Shortlist results</h2>
          <div class="well">
            <p>
              <span class="pull-right">Your picks</span>
              Final rankings of the theme shortlist
            </p>
            <ol>
              {% for i in range(0, 10) %}
              <li class="theme-shortlist-line">
                <span class="theme-shortlist-line__label">Evolution {{ i }}</span>
                <span class="theme-shortlist-line__ranking pull-right label label-default">{{ [i, 1] | sum | ordinal }}</span>
              </li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/sortable.min.js"></script>
<script type="text/javascript">
// Toggle managing theme ideas
$('.js-manage-themes-button').click(function () {
  $('#js-view-themes').toggle()
  $('#js-manage-themes').toggle()
})

// Theme voting form
$('.js-vote-button').click(function (e) {
  $('#js-vote-score').val($(this).attr('data-score'))
  console.log($('#js-vote-score').val())
})

// Shortlist
var list = document.getElementById('js-shortlist')
Sortable.create(list, {
  animation: 100
})


</script>
{% endblock %}


{% macro test() %}

{% endmacro %}