{% extends "event/_page-event.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "entry/_macros-score.html" as scoreMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}
{{ super() }}

<div class="container-fluid">
  <div class="row wrap-fix">
    <div class="col-xs-12">
      <h1>Tournament games <span class="count">({{ entries.length }})</span></h1>
    
      {% if ['closed', 'results'].includes(event.get('status_tournament')) %}
        <p class="featured"><b>Note:</b> This tournament is closed. New high scores will appear here, but will no longer impact the tournament points and rankings.</p>
      {% endif %}
    </div>
    
    {% for entry in entries %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      {{ eventMacros.entryThumb(entry) }}
      {{ scoreMacros.highScores(entry, highScoresMap[entry.get('id')], user, userScoresMap[entry.get('id')]) }}
    </div>
    {% endfor %}
      
    <div class="col-xs-12">
      <div class="horizontal-bar"></div>
      <h2>Points distribution</h2>
      
      <p>Leaderboards points are awarded to all players that enter the top {{ pointsDistribution.length }} of a game. For each spot in the high scores, each player gets a number of points as per the table below. At the end of the event, the player with the most points wins the tournament!</p>
      
      <div class="row">
        <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              {% for points in pointsDistribution %}
                <th>{{ loop.index | ordinal }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for points in pointsDistribution %}
                <td>{{ points }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
