{% extends "event/_page-event.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}
{{ super() }}

<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      {% for post in posts %}
        <div class="expandable">
          {{ postMacros.post(post, user) }}
          {{ formMacros.expandCollapse() }}
        </div>
      {% endfor %}

      {% if posts.length > 0 %}
        {{ formMacros.pagination(1, pageCount, '/posts?event_id=' + event.get('id')) }}
      {% else %}
        <div class="well">
          No posts yet.
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ formMacros.expandCollapseScripts() }}
{% endblock %}