{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}

{% block body %}

<div class="container">
  {% if user %}
  <div class="row">
    <div class="col-xs-12">
      <div class="action-banner">
        <div class="row">
          <div class="col-xs-8 action-banner__info">
            {% if userEntry %}
            Your entry: <a href="{{ buildUrl(userEntry, 'entry') }}" class="action-banner__link">{{ userEntry.get('title') }}</a>
            {% else %}
            You have no entry
            {% endif %}
          </div>
          <div class="col-xs-4 text-right">
            {% if userEntry %}
            <a href="{{ buildUrl(userEntry, 'entry', 'edit') }}" class="btn btn-default">Edit entry</a>
            {% else %}
            <a href="{{ buildUrl(event, 'event', 'create-entry') }}" class="btn btn-default">Submit entry</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    {% for entry in event.related('entries').models %}
    {{ eventMacros.entryThumb(entry) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
