{% extends "base.html" %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "macros/form.macros.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <h2>{{ title }}</h2>
      
      {{ formMacros.pagination(currentPage, pageCount, paginationBaseUrl) }}
      
      {% for post in posts %}
        <div class="expandable">
          {{ postMacros.post(post, {readingUser: user, readingUserLikes: userLikes}) }}
          {{ formMacros.expandCollapse() }}
        </div>
      {% endfor %}
      {% if posts.length === 0 %}
        <div class="well">
          No posts yet.
        </div>
      {% endif %}
      
      {{ formMacros.pagination(currentPage, pageCount, paginationBaseUrl) }}

  </div>
</div>

{% endblock %}
