
{% extends "base.html" %}
{% import "macros/jumbotron.macros.html" as jumbotronMacros with context %}
{% import "event/event.macros.html" as eventMacros with context %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "user/user.macros.html" as userMacros %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "macros/navigation.macros.html" as navigationMacros %}

{% block body %}

{% if featuredEvent %}
  {{ jumbotronMacros.eventJumbotron(featuredEvent, featuredEventAnnouncement, user, entry, { shrinkedJumbo: shrinkedJumbo }) }}
{% endif %}<!-- TODO else -->
  
<div class="home-navbar">
  <div class="container">
    <div class="row">
      <div class="col-9 d-none d-sm-block">
        <div class="home-navbar__events">
          {% for event in eventSchedule %}
          <a class="home-navbar__event btn {{ 'btn-secondary' if event.get('id') === featuredEvent.get('id') else 'btn-outline-light border-0' }}"
            href="{{ routeUrl(event, 'event') }}">
                {% set isMainEvent = event.get('title').includes('Alakajam') %}
                {% if isMainEvent %}
                  <img src="{{ staticUrl('/static/images/favicon16.png') }}" class="no-border" />
                {% endif %}
                {{ event.get('title') }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-3">
        <div class="home-navbar__social">
          {{ socialLink('Twitter', 'https://twitter.com/AlakajamBang', 'twitter.svg') }}
          {{ socialLink('Discord', 'https://discord.gg/yZPBpTn', 'discord.svg') }}
          {{ socialLink('IRC', '/chat', 'irc.svg') }}
          {{ socialLink('Reddit', 'https://www.reddit.com/r/alakajam', 'reddit.svg') }}
          {{ socialLink('Github', 'https://github.com/alakajam-team', 'github.svg') }}
          <a href="/post/1070/finances-of-the-alakajam-association" class="btn btn-secondary">
            <span class="fas fa-donate"></span>
            Donate
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% if user and suggestedEntries and suggestedEntries.length > 0 %}
    <div class="horizontal-bar">
      Suggested entries to rate {{ formMacros.tooltip('Rate and comment other games to increase your karma. The Top 4 are featured on the front page!') }}
    </div>
    <div class="home-grid game-grid pb-1">
    {% for entry in suggestedEntries %}
      <div class="home-entry game-grid-entry">
      {{ eventMacros.entryThumb(entry) }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
  
  <div class="row">
    <div class="col-9">
      {% if posts.length > 0 %}
      <div class="d-flex mt-3">
        <div class="horizontal-bar mt-0">Latest posts</div>
        <div class="mt-3 ml-2 text-right">{{ eventMacros.eventShortcutMyPost(user, featuredEvent, userPost, { buttonsOnly: true })
            if user and featuredEvent }}</div>
      </div>

      {% for post in posts %}
        <div class="expandable">
          {{ postMacros.post(post, {readingUser: user, readingUserLikes: userLikes }) }}
          {{ navigationMacros.expandCollapse() }}
        </div>
      {% endfor %}
      {{ navigationMacros.pagination(1, pageCount, '/posts') }}
    {% endif %}
    </div>

    <div class="col-3">
      <div class="horizontal-bar">Latest comments</div>

      {{ postMacros.comments(comments, { readingUser: user, readOnly: true, linkToNode: true, preview: true }) }}
    </div>
  </div>
</div>

<!--
<div class="container {{ 'event-banner-offset' if featuredEventBanner }}">
  {% set shortlistEliminationInfo = featuredEvent.related('details').get('shortlist_elimination') if featuredEvent %}
  {% if shortlistEliminationInfo.stream %}
  <div>
      <div style="margin-bottom: 20px">
        <div id="twitch-embed"></div>
      </div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
          width: '100%',
          height: 500,
          channel: "{{ shortlistEliminationInfo.stream }}"
        });
      </script>
  </div>
  {% endif %}

  {% if not user %}
  <div class="home-welcome">
    <img class="home-welcome__icon" src="{{ staticUrl('/static/images/welcome.png') }}" />
    <div class="home-welcome__title">New website unlocked</div>
      Welcome to <div class="home-welcome__brand">Alakajam!</div>, a game making community. We host informal game jams!
      <a class="home-welcome__more" href="/article/docs">Learn&nbsp;more</a>
  </div>
  {% endif %}

</div>

<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9 pr-3">
      {% if not featuredEvent and not featuredPost %}
        <h1 class="text-center">Next event not announced yet.</h1>
      {% endif %}
    </div>
  </div>
</div>
-->
{% endblock %}

{% macro featuredLink (event, featuredEvent) %}
{% set mainEvent = event.get('title').includes('Alakajam') %}
<div class="home-scheduled-event {{ 'featured' if featuredEvent and featuredEvent.get('id') === event.get('id') }} {{ 'main' if mainEvent }}">
  <div class="home-scheduled-event__arrow"></div>
  <a class="home-scheduled-event__title" href="{{ routeUrl(event, 'event', 'results' if event.get('status_results') === 'results') }}">
    {% if mainEvent %}
      <img src="{{ staticUrl('/static/images/favicon16.png') }}" class="home-scheduled-event__logo no-border" />
    {% endif %}
    {{ event.get('title') }}
  </a>
  <div>
    <span class="home-scheduled-event__dates">
      {{ event.get('display_dates') }} 
    </span>
    {% if event.get('status') === 'closed' %}
      - <a href="{{ routeUrl(event, 'event') }}" class="home-scheduled-event__entries">{{ event.get('entry_count') }} entries</a>
    {% endif %}
  </div>
  <div class="home-scheduled-event__label">
    {% if event.get('status') === 'open' %}
      <span class="badge badge-secondary">On now!</span>
    {% elseif event.get('status') === 'pending' %}
      <span class="badge badge-light">Up next!</span>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro socialLink (title, url, iconName) %}
<a href="{{ url }}" data-toggle="tooltip" title="{{ title }}">
  <img src="{{ staticUrl('/static/images/social/' + iconName) }}" class="footer__icon no-border" /> 
</a>
{% endmacro %}
