{% extends "base.html" %}
{% import "macros/jumbotron.macros.html" as jumbotronMacros with context %}
{% import "event/event.macros.html" as eventMacros with context %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "user/user.macros.html" as userMacros %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "macros/navigation.macros.html" as navigationMacros %}

{% block body %}

{# ===== WELCOME BANNER ===== #}

{% if not user %}
<div class="home-welcome">
  <div class="home-welcome__container container">
    <img class="home-welcome__icon" src="{{ staticUrl('/static/images/welcome.png') }}" />
    <div>
      <div class="home-welcome__title">New website unlocked</div>
      Welcome to <span class="home-welcome__brand">Alakajam!</span>, a game making community. We host informal game jams!
      <a class="home-welcome__more" href="/article/about">Learn&nbsp;more...</a>
    </div>
  </div>
</div>
{% endif %}


{# ===== EVENT JUMBOTRON ===== #}

{% if featuredEvent %}
  {% if featuredPost %}
    <div class="home-welcome pt-3">
      <div class="container">{{ postMacros.post(featuredPost) }}</div>
    </div>
  {% endif %}
  {{ jumbotronMacros.eventJumbotron(featuredEvent, featuredEventAnnouncement, user, entry, tournamentScore, { shrinkedJumbo: shrinkedJumbo, inviteToJoin: inviteToJoin }) }}
{% else %}
<div class="event-jumbotron" style="{{ jumbotronMacros.backgroundImage(featuredEvent) }}">
  <div class="container">
    {% if featuredPost %}
      {{ postMacros.post(featuredPost) }}
    {% else %}
      <h1 class="card card-body text-center">Next event not announced yet.</h1>
    {% endif %}
  </div>
</div>
{% endif %}


{# ===== EVENT SCHEDULE NAVBAR ===== #}

<div class="home-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-3">
        <div class="home-navbar__events">
          <a class="home-navbar__events-home btn btn-outline-light border-0" href="/events">
            <span class="fa fa-calendar-alt"></span>
            <span class="d-none d-sm-inline">Event<br />schedule</span>
          </a>
          {% for event in eventSchedule %}
            <a class="home-navbar-event d-sm-inline-flex d-none btn 
              {{ 'btn-secondary' if featuredEvent and event.get('id') === featuredEvent.get('id') else 'btn-outline-light border-0' }}
              {{ 'd-none d-lg-inline-block' if loop.index === 1 }}"
              href="{{ routeUrl(event, 'event') }}">
                <div class="home-navbar-event__legend">
                  <div>
                    {{ event.get('title') }}
                    {% set isMainEvent = event.get('title').includes('Alakajam') %}
                    {% if isMainEvent %}
                      <img src="{{ staticUrl('/static/images/favicon16.png') }}" class="no-border" />
                    {% endif %}
                  </div>
                  <div class="home-navbar-event__dates">{{ event.get('display_dates') }}</div>
                </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-3 col-9">
        <div class="home-navbar__social">
          {{ socialLink('Twitter', 'https://twitter.com/AlakajamBang', 'twitter.svg') }}
          {{ socialLink('Discord', 'https://discord.gg/yZPBpTn', 'discord.svg') }}
          {{ socialLink('IRC', '/chat', 'irc.svg') }}
          {{ socialLink('Reddit', 'https://www.reddit.com/r/alakajam', 'reddit.svg') }}
          {{ socialLink('Github', 'https://github.com/alakajam-team', 'github.svg') }}
          <a href="/post/1070/finances-of-the-alakajam-association" class="btn btn-secondary">
            <span class="fas fa-donate"></span>
            Donate
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  {# ===== GAME RATING SUGGESTIONS ===== #}

  {% if user and suggestedEntries and suggestedEntries.length > 0 %}
    <div class="horizontal-bar">
      Suggested entries to rate {{ formMacros.tooltip('Rate and comment other games to increase your karma. The Top 4 are featured on the front page!') }}
    </div>
    <div class="home-grid game-grid pb-1">
    {% for entry in suggestedEntries %}
      <div class="game-grid-entry">
      {{ eventMacros.entryThumb(entry) }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
  

  <div class="row">

    {# ===== LATEST BLOG POSTS ===== #}

    <div class="col-md-9 col-12">
      {% if posts.length > 0 %}
      <div class="d-flex mt-3">
        <div class="horizontal-bar mt-0">Latest posts</div>
        <div class="mt-3 ml-2 text-right">{{ eventMacros.eventShortcutMyPost(user, featuredEvent, userPost, { buttonsOnly: true })
            if user and featuredEvent }}</div>
      </div>

      {% for post in posts %}
        {{ postMacros.post(post, {readingUser: user, readingUserLikes: userLikes }) }}
      {% endfor %}
      {{ navigationMacros.pagination(1, pageCount, '/posts') }}
    {% endif %}
    </div>

    {# ===== LATEST COMMENTS ===== #}

    <div class="col-md-3 col-12">
      <div class="horizontal-bar">Latest comments</div>

      {{ postMacros.comments(comments, { readingUser: user, readOnly: true, linkToNode: true, preview: true }) }}
    </div>
  </div>
</div>
{% endblock %}


{% macro socialLink (title, url, iconName) %}
<a href="{{ url }}" data-toggle="tooltip" title="{{ title }}">
  <img src="{{ staticUrl('/static/images/social/' + iconName) }}" class="footer__icon no-border" /> 
</a>
{% endmacro %}
