# Local files
node_modules/
config.js

# Generated output
dist/

# Docs
docs/*.html
docs/*/

# Data
data*/
coverage/
tests/data/
static/uploads/
*.log
*.out
*.pid
/.*

# OS-specific garbage
.DS_Store
*~

# Misc
*.psd
.vscode
yarn.lock
