# Local files
node_modules/
config.js

# Generated output
static/css/
static/js/site.js

# Docs
docs/*.html
docs/*/

# Data
data*/
tests/data/
static/build
static/uploads
*.log
*.out
*.pid

# OS-specific garbage
.DS_Store
*~

# Misc
*.psd
.vscode
yarn.lock
