{% extends "_page.html" %}

{% block body %}

{% set statusTournament = event.get('status_tournament') %}
{% if user and (not statusTournament or statusTournament === 'disabled') %}
<div class="container" style="margin-bottom: 20px">
  <div class="row">
    <div class="col-sm-6">
      {{ eventMacros.eventShortcutMyEntry(user, event, userEntry) }}
    </div>
    <div class="col-sm-6">
      {{ eventMacros.eventShortcutMyPost(user, event, userPost) }}
    </div>
  </div>
</div>
{% endif %}

{% endblock %}