{% extends "event/_page-edit-event.html" %}
{% import "event/_macros-edit-event.html" as editEventMacros %}
{% import "_macros-form.html" as formMacros %}

{% block editEventBody %}

<h1 id="title-display"></h1>

<form method="post" enctype="multipart/form-data" class="js-warn-on-unsaved-changes">
{{ csrfToken() | safe }}

<div class="panel">
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="js-tab-container active"><a class="js-tab-button" href="#appearance" data-tab-selector="#js-appearance">Appearance</a></li>
  <li role="presentation" class="js-tab-container"><a class="js-tab-button" href="#state" data-tab-selector="#js-state">State</a></li>
  <li role="presentation" class="js-tab-container"><a class="js-tab-button" href="#jamconfig" data-tab-selector="#js-config">Jam config</a></li>
</ul>

<div id="js-appearance" class="tab-content js-tab">
  <div class="row">
    <div class="col-md-7">
      <div class="form-group input-group-lg">
        <label for="title">Title</label>
        <input type="text" class="form-control js-sync-text js-sync-slug" name="title" value="{{ event.get('title') if event }}" required
          data-sync-text-display-selector="#title-display"
          data-sync-text-default="My event" 
          data-sync-slug-input-selector="#name" />
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group input-group-lg">
        <label for="name">Slug</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ event.get('name') if event }}" required />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="display-dates">Displayed dates</label>
        <input type="text" class="form-control" name="display-dates" value="{{ event.get('display_dates') if event }}" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="title">Event start date {{ formMacros.tooltip('The jam start date. Used to sort events, but also to let state presets guess deadlines correctly.') }}</label>
        {{ formMacros.dateTimePicker('started-at', event.get('started_at') if event, { minView: '2', momentFormat: 'YYYY-MM-DD', pickerFormat: 'yyyy-mm-dd' }) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Displayed theme</label>
        <input type="text" class="form-control" name="display-theme" value="{{ event.get('display_theme') if event }}" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="status-rules">Rules blog post</label>
        <div>
        {{ formMacros.radio('status-rules', 'off', 'Off',
          event.get('status_rules') if event else 'off') }}
        {{ formMacros.radio('status-rules', '', '', 
          event.get('status_rules') if event, { textField: true, placeholder: 'Post ID', textFieldEnabled: isId(event.get('status_rules')) if event}) }}
        </div>
      </div>
    </div>
  </div>

  {{ editEventMacros.linksForm(event.related('details') if event) }}

  <div class="horizontal-bar">
    Pictures
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="logo">Logo</label>
        {{ formMacros.pictureInput('logo', event.get('logo') if event, { noPanel: true, model: event }) }}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="logo">Banner</label>
        {% set eventDetails = event.related('details') if event %}
        {{ formMacros.pictureInput('banner', eventDetails.get('banner') if eventDetails, { noPanel: true, model: eventDetails }) }}
      </div>
    </div>
  </div>
</div>

<div id="js-state" class="tab-content js-tab">
  <div class="form-group">
    <label for="logo">Preset</label>
    <select id="js-edit-event-status-preset" name="event-preset-id" class="js-select" style="width: 100%"
        data-placeholder="None (Custom state)" data-allow-clear="true">
      <option value=""></option>
      {% for eventPresetData in eventPresetsData %}
      <option value="{{ eventPresetData.id }}" data-attributes="{{ eventPresetData | stringify }}"
          {{ 'selected' if event and event.get('event_preset_id') == eventPresetData.id }}>
        {{ eventPresetData.title }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div id="js-edit-event-status-error" class="alert alert-danger" style="display: none"></div>
  <div class="form-group">
    <label for="logo">Advanced state form</label>
    <div>
      <div id="js-edit-event-status-toggles" class="btn-group">
        <input type="button" class="btn btn-default {{ 'active' if not event or event.get('event_preset_id') }}" value="Hide" />
        <input type="button" class="btn btn-default {{ 'active' if event and not event.get('event_preset_id') }}" value="Show" />
      </div>
    </div>
  </div>
  <div id="js-state-advanced" style="display: none">
    {{ editEventMacros.countdownForm(event) }}
    {{ editEventMacros.stateForm(event) }}
  </div>
</div>

<div id="js-config" class="tab-content js-tab">
    {{ editEventMacros.jamConfigForm(event, event.related('details') if event) }}
</div>

<div class="tab-content">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        {% if event and event.id %}
          {% if event.get('status') === 'pending' %}
            <a href="{{ buildUrl(event, 'event', 'delete') }}" onclick="return confirm('Do you really want to delete this event? This cannot be undone.')" class="btn btn-danger {{ 'disabled' if not user.get('is_admin') }}" {{ 'title="Only admins can delete events"' if not user.get('is_admin') }}>Delete</a>
          {% else %}
            <div class="btn btn-danger has-tooltip disabled" title data-placement="top" data-toggle="tooltip" data-original-title="Only pending events can be deleted">Delete</div>
          {% endif %}
        {% endif %}
      </div>
      <div class="col-md-8 text-right">
        <!-- TODO Publish -->
        <input type="submit" class="btn btn-primary" value="Save changes" />
        <a class="btn btn-default" href="#" onclick="history.back()">Cancel</a> 
      </div>
    </div>
  </div>
</div>

</div>

</form>
{% endblock %}

{% block scripts %} 
{{ formMacros.codeMirrorScripts() }}
{% endblock %}
