{% extends "admin/admin.base.html" %}
{% import "post/post.macros.html" as postMacros with context %}

{% block adminBody %}

<h1>Announcements</h1>

<div class="form-group">
  {% if featuredEvent %}
    <a href="{{ buildUrl(null, 'post', 'create', { eventId: featuredEvent.id, specialPostType: 'announcement' }) }}" class="btn btn-warning">Create (on featured <b>{{ featuredEvent.get('title') }}</b>)</a>
  {% endif %}
  <a href="{{ buildUrl(null, 'post', 'create', { specialPostType: 'announcement' }) }}" class="btn btn-warning">Create (no event)</a>
  <a href="{{ buildUrl(null, 'post', 'create', { specialPostType: 'hidden' }) }}" class="btn btn-warning">Create hidden post</a>
</div>

{% if draftPosts.length > 0 %}
  <h2>Drafts</h2>
  {% for post in draftPosts %}
    {{ postMacros.post(post, {allowMods: true, hideBody: true, readingUser: user, readingUserLikes: userLikes }) }}
  {% endfor %}

  <h2>Published</h2>
{% endif %}

{% for post in publishedPosts %}
  {{ postMacros.post(post, {allowMods: true, hideBody: true, readingUser: user, readingUserLikes: userLikes }) }}
{% endfor %}

{% if publishedPosts.length === 0 %}
  <div class="well">Nothing yet!</div>
{% endif %}

{% endblock %}
