{% extends "admin/admin.base.html" %}
{% import "macros/form.macros.html" as formMacros %}
{% import "event/event.macros.html" as eventMacros %}

{% block adminBody %}

<h1>Tags <span class="count">({{ tags.length }})</span></h1>

{% if detailedTag %}
  <h2>Tag usage: {{ detailedTag.get('value') }}</h2>

  <p>
    <a class="btn btn-default btn-sm" href="?delete={{ detailedTag.get('id') }}&amp;sortBy={{ sortBy }}"
      onclick="return confirm('This cannot be reverted. The tag will be removed from all entries using it. Continue?')">
      Delete this tag
    </a>
  </p>

  <div class="row">
    {% for entry in detailedTag.related('entries').models %}
      <div class="col-md-4" style="margin-bottom: 5px">
      {{ eventMacros.entrySmallThumb(entry) }}
      </div>
    {% endfor %}
  </div>

  <div class="horizontal-bar"></div>
{% endif %}

<div class="form-group">
<div class="form-inline">
  <a href="?sortBy=date" class="btn btn-default" {{ 'disabled' if sortBy === 'date' }}>Sort by date</a>
  <a href="?" class="btn btn-default" {{ 'disabled' if not sortBy }}>Sort by usage</a>
</div>
</div>

<table class="table">
<thead>
  <th>Tag</th>
  <th>Usage count</th>
  <th>Actions</th>
</thead>
<tbody>
  {% for tag in tags %}
  <tr>
    <td><a href="?view={{ tag.id }}&amp;sortBy={{ sortBy }}">{{ tag.value }}</a></td>
    <td>{{ tag.count }}</td>
    <td>
      <a class="btn btn-default btn-sm" href="?view={{ tag.id }}&amp;sortBy={{ sortBy }}">Details</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
