{% extends "admin/admin.base.html" %}
{% import "event/manage/event-manage.macros.html" as editEventMacros %}

{% block adminBody %}

<h1>Event presets</h1>

{% if not editEventPreset %}
  <p>Event presets are just a way to simplify event administration: they allow to change plenty of event settings (states, call to action) in a single step.</p>

  <p>
    <a href="?create" class="btn btn-primary">Create</a> 
  </p>
{% else %}
  <div class="well">
    <h2><span id="preset-header"></span></h2>
    <form method="post" action="?">
      {{ csrfToken() | safe }}
      <div class="form-group">
        <label for="title">Preset title</label>
        <input type="text" class="form-control js-sync-text" name="title" value="{{ editEventPreset.get('title') }}"
          data-sync-text-display-selector="#preset-header" data-sync-text-default="New"  />
      </div>

      {{ editEventMacros.countdownForm(editEventPreset, { countdownOffset: countdownOffset }) }}

      <div class="alert alert-info">
        <b>Offset from start</b>: Instead of an actual date for the deadline, set an offset in days, hours and minutes from the event start. This delay will be added to the start date of the actual event. Negative numbers are supported.
      </div>
      {{ editEventMacros.stateForm(editEventPreset) }}
      
      <div class="form-group">
        <button name="save" type="submit" class="btn btn-primary">Save</button>
        <a href="?" class="btn btn-default">Cancel</a>
        {% if editEventPreset.get('id') %}
          <div class="pull-right">
            <input type="hidden" name="id" value="{{ editEventPreset.get('id') }}" />
            <button type="submit" class="btn btn-danger" name="delete" onclick="return confirm('Delete this preset?')">Delete</button>
          </div>
        {% endif %}
      </div>
    </form>
  </div>
{% endif %}

<table class="table">
<thead>
<tr>
  <th>Title</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
{% for eventPreset in eventPresets %}
<tr>
  <td>{{ eventPreset.get('title') }}</td>
  <td>
    <a href="?edit={{ eventPreset.get('id') }}" class="btn btn-primary">Edit</a>
    <a href="?create&reference={{ eventPreset.get('id') }}" class="btn btn-default">Copy</a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}