{% extends "admin/admin.base.html" %}

{% block adminBody %}

<h1>Server status</h1>

<h2>General</h2>

<table class="table" style="max-width: 300px">
<tbody>
  <tr>
    <td>Dev mode</td>
    <td><span class="badge badge-secondary">{{ devMode }}</span></td>
  </tr>
  <tr>
    <td>Picture resizing enabled</td>
    <td><span class="badge badge-secondary">{{ pictureResizeEnabled }}</span></td>
  </tr>
</tbody>
</table>

<h2>Caches</h2>

{% if config.DEBUG_DISABLE_CACHE %}
  Caching disabled in <code>config.js</code>.
{% else %}

  {% for cacheName, cache in caches %}
  <h4>{{ cacheName }}</h4>

  <div class="card card-body">
    <div class="float-right">
      <a href="/admin/status?clearCache={{ cacheName }}" class="btn btn-danger">Clear</a>
    </div>

    <ul>
      {% set cacheStats = cache.getStats() %}
      <li>Key count: <b>{{ cacheStats.keys }}</b></li>
      <li>Hits: <b>{{ cacheStats.hits }}</b></li>
      <li>Misses: <b>{{ cacheStats.misses }}</b></li>
      <li>Keys size: <b>{{ cacheStats.ksize }}</b></li>
      <li>Values size: <b>{{ cacheStats.vsize }}</b></li>
    </ul>

    <table class="table" style="max-width: 300px">
    <tbody>
      <tr>
        <th>Key</th>
        <th style="min-width: 180px">TTL</th>
        <th>Value</th>
      </tr>
      {% for key in cache.keys() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ cache.getTtl(key) | dateTime(user) }}</td>
        <td style="max-width: 500px; overflow: auto">
          {% if not constants.CONFIDENTIAL_CACHE_KEYS.includes(key) %}
            {% set value = cache.get(key) | prettyDump %}
            {% if value.length > 100 %}
              <input type="button" class="btn btn-sm btn-outline-primary" value="Toggle" onclick="$('#{{ key }}').toggle()" />
              <div id="{{ key }}" style="display: none">
                {{ value | safe }}
              </div>
            {% else %}
              {{ value | safe }}
            {% endif %}
          {% else %}
            <span class="label">TOP SECRET</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>
  {% if not loop.last %}
    <div class="horizontal-bar"></div>
  {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}