{% extends "event/_page-event.html" %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "macros/navigation.macros.html" as navigationMacros %}

{% block body %}
{{ super() }}

<div class="container thin">
  {% for post in posts %}
    <div class="expandable">
      {{ postMacros.post(post, {readingUser: user, readingUserLikes: userLikes}) }}
      {{ navigationMacros.expandCollapse() }}
    </div>
  {% endfor %}

  {% if posts.length > 0 %}
    {{ navigationMacros.pagination(1, pageCount, '/posts?event_id=' + event.get('id')) }}
  {% else %}
    <div class="card card-body">
      No posts yet.
    </div>
  {% endif %}
</div>

{% endblock %}
