{% extends "base.html" %}
{% import "event/event.macros.html" as eventMacros with context %}
{% import "post/post.macros.html" as postMacros with context  %}

{% block body %}

<div class="container thin">
  <h1>My {{ event.get('title') }} dashboard</h1>

  <div class="card card-body">
    <p>Click the link below to join the event and access your participation dashboard.</p>
    
    <p><a href="{{ routeUrl(event, 'event', 'join') }}" class="btn btn-lg btn-alt">Join event</a></p>
    
    {% set participationCount = event.related('details').get('participation_count') %}
    <p><b>{{ participationCount }} persons</b> joined so far{{ ', be among the first to join the event' if participationCount < 10 }}!</p>
  </div>
</div>

{% endblock %}
