{% import "macros/form.macros.html" as formMacros with context %}

{% macro entryThumb(entry, options = {}) %}
<div class="entry-thumb">
  <a href="{{ routeUrl(entry, 'entry') }}">
    {% if entry.get('description') %}
    <div class="entry-thumb__description-container">
      <div class="entry-thumb__description">{{ entry.get('description') }}</div>
    </div>
    {% endif %}
    {% set picturePath = entry.pictureThumbnail() %}
    <div class="entry-thumb__picture js-lazy" data-src="{{ pictureUrl(picturePath, entry) if picturePath else staticUrl('/static/images/default-entry.png') }}">
      {% if not options.hideMedals %}
        <div class="entry-medals">
          {%- set details = entry.related('details') -%}
          {%- if details -%}
          {%- for categoryIndex in range(1, 7) -%}
            {%- set ranking = details.get('ranking_' + categoryIndex) -%}
            {%- if ranking and ranking <= 3 -%}
              <span class="entry-results__category-medal medal-category-{{categoryIndex}} medal-ranking-{{ranking}}"></span>
            {%- endif %}
          {%- endfor -%}
          {%- endif -%}
        </div>
      {% endif %}
      <div class="entry-thumb__picture-gradient"></div>
    </div>
    <div class="entry-thumb__title">{{ entry.get('title') }}</div>
  </a>
  <div class="entry-thumb__author" >by 
    {% for userRole in entry.sortedUserRoles() -%}
     <a href="{{ routeUrl(userRole, 'user') }}">
      {{- userRole.get('user_title') -}}
     </a>{{- ', ' if not loop.last -}}
    {%- endfor %}
  </div>
  <div class="entry-thumb__footer">
    {% if options.showEvent %}
      <span class="entry-thumb__event">
        {% if entry.get('event_id') %}
          on <a href="{{ routeUrl(entry.related('event'), 'event') }}">{{ entry.related('event').get('title') }}</a>
        {% elseif entry.get('external_event') %}
          on {{ entry.get('external_event') }}
        {% endif %}
      </span>
    {% endif %}
    {% if options.showKarma %}
      <span class="entry-thumb__karma" data-toggle="tooltip"
          title="Rate and review other games to increase your karma, and get featured higher on the list!">
        Karma: {{ entry.get('karma') | digits(0) }} 
      </span>
    {% endif %}
    {% for platform in entry.get('platforms') %}
      {{ entryPlatformIcon(platform, { hideLabel: true }) }}
    {% endfor %}
    <span class="badge badge-secondary badge-sm">{{ entry.get('division') | capitalize }}</span>
  </div>
</div>
{% endmacro %}

{% macro entrySmallThumb(entry, options = {}) %}
<div class="entry-small-thumb" style="{{ 'box-shadow: none' if options.noShadow }}">
  {% if entry and entry.get('id') %}
    {% set picturePath = entry.pictureIcon() %}
    <div class="entry-small-thumb__details">
      <a href="{{ routeUrl(entry, 'entry') }}">
        <div class="entry-small-thumb__picture js-lazy" data-src="{{ pictureUrl(picturePath, entry) if picturePath else staticUrl('/static/images/default-entry.png') }}"></div>
        <div class="entry-small-thumb__title"  href="{{ routeUrl(entry, 'entry') }}">
          {{ entry.get('title') }}
        </div>
      </a>
      <div class="entry-small-thumb__author" >by 
      {% for userRole in entry.sortedUserRoles() %}
       <a href="{{ routeUrl(userRole, 'user') }}">
        {{ userRole.get('user_title') }}
       </a>{{ ', ' if not loop.last }}
      {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="text-center"><h4 style="padding-top: 18px">{{ options.customMessage or 'No entry' }}</h4></div>
  {% endif %}
</div>
{% endmacro %}

{% macro eventBanner (event) %}
<div class="event-banner__container">
<div class="event-banner__origin">
  <div class="event-banner" style="background-image: url('{{ event.related('details').get('banner') if (event and event.related('details').get('banner')) else staticUrl('/static/images/default-background.png') }}')">
    <div class="event-banner__gradient"></div>
  </div>
</div>
</div>
{% endmacro %}

{% macro entryPlatformIcon(platform, options = {}) %}
  {% set icon = constants.ENTRY_PLATFORM_ICONS[platform] or constants.ENTRY_PLATFORM_DEFAULT_ICON %}
  <span class="{{ icon }}" data-toggle="tooltip" data-placement="top" title="{{ platform }}"></span> {{ platform if not options.hideLabel }}
{% endmacro %}

{% macro eventThemeStatus (theme, options = {}) %}
  <span class="badge {{ 'badge-success' if theme.get('status') == 'shortlist' }} 
      {{ 'badge-secondary' if theme.get('status') == 'active' }}"><!--
    -->{% if theme.get('status') === 'banned' %}<!--
      -->{{ 'Banned' if options.uncensored else 'Out' }}<!--
    -->{% elseif theme.get('status') === 'duplicate' %}<!--
      -->Idea already submitted<!--
    -->{% else %}<!--
      -->{{ theme.get('status') | capitalize }}<!--
    -->{% endif %}<!--
  --></span>
{% endmacro %}

{% macro eventShortcutMyEntry(user, event, userEntry) %}
  <div class="action-banner">
    <div class="action-banner__title">
      <span class="mr-2">Your entry</span>
      {% if userEntry %}
        <a href="{{ routeUrl(userEntry, 'entry', 'edit') }}" class="btn btn-sm btn-primary">
          <span class="fas fa-pencil-alt"></span>
          Edit entry
        </a>
      {% elseif event.get('status_entry') !== 'open' and event.get('status_entry') !== 'open_unranked' %}
        <a href="#"class="btn btn-sm btn-outline-secondary disabled">
          <span class="fas fa-plus"></span>
          Create entry
        </a>
      {% else %}
        <a href="{{ routeUrl(event, 'event', 'create-entry') }}" class="btn btn-sm btn-primary">
          <span class="fas fa-plus"></span>
          Create entry
        </a>
      {% endif %}
    </div>
    {% if event.get('status_entry') === 'closed' %}
      {% set customMessage = "Entry submissions are closed" %}
    {% elseif event.get('status_entry') !== 'open' and event.get('status_entry') !== 'open_unranked' %}
      {% set customMessage = "Entry submissions are not open yet" %}
    {% endif %}
    {{ entrySmallThumb(userEntry, { customMessage: customMessage }) }}
  </div>
{% endmacro %}

{% macro eventShortcutMyPost(user, event, userPost, options = {}) %}
  <div class="action-banner {{ 'buttons-only' if options.buttonsOnly }}">
    <div class="action-banner__title">
      {% if not options.buttonsOnly %}
        <span class="mr-2">{{ 'Your last post' if not options.buttonsOnly }}</span>
      {% endif %}
      <div class="btn-group  btn-group-sm">
      {% if userPost and not options.buttonsOnly %}
        <a href="{{ routeUrl(userPost, 'post', 'edit') }}" class="btn btn-sm btn-primary mr-1">
          <span class="fas fa-pencil-alt"></span>
          <span class="d-none d-lg-inline">Edit</span>
        </a>
      {% endif %}
      <a href="{{ routeUrl(null, 'post', 'create', { eventId: event.get('id') }) }}" class="btn btn-sm btn-primary mr-1">
        <span class="fas fa-plus"></span>
        <span class="d-none d-lg-inline">Create post</span>
      </a>
      <a href="{{ routeUrl(user, 'user', 'posts') }}" class="btn btn-sm btn-primary d-none d-md-inline-block">
        <span class="fas fa-folder"></span>
        My posts
      </a>
      </div>
    </div>
    {% if not options.buttonsOnly %}
    <div class="action-banner__post">
      {% if userPost %}
        <a href="{{ routeUrl(userPost, 'post') }}">{{ userPost.get('title') }}</a>
      {% else %}
        <div class="text-center"><h4 style="padding-top: 13px">No post</h4></div>
      {% endif %}
    </div>
    {% endif %}
  </div>
{% endmacro %}
