{% extends "base.html" %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "macros/navigation.macros.html" as navigationMacros with context %}
{% import "macros/jumbotron.macros.html" as jumbotronMacros with context %}

{% block body %}

{{ jumbotronMacros.eventJumbotron(event, null, user, userEntry, { shrinkedJumbo: shrinkedJumbo }) }}

<div class="container thin mt-3">
  {% for post in posts.models %}
    {{ postMacros.post(post, {readingUser: user, readingUserLikes: userLikes}) }}
    <div class="spacing"></div>
  {% endfor %}

  {% if posts.models.length > 0 %}
    {{ navigationMacros.pagination(1, posts.pagination.pageCount, '/posts?special_post_type=announcement&event_id=' + event.get('id')) }}
  {% else %}
  <div class="card card-body">
    No announcements yet.
  </div>
  {% endif %}
</div>

{% endblock %}
