{% extends "event/_page-event.html" %}
{% import "event/event.macros.html" as eventMacros %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "macros/games-search.macros.html" as gamesSearchMacros %}
{% import "macros/navigation.macros.html" as navigationMacros %}

{% block body %}
{{ super() }}

<div class="container-fluid {{ 'spacing' if user }}">
  <div class="row">

    <div class="col-sm-3">
      {{ gamesSearchMacros.searchForm(context(), {fixedEvent: true}) }}

      {% if user and ['voting', 'voting_rescue', 'results'].includes(event.get('status_results')) %}
      <div class="list-group">
        <div class="list-group-item">
          <h4 style="margin: 0">Recently rated</h4>
        </div>
        <div class="list-group-item">
          <p><a href="{{ routeUrl(event, 'event', 'ratings') }}" class="btn btn-primary">Manage ratings</a></p>
          {% for vote in voteHistory %}
          <p>
            {{ eventMacros.entrySmallThumb(vote.related('entry')) }}
          </p>
          {% endfor %}
          {% if voteHistory.length === 0 %}
          You didn't rate entries yet.
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    
    <div class="col-sm-9">
      <h1>
        Games
        <span class="count">({{ entriesCollection.pagination.rowCount }})</span>
        {{ gamesSearchMacros.searchDescription(searchOptions, null, {fixedEvent: true}) }}
      </h1>
      
      {% if rescueEntries.length > 0 %}
      {% set entryThumbOptions = { showKarma: true } %}
      <div class="entries-rescue">
      <h3>Rescue these games by rating them!</h3>
        <div class="game-grid">
          {% for entry in rescueEntries %}
          <div class="game-grid-entry">
            {{ eventMacros.entryThumb(entry, entryThumbOptions) }}
            <div class="entry-thumb__score">
              <span class="pull-right">{{ requiredVotes - entry.related('details').get('rating_count') }}</span>
              Missing ratings
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="horizontal-bar"> 
        Items 
        {% if entriesCollection.pagination.rowCount > entriesCollection.length %}
          {% set firstItemIndex = 1 + (entriesCollection.pagination.page - 1) * entriesCollection.pagination.pageSize %}
          {{ firstItemIndex }} - {{ firstItemIndex + entriesCollection.length - 1 }}
        {% endif %}
        sorted by Karma {{ formMacros.tooltip('Rate and review other games to increase your karma, and get featured higher on the list!') }}</div>

        {{ navigationMacros.pagination(entriesCollection.pagination.page, entriesCollection.pagination.pageCount, path) }}

        <div class="game-grid">
          {% set entryThumbOptions = { showKarma: true } %}
          {% for entry in entriesCollection.models %}
          <div class="game-grid-entry">
            {{ eventMacros.entryThumb(entry, entryThumbOptions) }}
          </div>
          {% endfor %}
          {% if entriesCollection.length === 0 %}
          <div class="well">No entries found.</div>
          {% endif %}
        </div>

        {{ navigationMacros.pagination(entriesCollection.pagination.page, entriesCollection.pagination.pageCount, path) }}

      </div>
    </div>
  </div>

  {% endblock %}
