{% extends "base.html" %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "macros/navigation.macros.html" as navigationMacros %}

{% block body %}

<div class="container thin">
  {% if user %}
  <div class="container thin">
    {{ eventMacros.eventShortcutMyPost(user, event, userPost) }}
  </div>
  {% endif %}

  {% for post in posts %}
    {{ postMacros.post(post, {readingUser: user, readingUserLikes: userLikes}) }}
  {% endfor %}

  {% if posts.length > 0 %}
    {{ navigationMacros.pagination(1, pageCount, '/posts?event_id=' + event.get('id')) }}
  {% else %}
    <div class="card card-body">
      No posts yet.
    </div>
  {% endif %}
</div>

{% endblock %}
