{% extends "event/manage/event-manage.base.html" %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "event/event.macros.html" as eventMacros %}

{% block editEventBody %}

<h1>{{ event.get('title') }} rankings <span class="count">({{ entries.length }})</span></h1>

<div class="mb-4">
  <div class="form-group">
    <div class="btn-group" role="group" aria-label="Divisions">
      {% for division, _ in event.get("divisions") %}
        {% if division !== 'unranked' %}
          <a href="?division={{ division }}&categoryIndex={{ currentCategoryIndex }}"
            class="btn btn-primary {{ 'active' if divisionQuery === division }}">
            {{ division | capitalize }}
          </a>
        {% endif %}
      {% endfor %}
      <a href="?division=all&categoryIndex={{ currentCategoryIndex }}"
        class="btn btn-primary {{ 'active' if divisionQuery === 'all' }}">
        All divisions
      </a>
    </div>
  </div>

  <div class="form-group">
    <div class="btn-group" role="group" aria-label="Divisions">
      {% for categoryIndex in range(1,constants.MAX_CATEGORY_COUNT + 1) %}
        {% if categoryTitles[categoryIndex - 1] %}
          <a href="?division={{ divisionQuery }}&categoryIndex={{ categoryIndex }}"
            class="btn btn-primary {{ 'active' if categoryIndex === currentCategoryIndex }}">
            {{ categoryTitles[categoryIndex - 1] }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% set allDivisions = divisionQuery === 'all' %}
<h2>
  {{ 'All' if allDivisions else divisionQuery | capitalize }} division{{ 's' if allDivisions }},
  category {{ categoryTitles[currentCategoryIndex - 1] }}
</h2>

{{ formMacros.alerts(alerts) }}

{% if event.related("details").get("flags").scoreSpacePodium and currentCategoryIndex === 7%}
<div>
  <b>Special instructions for ScoreSpace Awards</b>
  <ul>
    <li>Set 1 for Streamer's Choice</li>
    <li>Set 2 for Solo Developer's Choice</li>
    <li>Set 3 for Team Developer's Choice</li>
  </ul>
</div>
{% endif %}

<table class="table">
  <tr>
    <th>Entry</th>
    <th>Ranking</th>
  </tr>
  {% for entry in entries %}
    <tr>
      <td>{{ eventMacros.entrySmallThumb(entry) }}</td>
      <td>
        <form method="post" class="form-inline">
          {{ csrfToken() | safe }}
          <input type="hidden" name="entryId" value="{{ entry.get('id') }}" />
          <input class="form-control form-control-lg mr-3" type="text" name="newRanking"
            value="{{ entry.related('details').get('ranking_' + currentCategoryIndex) }}" />
          <button type="submit" class="btn btn-danger" onclick="return confirm('Override ranking of \"{{ entry.get("title") | replace(r/'/g, "\\'") }}?');\"">Save</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}