{% extends "event/manage/event-manage.base.html" %}
{% import "event/manage/event-manage.macros.html" as editEventMacros %}
{% import "macros/form.macros.html" as formMacros with context %}

{% block editEventBody %}

<h1 id="title-display"></h1>

<form method="post" enctype="multipart/form-data" class="js-warn-on-unsaved-changes">
{{ csrfToken() | safe }}

<ul class="nav nav-tabs nav-justified mb-3">
  <li role="presentation" class="nav-item">
    <a class="nav-link active" href="#state" data-toggle="tab">State</a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link" href="#appearance" data-toggle="tab">Appearance</a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link" href="#config" data-toggle="tab">Jam config</a>
  </li>
</ul>

<div class="tab-content">
  <div id="state" class="tab-pane show active">
    <div class="form-group">
      <label for="logo">Preset</label>
      <select id="js-edit-event-status-preset" name="event-preset-id" class="js-select" style="width: 100%"
          data-placeholder="None (Custom state)" data-allow-clear="true">
        <option value=""></option>
        {% for eventPresetData in eventPresetsData %}
        <option value="{{ eventPresetData.id }}" data-attributes="{{ eventPresetData | stringify }}"
            {{ 'selected' if event and event.get('event_preset_id') == eventPresetData.id }}>
          {{ eventPresetData.title }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div id="js-edit-event-status-error" class="alert alert-danger" style="display: none"></div>
    <div class="form-group">
      <label for="logo">Advanced state form</label>
      <div>
        <div id="js-edit-event-status-toggles" class="btn-group">
          <input type="button" class="btn btn-outline-secondary {{ 'active' if not event or event.get('event_preset_id') }}" value="Hide" />
          <input type="button" class="btn btn-outline-secondary {{ 'active' if event and not event.get('event_preset_id') }}" value="Show" />
        </div>
      </div>
    </div>
    <div id="js-state-advanced" style="display: none">
      {{ editEventMacros.countdownForm(event) }}
      {{ editEventMacros.stateForm(event) }}
    </div>
  </div>

  <div id="appearance" class="tab-pane show">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group input-group-lg">
            <label for="title">Title</label>
            <input type="text" class="form-control js-sync-text js-sync-slug" name="title" value="{{ event.get('title') if event }}" required
              data-sync-text-display-selector="#title-display"
              data-sync-text-default="My event" 
              data-sync-slug-input-selector="#name" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group input-group-lg">
            <label for="name">Slug</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ event.get('name') if event }}" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="display-dates">Displayed dates</label>
            <input type="text" class="form-control" name="display-dates" value="{{ event.get('display_dates') if event }}" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="title">Event start date {{ formMacros.tooltip('The jam start date. Used to sort events, but also to let state presets guess deadlines correctly.') }}</label>
            {{ formMacros.dateTimePicker('started-at', event.get('started_at') if event, { serverFormat: 'yyyy-MM-dd', pickerFormat: 'YYYY-MM-DD' }) }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Displayed theme</label>
            <input type="text" class="form-control" name="display-theme" value="{{ event.get('display_theme') if event }}" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="status-rules">Rules blog post</label>
            <div>
            {{ formMacros.radio('status-rules', 'off', 'Off',
              event.get('status_rules') if event else 'off') }}
            {{ formMacros.radio('status-rules', '', '', 
              event.get('status_rules') if event, { textField: true, placeholder: 'Post ID or URL', textFieldEnabled: event and event.get('status_rules') and event.get('status_rules') !== 'off'}) }}
            </div>
          </div>
        </div>
      </div>

      {{ editEventMacros.linksForm(event.related('details') if event) }}

      <div class="horizontal-bar">
        Pictures
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="logo">Logo</label>
            {{ formMacros.pictureInput('logo', event.get('logo') if event, { noCard: true, model: event }) }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="logo">Banner</label>
            {% set eventDetails = event.related('details') if event %}
            {{ formMacros.pictureInput('banner', eventDetails.get('banner') if eventDetails, { noCard: true, model: eventDetails }) }}
          </div>
        </div>
      </div> 
    </div>
  </div>

  <div id="config" class="tab-pane show">
      {{ editEventMacros.jamConfigForm(event, event.related('details') if event) }}
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      {% if event and event.id %}
        {% if event.get('status') === 'pending' %}
          <a href="{{ routeUrl(event, 'event', 'delete') }}" onclick="return confirm('Do you really want to delete this event? This cannot be undone.')" class="btn btn-danger {{ 'disabled' if not user.get('is_admin') }}" {{ 'title="Only admins can delete events"' if not user.get('is_admin') }}>Delete</a>
        {% else %}
          <div class="btn btn-danger disabled" title data-placement="top" data-toggle="tooltip" title="Only pending events can be deleted">Delete</div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col ml-auto text-right">
      <!-- TODO Publish -->
      <input type="submit" class="btn btn-primary" value="Save changes" />
      <a class="btn btn-outline-primary" href="#" onclick="history.back()">Cancel</a> 
    </div>
  </div>
</div>

</form>
{% endblock %}

{% block scripts %} 
{{ formMacros.codeMirrorScripts() }}
{% endblock %}
