{% extends "base.html" %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "user/user.macros.html" as userMacros %}
{% import "event/event.macros.html" as eventMacros %}
{% import "entry/highscore/highscore.macros.html" as scoreMacros %}
{% import "macros/form.macros.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><a href="{{ buildUrl(entry, 'entry') }}">{{ entry.get('title') }}</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% if entryScore.get('id') %}
        <h2>Update your high score</h2>
      {% else %}
        <h2>Submit your high score</h2>
      {% endif %}

      {% if errorMessage %}
        <div class="alert alert-warning">{{ errorMessage }}</div>
      {% endif %}

      {% set instructions = entry.related('details').get('high_score_instructions') %}
      {% if instructions %}
        <div class="well">{{ entry.related('details').get('high_score_instructions') | markdown | safe }}</div>
      {% endif %}

      {% if entryScore.get('ranking') %}
        <div class="featured">
          <h4 style="margin: 0">Current ranking: <span class="label label-default">{{ entryScore.get('ranking') | ordinal }}</span></h4>
        </div>
      {% endif %}

      <form method="post" enctype="multipart/form-data">
        {{ csrfToken() | safe }}
        <div class="form-group">
          <label for="score" class="hidden-xs">{{ 'Time' if entry.related('details').get('high_score_type') === 'time' else 'Score' }}</label>
          {% if entry.related('details').get('high_score_type') === 'time' %}
            <div class="form-inline">
              {% set hasScore = entryScore.get('score') %}
              <label for="score-mn" class="visible-xs">Minutes</label>
              <input type="number" name="score-mn" class="form-control input-lg no-spinner" value="{{ (scoreMn or '0') if hasScore else (scoreMn or '') | int }}" placeholder="minutes" style="width: 120px" min="0" max="999" /><span class="hidden-xs"> ' </span>
              <label for="score-mn" class="visible-xs">Seconds</label>
              <input type="text" name="score-s" class="form-control input-lg js-fixed-digits" data-digits="2" value="{{ ((scoreS or '0') if hasScore else (scoreS or '')) | int | leftpad(2, '0') }}" placeholder="seconds" style="width: 120px" /><span class="hidden-xs"> " </span>
              <label for="score-mn" class="visible-xs">Milliseconds</label>
              <input type="text" name="score-ms" class="form-control input-lg js-fixed-digits" value="{{ ((scoreMs or '0') if hasScore else (scoreMs or '')) | int | leftpad(3, '0') }}" placeholder="milliseconds" style="width: 170px" /> 
            </div>
          {% else %}
          <input type="text" name="score" class="form-control input-lg" value="{{ entryScore.get('score') | float }}" />
          {% endif %}
        </div>
        <div class="form-group">
          <label for="proof-method">Proof picture</label>
          <div class="row">
            <div class="col-xs-2">
              <label style="font-weight: normal">
                <input id="proof-method-upload" name="proof" value="upload" class="js-radio"
                   type="radio" {{ 'checked="checked"' if not isExternalProof }} /> Upload
              </label>
            </div>
            <div class="col-xs-10">
              {{ formMacros.pictureInput('upload', entryScore.get('proof') if not isExternalProof, { model: entryScore }) }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <label style="font-weight: normal">
                <input id="proof-method-link" name="proof" value="{{ entryScore.get('proof') if isExternalProof }}" class="js-radio"
                type="radio" {{ 'checked="checked"' if isExternalProof }} /> Link
              </label>
            </div>
            <div class="col-xs-10">
              <input type="text" class="form-control js-radio-text-field" value="{{ entryScore.get('proof') if isExternalProof }}"
                data-target="proof-method-link" placeholder="http://..." />
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit" />
          {% if entryScore.get('id') %}
            <input type="submit" name="delete" class="btn btn-default" value="Delete" onclick="return confirm('Delete your high score?')" />
          {% endif %}
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h2>High scores</h2>
      {{ eventMacros.entryThumb(entry) }}
      {{ scoreMacros.tournamentEventBanner(tournamentEvent) }}
      {{ scoreMacros.highScores(entry, highScoresCollection, entryScore, { hideSubmitButton: true }) }}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ formMacros.editorScripts() }}
{% endblock %}
