{% import "user/user.macros.html" as userMacros %}

{% macro highScoresLinks(entry, user, path, options = {}) %}
  {% if not options.hideSubmitButton %}
    <a href="{{ routeUrl(entry, 'entry', 'submit-score') }}?redirectTo={{ path | urlencode }}" class="btn btn-primary">Submit score</a>
  {% endif %}
  {% if canUserWrite(user, entry, { allowMods: true }) %}
    <a href="{{ routeUrl(entry, 'entry', 'edit-scores') }}" class="btn btn-outline-primary">
      <span class="fas fa-cog"></span>
    </a>
  {% endif %}
{% endmacro %}

{% macro tournamentEventBanner(tournamentEvent) %}
{% if tournamentEvent %}
  <a href="{{ routeUrl(tournamentEvent, 'event') }}" class="highscore-banner">
    <div>This game is currently featured in the</div>
    <div class="highscore-banner__title">{{ tournamentEvent.get('title') }}</div>
  </a>
{% endif %}
{% endmacro %}

{% macro highScores(entry, scoreCollection, userScore = null, options = {}) %}
{% set highScoreType = entry.related('details').get('high_score_type') %}
{% set unit = highScoreType if not ['number', 'time'].includes(highScoreType) %}
{% set colspan = 4 + (1 if options.showDates else 0) + (1 if options.showActiveToggles else 0) %}
<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>User</th>
    <th>{{ 'Time' if highScoreType === 'time' else 'Score' }}</th>
    {% if options.showDates %}<th>Date</th>{% endif %}
    <th><!-- Proof link --></th>
    {% if options.showActiveToggles %}<th class="text-right">State</th>{% endif %}
  </tr>
  </thead>
  <tbody>
  {% if scoreCollection.length > 0 %}
    {% for score in scoreCollection.models %}
      {% set isOwnScore = 'active' if userScore and score.get('id') === userScore.get('id') %}
      <tr class="{{ 'active' if isOwnScore }}">
        <td><a name="score-rank-{{ score.get('ranking') }}"></a>{{ printRanking(score.get('ranking')) }}</td>
        <td>{{ userMacros.userLink(score.related('user')) }}</td>
        <td><b>{{ printScore(entry, score, { showEditLink: isOwnScore }) }}</b></td>
        {% if options.showDates %}<td style="font-size: 0.8rem">{{ score.get('submitted_at') | date }}</td>{% endif %}
        <td>{{ printProof(score) }}</td>
        {% if options.showActiveToggles %}
          <td class="text-right">
            {% if score.get('active') %}
              <span class="label label-success">Active</span>
              &nbsp;<input type="submit" name="suspend-{{ score.get('id') }}" class="btn btn-outline-primary btn-sm" onclick="return confirm('Suspend the score of {{ score.related('user').get('title') }}?')" value="Suspend" />
            {% else %}
              <span class="label label-warning">Suspended</span>
              &nbsp;<input type="submit" name="restore-{{ score.get('id') }}" class="btn btn-outline-primary btn-sm" onclick="return confirm('Restore the score of {{ score.related('user').get('title') }}?')" value="Restore" />
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}

    {% if userScore and userScore.get('id') and userScore.get('ranking') > 10 %}
    <tr>
      <td colspan="{{ colspan }}" class="text-center">...</td>
    </tr>
    <tr class="active">
      <td>{{ userScore.get('ranking') | ordinal }}</td>
      <td>{{ userMacros.userLink(userScore.related('user')) }}</td>
      <td><b>{{ printScore(entry, userScore, { showEditLink: true }) }}</td></td>
      {% if options.showDates %}<td style="font-size: 0.8rem">{{ userScore.get('submitted_at') | date }}</td>{% endif %}
      <td>{{ printProof(userScore) }}</td>
    </tr>
    {% endif %}
    {% if scoreCollection.pagination.rowCount > 9 %}
    <tr>
      <td colspan="{{ colspan }}">Total submitted scores: <b>{{ scoreCollection.pagination.rowCount }}</b></td>
    </tr>
    {% endif %}
  {% else %}
    <tr>
      <td colspan="{{ colspan }}">Be the first to submit a score!</td>
    </tr>
  {% endif %}
  {% if scoreCollection.length > 0 and not options.hideViewAllScores %}
    <td colspan="{{ colspan }}" class="text-center">
      <a href="{{ routeUrl(entry, 'entry', 'scores') }}">View all <b>{{ scoreCollection.pagination.rowCount or scoreCollection.length }}</b> scores</a>
    </td>
  {% endif %}

  </tbody>
</table>
{% endmacro %}

{% macro printProof(score) %}
  {% set proof = score.get('proof') %}
  {% if proof %}
  <a href="{{ pictureUrl(proof, score) }}" target="alakajam_proof">
    <span class="{{ 'fas fa-video' if proof.includes('youtu') or proof.includes('twitch') else 'fas fa-camera' }}"></span>
  </a>
  {% endif %}
{% endmacro %}

{% macro printRanking(ranking, options = {}) %}
  {%- if ranking > 3 -%}
    {{- ranking if not options.onlyMedal -}}
  {%- else -%}
    {# Text in span needed for proper table sorting #}
    <span class="highscore-medal ranking-{{ ranking }}">{{ ranking }}</span>
  {%- endif -%}
{% endmacro %}

{% macro printScore(entry, score, options = {}) %}
  {%- set highScoreType = entry.related('details').get('high_score_type') -%}
  {{- (score.get('score') | duration) if highScoreType === 'time' else (score.get('score') | float) }} {{ highScoreType if not ['number', 'time'].includes(highScoreType) -}}
  {% if options.showEditLink %}
  <a href="{{ routeUrl(entry, 'entry', 'submit-score') }}">
    <span class="fas fa-edit"></span>
  </a>
  {% endif %}
{% endmacro %}

{% macro pointsDistributionLegend(pointsDistribution) %}
<div class="horizontal-bar"></div>

<h2>Points distribution</h2>

<p>Leaderboards points are awarded to all players that enter the top {{ pointsDistribution.length }} of a game. For each spot in the high scores, each player gets a number of points as per the table below. At the end of the event, the player with the most points wins the tournament!</p>

<div class="row">
  <div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        {% for points in pointsDistribution %}
          <th>{{ loop.index | ordinal }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for points in pointsDistribution %}
          <td>{{ points }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endmacro %}


{% macro highScoreThumb(entryScore) %}
  {% set entry = entryScore.related('entry') %}
  <div class="featured">
    <div style="width: 100%; margin: 0 0 -10px -10px">
      {{ userMacros.userThumb(entryScore.related('user'), { fullWidth: true }) }}
    </div>
    <div class="spacing">
      Claimed
      <b>{{ printRanking(entryScore.get('ranking'), { onlyMedal: true }) }} 
        {{ entryScore.get('ranking') | ordinal }} place</b> on
      <a href="{{ routeUrl(entry, 'entry') }}">{{ entry.get('title') }}</a>
      with
      <b><a href="{{ routeUrl(entry, 'entry', 'scores') }}">
        {{ printScore(entry, entryScore, { showEditLink: user and entryScore.get('user_id') === user.get('id') }) }}</a></b>
      <br />
      <span style="font-size: 0.8rem">{{ entryScore.get('submitted_at') | relativeTime }}</span>
    </div>
  </div>
{% endmacro %}
