{% extends "base.html" %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "user/user.macros.html" as userMacros %}
{% import "event/event.macros.html" as eventMacros %}
{% import "entry/highscore/entry-highscore.macros.html" as scoreMacros with context %}
{% import "macros/form.macros.html" as formMacros with context %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><a href="{{ routeUrl(entry, 'entry') }}">{{ entry.get('title') }}</a></h1>

      <h2>Leaderboard {{ scoreMacros.highScoresLinks(entry, user, path) }}</h2>

      {{ scoreMacros.tournamentEventBanner(tournamentEvent) }}
      {{ scoreMacros.highScores(entry, highScoresCollection, entryScore, { hideViewAllScores: true, showDates: true, streamerBadges: streamerBadges }) }}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ formMacros.editorScripts() }}
{% endblock %}
