/**
 * Event pages & event macros
 */

/* Shortcuts to event entry/latest post */

.action-banner {
  padding: 10px;
  background-color: var(--borders);
  max-width: 945px;
  
  &__info {
    padding-right: 10px;
  }
  
  &__title {
    vertical-align: top;
    padding-top: 5px;
    color: var(--text-light);
    height: 35px;
  }

  &__post {
    @apply --shadow;
    background-color: white;
    height: 60px;
    padding: 5px;
    
    & a {
      @apply --alt-font;
      font-size: 1.4rem;
    }
  }
}

/* Events page */

.events-block {
  margin-bottom: 20px;

  & > h3 {
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__live > h3 {
    color: var(--alt-dark);
    font-weight: bold;
  }

  &__pending {
  }

  &__closed {
  }
}

.event-table {
  @apply --shadow;
  margin-top: 10px;
  display: flex;
  width: 100%;
  background-color: white;
  line-height: 60px;

  &__title {
    @apply --alt-font;
    display: inline-block;
    line-height: 42px;
    font-size: 1.7rem;
    padding: 0 10px 0 10px;
  }
  &.pending &__title {
    background-color: var(--main);
    color: white;

    &:hover {
      background-color: var(--main-dark);
    }
  }
  &.open &__title {
    background-color: var(--alt);
    color: white;

    &:hover {
      background-color: var(--alt-dark);
    }
  }
  &.closed &__title {
    background-color: var(--neutral);
    color: white;

    &:hover {
      background-color: var(--neutral-dark);
    }
  }

  &__theme {
    float: right;
    text-align: right;
    line-height: normal;
    padding: 3px 15px;
    height: 48px;
    margin-top: 6px;
    font-size: 1.4rem;
  }
  &__theme-label {
    font-size: 0.8rem;
    font-weight: normal;
    display: block;
    margin-bottom: -5px;
  }
  
  &__links {
    flex: 1;
  }

  &__status {
    @apply --main-font;
    font-size: 0.8rem;
    vertical-align: middle;
  }
  
  &__dates {
    @apply --main-font;
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--text);
    line-height: 1rem;
    margin-top: -5px;
    border-radius: 0;
    width: 100%;
  }
  &.pending &__dates, &.open &__dates, &.closed &__dates {
    color: var(--white-lighter);
  }

  &__theme {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
  }

}

.event-small-table {
  width: 100%;
  height: 60px;
  padding: 7px;
  margin-bottom: 0;
  
  &__header h2 {
    width: 100%;
    height: 28px;
    font-size: 1.25rem;
    margin-bottom: 0px;
  }
  
  &__details {
    margin-top: 0;
  }
}
