:root {
  /* Colors */
  --main: #00b1d5;
  --main-light: color(var(--main) lightness(45%));
  --main-dark: color(var(--main) lightness(25%));
  --alt: #f2536d;
  --alt-light: color(var(--alt) lightness(70%));
  --alt-dark: color(var(--alt) lightness(35%));
  --alt-transparent: color(var(--alt) alpha(10%));
  --bg: #eee;
  --borders: #dadada;
  --text: #1f3038;
  --text-light: #4f7080;
  --text-lighter: #AAA;
  --moderation: #ffce54;
  --moderation-light: #ffe198;
  --moderation-dark: #f6bb42;

  /* Fonts */
  --main-font: {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
  };
  --alt-font: {
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;
  };
  --shadow: {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  };

  /* UI elements */
  --navbar-height: 50px;
  --eventbar-height: 60px;
}

/* General */

body, p {
  @apply --main-font;
}

html {
  height: 100%;
  font-size: 15px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
  padding-top: 70px;
}
body.in-event {
  padding-top: 130px;
}

div {
  box-sizing: border-box;
}

h1 {
  @apply --alt-font;
  margin: 0 0 15px 0;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--text);
}
h2 {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}
h4 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  color: var(--text-light);
}

a {
  color: var(--alt);
}
a:hover {
  color: var(--alt-dark);
  text-decoration: none;
}

img.preview {
  max-width: 100%;
  max-height: 150px;
}

.spacing {
  margin-top: 20px;
}

.editor-toolbar.fullscreen, .CodeMirror-fullscreen, .editor-preview-side { 
  z-index: 2000;
}

.datetimepicker {
  background-color: white;
}

.code {
  font-family: Consolas, Lucida Console, monospace;
  font-weight: bold;
}

/* ============================== Navigation ============================== */

.navbar-default {
  background-color: var(--main);
  font-size: 2rem;

  /* Nav logo */

  & .navbar-header {
    & .navbar-brand {
      @apply --alt-font;
      font-size: 2rem;
      font-weight: bold;
      height: var(--navbar-height);
      text-shadow: 0px 3px 0px var(--main-dark);
      color: white;
      transition: 0.15s;

      &:hover {
        text-shadow: 0px 3px 0px var(--alt);
        color: white;
        font-size: 2.2rem;
        transform: rotate(-2deg);
        transition: 0.03s;
      }

      & img {
        height: 100%;
        display: inline-block;
      }
    }
  }

  /* Nav links */

  & .navbar-nav {
    @media (min-width: 768px) {
      float: right;
    }

    & > li {

      &.active > a {
        background-color: white;
        color: var(--main);
      }

      & > a, & > div {
        color: white;
      }

      & > a, &.active > a, & > div {
        font-size: 1.1rem;
        padding: 0 10px;
        line-height: var(--navbar-height);
        height: var(--navbar-height);

        &:hover {
          background-color: var(--main-light);
        }
      }

      &.live a {
        background-color: var(--alt);
        line-height: calc(var(--navbar-height) / 3);
        padding-top: calc(var(--navbar-height) / 6);
        font-size: 1rem;
        margin-right: 20px;

        &:hover {
          background-color: var(--alt-light);
        }
      }

      &.live.active a {
        background-color: white;
        color: var(--text-light);
      }

      &.nav-login {
        color: white;
        font-size: 0.9rem;
        padding: 0 15px;

        & a {
          display: inline-block;
          padding: 0 5px;
        }
      }

      & a > img {
        border: 0px solid white;

        &:hover {
          border: 4px solid white;
          transition: 0.1s;
        }
      }
    }

  }

  /* User profile menu */

  & .navbar-profile {
    font-weight: bold;
  }

  & .navbar-avatar {
    width: 36px;
    border-radius: 6px;
    vertical-align: top;
    margin-top: calc((var(--navbar-height) - 36px) / 2);
  }

}

.event-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  line-height: var(--eventbar-height);
  background-color: white;
  color: var(--alt);

  &__info {
    display: inline-block;
    text-align: center;
  }

  &__name {
    @apply --alt-font;
    display: inline-block;
    line-height: var(--eventbar-height);
    padding-right: 10px;
    vertical-align: top;
    font-size: 2rem;
  }

  &__dates {
    display: inline-block;
    line-height: var(--eventbar-height);
    vertical-align: top;
    padding-right: 30px;
    font-size: .9rem;
    color: var(--text-light);
  }

  &__links {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 15px;
    margin: 0;
    height: var(--eventbar-height);
    font-size: 1rem;

    &:hover {
      background-color: var(--alt-transparent);
    }

    &.active {
      border-bottom: 4px solid var(--alt);
    }

    &.disabled {
      color: var(--text-lighter);
      cursor: default;
      &:hover {
        background-color: inherit;
      }
    }
  }
}

.moderation-bar {
  margin: -20px 0 20px 0;
  width: 100%;
  background-color: var(--moderation-light);

  & .btn {
    background-color: var(--moderation);
    border-color: var(--moderation);
    color: var(--text);
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
    margin-right: 5px;

    &:hover {
    background-color: var(--moderation-dark);
    border-color: var(--moderation-dark);
    color: white;
    }
  }
}

.action-banner {
  margin-bottom: 10px;
  
  &__info {
    font-size: 1.3rem;
    padding-right: 10px;
  }

  &__link {
    font-weight: bold;
    vertical-align: middle;
    padding: 0 5px;
    font-size: 1.5rem;
  }
}

/* ============================== Blog posts ============================== */

.post {

  &__heading {
    display: block;
    color: var(--text);

    & h2 {
      @apply --alt-font;
      margin: 0;
      padding: 10px 0;
    }

    &:hover {
      background-color: var(--borders);
      color: var(--text);
      transition: 0.1s;
      padding: 0 10px;
    }
  }

  &__details {
    border-bottom: 1px solid var(--borders);
    line-height: 36px;
    font-weight: bold;

    & a {
      margin-top: 3px;
      margin-right: 3px;
    }
  }

  &__date {
    color: var(--text-lighter);
  }

  &__avatar {
    width: 36px;
    margin-right: 5px;
    vertical-align: top;
  }

  &__schedule {
    display: none;
  }

  & h1 {
    font-weight: normal;
    font-size: 2.2rem;
  }

  & img {
    max-width: 100%;
  }

}

/* User contents */

.user-contents {
  & h1 {
    font-size: 1.9rem;
  }
  & h2 {
    font-size: 1.5rem;
  }
  & h3 {
    font-size: 1.3rem;
    color: var(--text-light);
  }
  & h4 {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--text-light);
  }


  &__editor {
    border: 1px solid #aab2bd;
    border-radius: 4px;

    & .editor-toolbar {
      border: none;
      border-bottom: 1px solid #aab2bd;
    }

    & .CodeMirror {
      border: none;

      & .CodeMirror-code .cm-header-1 {
        line-height: 100%;
      }
    }
  }
}


/* ============================== Events ============================== */

/* Event table */

.event-table {
  margin-bottom: 20px;

  &__header {
    @apply --shadow;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--main);
    color: white;

    &:hover {
      color: white;
      background-color: var(--main-light);
    }
  }
  &.live &__header {
    background-color: var(--alt);

    &:hover {
      background-color: var(--alt-light);
    }
  }

  &__status {
    color: white;
  }
}

/* Entry thumb */

.entry-thumb {
  @apply --shadow;
  display: block;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;

  &__picture {
    display: block;
    height: 150px;
    width: 100%;
    background-color: var(--main-dark);
    background-size: cover;
    background-position: center;
    transition: 0.3s;

    &:hover {
      border: 5px solid var(--alt);
      transition: 0.1s;
    }
  }

  &__picture-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,
      transparent 0%, transparent 40%, rgba(0,0,0,0.25) 100%);
  }

  &__details {
    height: 100px;
    padding: 10px;
    text-align: left;
  }

  &__title {
    font-size: 1.1rem;

    &:hover {
      font-weight: bold;
    }
  }


  &__author {
    color: var(--text);
  }
}

/* Entry page */

.entry {

  &__picture {
    @apply --shadow;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--main-dark);
    border-radius: 4px;

    & img {
      max-width: 100%;
      max-height: 400px;
    }
  }

}

/* ============================== User pages ============================== */

/* Login form */

.login {
  @media (min-width: 768px) {
    margin: 100px 0;
  }
}

/* User profile */

.profile {

  &__avatar {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5%;
  }

  &__title {
    margin: 20px 0 0 0;
  }

  &__name {
    color: var(--text-light);
    font-weight: normal;
  }

  &__joined {
    color: var(--text-light);
  }

  &__social-link {
    line-height: 30px;

    & img {
      height: 20px;
      vertical-align: middle;
    }
  }

}
