:root {
  /* Colors */
  --main: #00b1d5;
  --main-dark: color(var(--main) lightness(25%));
  --alt: #f2536d;
  --alt-dark: color(var(--alt) lightness(25%));
  --alt-transparent: color(var(--alt) alpha(10%));
  --bg: #eee;
  --text: #1f3038;
  --text-light: #4f7080;
  --text-lighter: #AAA;

  /* Fonts */
  --alt-font: {
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;
  };
  --shadow: {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  };

  /* UI elements */
  --navbar-height: 50px;
  --eventbar-height: 60px;
}

/* General */

body, p {
  font-family: Tahoma, Geneva, sans-serif;
}

html {
  height: 100%;
  font-size: 15px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
  padding-top: 70px;
}
body.in-event {
  padding-top: 130px;
}

div {
  box-sizing: border-box;
}

h1 {
  @apply --alt-font;
  margin: 0 0 15px 0;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: var(--text);
}
h2 {
  margin: 0 0 10px 0;
}
h3 {
  margin: 0 0 10px 0;
}
h4 {
  margin: 0 0 10px 0;
}

a {
  color: var(--alt);
}
a:hover {
  color: var(--alt);
  text-decoration: none;
}

.editor-toolbar.fullscreen, .CodeMirror-fullscreen, .editor-preview-side { 
  z-index: 2000;
}

/* Nav bar */

.navbar-default {
  background-color: var(--main);
  font-size: 2rem;

  /* Nav logo */

  & .navbar-header {
    & .navbar-brand {
      @apply --alt-font;
      font-size: 2rem;
      font-weight: bold;
      height: var(--navbar-height);
      text-shadow: 0px 3px 0px var(--main-dark);
      color: white;
      transition: 0.15s;

      &:hover {
        text-shadow: 0px 3px 0px var(--alt);
        color: white;
        font-size: 2.2rem;
        transform: rotate(-2deg);
        transition: 0.03s;
      }

      & img {
        height: 100%;
        display: inline-block;
      }
    }
  }

  /* Nav links */

  & .navbar-nav {
    @media (min-width: 768px) {
      float: right;
    }

    & > li {

      &.active > a {
        background-color: white;
        color: var(--main);
      }

      & > a {
        color: white;
      }

      & > a, &.active > a {
        font-size: 1.1rem;
        padding: 0 20px;
        line-height: var(--navbar-height);
        height: var(--navbar-height);

        &:hover {
          background-color: rgba(255,255,255,0.15);
        }
      }

      &.live a {
        background-color: var(--alt);
        line-height: calc(var(--navbar-height) / 3);
        padding-top: calc(var(--navbar-height) / 6);
        font-size: 1rem;
        margin-right: 20px;

        &:hover {
          background-color: var(--alt);
        }
      }

      &.live.active a {
        background-color: white;
        color: var(--text-light);
      }
    }

  }

  /* Profile menu */

  & .navbar-profile {
    font-weight: bold;
  }

  & .navbar-profileicon {
    width: 36px;
    border-radius: 18px;
    vertical-align: top;
    margin-top: calc((var(--navbar-height) - 36px) / 2);
  }

}

/* Event header */

.event-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  line-height: var(--eventbar-height);
  background-color: white;
  color: var(--alt);

  &__info {
    display: inline-block;
    text-align: center;
  }

  &__name {
    @apply --alt-font;
    display: inline-block;
    line-height: var(--eventbar-height);
    padding-right: 10px;
    vertical-align: top;
    font-size: 2rem;
  }

  &__dates {
    display: inline-block;
    line-height: var(--eventbar-height);
    vertical-align: top;
    padding-right: 30px;
    font-size: .9rem;
    color: var(--text-light);
  }

  &__links {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 15px;
    margin: 0;
    height: var(--eventbar-height);
    font-size: 1rem;

    &:hover {
      background-color: var(--alt-transparent);
    }

    &.active {
      border-bottom: 4px solid var(--alt);
    }

    &.disabled {
      color: var(--text-lighter);
      cursor: default;
      &:hover {
        background-color: inherit;
      }
    }
  }
}

/* User contents */

.user-contents {
  & h1 {
    font-size: 1.9rem;
  }
  & h2 {
    font-size: 1.5rem;
  }
  & h3 {
    font-size: 1.3rem;
    color: var(--text-light);
  }
  & h4 {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--text-light);
  }


  &__editor {
    border: 1px solid #aab2bd;
    border-radius: 4px;

    & .editor-toolbar {
      border: none;
      border-bottom: 1px solid #aab2bd;
    }

    & .CodeMirror {
      border: none;

      & .CodeMirror-code .cm-header-1 {
        line-height: 100%;
      }
    }
  }
}


/* Event table */

.event-table {
  margin-bottom: 20px;

  &__header {
    background-color: var(--main-dark);
    padding: 10px;
    margin-bottom: 20px;
  }
  &.live &__header {
    background-color: var(--alt);
  }

  &__title a {
    @apply --alt-font;
    font-size: 2rem;
    color: white;
  }

  &__status {
    color: white;
  }
}

/* Entry thumb */

.entry-thumb {
  @apply --shadow;
  display: block;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;

  &__picture {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
  }
  &:hover &__picture {
    border: 5px solid var(--alt);
    transition: 0.1s;
  }

  &__picture-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,
      transparent 0%, transparent 40%, rgba(0,0,0,0.25) 100%);
  }

  &__details {
    height: 100px;
    padding: 10px;
    text-align: left;
  }

  &__title {
    font-size: 1.1rem;
  }
  &:hover &__title {
    font-weight: bold;
  }


  &__author {
    color: var(--text);
  }
}

/* Entry page */

.entry {

  &__picture {
    @apply --shadow;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--text);
    border-radius: 4px;

    & img {
      max-width: 100%;
      max-height: 400px;
    }
  }

}

/* Login form */

.login {
  @media (min-width: 768px) {
    margin: 100px 0;
  }

}