:root {
  /* Colors */
  --main: #00b1d5;
  --main-dark: color(var(--main) lightness(25%));
  --alt: #f2536d;
  --bg: #eee;
  --text: #111;
  --text-light: #AAA;

  /* Fonts */
  --alt-font: {
    font-family: 'Chewy', cursive;
    letter-spacing: 2px;
  };
  --shadow: {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  };

  /* UI elements */
  --navbar-height: 55px;
  --eventbar-height: 40px;
}

/* General */

* {
  font-family: Tahoma, Geneva, sans-serif;
}

html {
  height: 100%;
  font-size: 15px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
  padding-top: 70px;
}
body.in-event {
  padding-top: 120px;
}

h1 {
  font-size: 2.5rem;
  font-variant: small-caps;
  letter-spacing: 2px;
}

a {
  color: var(--alt);
}
a:hover {
  color: var(--alt);
  text-decoration: none;
}

/* Nav bar */

.navbar-default {
  background-color: var(--main);
  font-size: 2rem;

  /* Nav logo */

  & .navbar-header {
    & .navbar-brand {
      @apply --alt-font;
      font-size: 2rem;
      font-weight: bold;
      height: var(--navbar-height);
      text-shadow: 0px 3px 0px var(--main-dark);
      color: white;
      transition: 0.15s;

      &:hover {
        text-shadow: 0px 3px 0px var(--alt);
        color: white;
        font-size: 2.2rem;
        transform: rotate(-2deg);
        transition: 0.03s;
      }

      & img {
        height: 100%;
        display: inline-block;
      }
    }
  }

  /* Nav links */

  & .navbar-nav {
    @media (min-width: 768px) {
      float: right;
    }

    & > li.active a {
      border-bottom: 4px solid white;
      box-sizing: border-box;
    }

    & > li > a, & > li.active > a {
      font-size: 1.1rem;
      padding: 0 20px;
      color: white;
      line-height: var(--navbar-height);
      height: var(--navbar-height);

      &:hover {
        background-color: rgba(255,255,255,0.15);
      }
    }

    & > li.live a {
      background-color: var(--alt);
      line-height: calc(var(--navbar-height) / 3);
      padding-top: calc(var(--navbar-height) / 6);
      font-size: 1rem;
      margin-right: 20px;

      &:hover {
        background-color: var(--alt);
      }
    }
  }

  /* Profile icon */

  & .navbar-profileicon {
    width: 36px;
    border-radius: 18px;
    vertical-align: top;
    margin-top: calc((var(--navbar-height) - 36px) / 2);
  }

}

/* Event header */

.event-header {
  @apply --shadow;
  width: 100%;
  line-height: calc(var(--eventbar-height));
  background-color: white;
  color: var(--alt);
  box-sizing: border-box;

  &__name {
    @apply --alt-font;
    font-size: 1.3rem;
    line-height: calc(var(--eventbar-height));
  }

  &__dates {
    text-align: right;
    font-size: 1rem;
    color: var(--text);
  }
  &__links {
    height: var(--eventbar-height);
    display: flex;
  }
  &__link {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 15px;
    margin: 0;
    height: var(--eventbar-height);
    font-size: 1rem;

    &:hover {
      background-color: color(var(--alt) alpha(10%));
    }

    &.active {
      border-bottom: 4px solid var(--alt);
    }

    &.disabled {
      color: var(--text-light);
      cursor: default;
      &:hover {
        background-color: inherit;
      }
    }
  }
}


/* Reusable blocks */

.panel {
  background: white;
  @apply --shadow;
  padding: 20px;
}

/* Event row */

.event-row {
  &__header {
    background-color: var(--alt);
    margin: -20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  &__title a {
    font-size: 2.5rem;
    color: white;
  }

  &__status {
    color: white;
  }
}

/* Entry thumb */

.entry-thumb {
  text-align: center;

  &__picture {
    @apply --shadow;
    border: 5px solid white;
    width: 95%;
  }

  &:hover &__picture {
    border: 5px solid var(--alt);
  }
  &:hover &__title {
    font-weight: bold;
  }
}

/* Entry page */

.entry {
  margin-top: 20px;
}
