:root {
  --bg1: #ffe28a; /* yellow */
  --bg2: #6fcb9f; /* blue/green */
  --links: #FB2E01; /* red */
  --spacing: 20px;
}

* {
  font-family: Tahoma, Geneva, sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #fffed9 0%, #fffeb3 100%);
  height: 100%;
  padding-top: 50px;
}

a {
  color: var(--links);
}
a:hover {
  color: color(var(--links) lightness(80%));
  text-decoration: none;
}


/* Nav bar */

.navbar {
  background: linear-gradient(to bottom, #8bd5b2 0%, #6fcb9f 100%);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background: white;
}



.event-row {
  background-color: var(--bg1);
  padding: var(--spacing);
}

.event-row__title {
  font-size: 2.5rem;
}

.event-row__entry {
  padding-top: var(--spacing);
}
.event-row__entry:hover {
  background-color: var(--links);
  color: var(--bg1);
}