:root {
  --text: #19181b; /* dark purple */
  --links: #5b6ada; /* blue */
  --linksalt: color(var(--links) lightness(30%)); /* darker blue */
  
  --bg: linear-gradient(to bottom, #fff8 20%, #fff4 100%); /* lighter */
  --spacing: 20px;
}

/* General */

* {
  font-family: Tahoma, Geneva, sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #cac2d6 0%, #dfdae7 100%);
  color: var(--text);
  height: 100%;
  padding-top: 70px;
}

h1 {
  font-size: 2.5rem;
  font-variant: small-caps;
  letter-spacing: 2px;
}

a {
  color: var(--links);
}
a:hover {
  color: --linksalt;
  text-decoration: none;
}

/* Nav bar */

.navbar-default .navbar-nav a, .navbar-brand {
  font-size: 2rem;
  padding: 20px;
  letter-spacing: 3px;
}
.navbar-brand {
  font-size: 3.5rem;
  padding-right: 50px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: var(--links);
}

/* Reusable blocks */

.panel {
  background: var(--bg);
  box-shadow: 1px 1px 2px #0003;
  padding: var(--spacing);
}

/* Event row */

.event-row__header {
  background-color: white;
  margin: -20px;
  padding: 10px;
  margin-bottom: var(--spacing);
}

.event-row__title {
  font-size: 2.5rem;
}
.event-row__status {
  color: 
}

/* Entry thumb */

.entry-thumb {
  text-align: center;
}
.entry-thumb__picture {
  width: 95%;
}
.entry-thumb:hover .entry-thumb__picture {
  border: 5px solid var(--linksalt);
  margin-bottom: -2px;
}
.entry-thumb:hover .entry-thumb__title {
  margin-bottom: -2px;
  font-weight: bold;
}

/* Entry page */

.entry {
  margin-top: 20px;
}
