{% extends "user/dashboard/dashboard.base.html" %}
{% import "event/event.macros.html" as eventMacros %}

{% block dashboardBody %}

{% if featuredEvent %}
  <h1>{{ featuredEvent.get('title') }} entry</h1>
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-lg-6">
        {{ eventMacros.eventShortcutMyEntry(user, featuredEvent, featuredEventEntry) }}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
  <h1>All entries</h1>
{% else %}
  <h1>Entries</h1>
{% endif %}

<div class="form-group">
  <a href="{{ routeUrl(user, 'user', 'entry-import') }}" class="btn btn-primary">Import entries from external sites</a>
  <a href="/external-entry/create-entry" class="btn btn-default">Create external entry manually</a>
</div>

<div class="game-grid">
  {% for entry in entries %}
    <div class="game-grid-entry">
      {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
      <div class="entry-thumb__form">
        <a href="{{ routeUrl(entry, 'entry', 'edit') }}"class="btn btn-default">Edit</a>
      </div>
    </div>
  {% endfor %}
</div>

{% if alakajamEntries.length > 0 %}
<h2>Alakajam! entries ({{alakajamEntries.length}})</h2>
  <div class="game-grid">
    {% for entry in alakajamEntries %}
      <div class="game-grid-entry">
        {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
        <div class="entry-thumb__form">
          <a href="{{ routeUrl(entry, 'entry', 'edit') }}"class="btn btn-default">Edit</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if otherEntries.length > 0 %}
<h2>Special events ({{otherEntries.length}})</h2>
  <div class="game-grid">
    {% for entry in otherEntries %}
      <div class="game-grid-entry">
        {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
        <div class="entry-thumb__form">
          <a href="{{ routeUrl(entry, 'entry', 'edit') }}"class="btn btn-default">Edit</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if externalEntries.length > 0 %}
<h2>External Entries ({{externalEntries.length}})</h2>
  <div class="game-grid">
    {% for entry in externalEntries %}
      <div class="game-grid-entry">
        {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
        <div class="entry-thumb__form">
          <a href="{{ routeUrl(entry, 'entry', 'edit') }}"class="btn btn-default">Edit</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if alakajamEntries.length + otherEntries.length + externalEntries.length === 0 %}
  <div class="well">No entries yet.</div>
{% endif %}

{% endblock %}
