{% extends "user/dashboard/dashboard.base.html" %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "event/event.macros.html" as entryMacros with context %}
{% import "entry/highscore/entry-highscore.macros.html" as scoreMacros with context %}
{% import "user/user.macros.html" as userMacros  with context %}
 
{% block dashboardBody %}

<h1>Scores</h1>

<div class="row">
  <div class="col-md-8">
    <h2>Personal scores</h2>

    <div style="line-height: 40px">
      <div class="row">
        <div class="col-sm-4">
          {% set totalMedals = (medals[1] or 0) + (medals[2] or 0) + (medals[3] or 0) %} {% if totalMedals > 0 %}
          <div>
            {{ scoreMacros.printRanking(1) }} x{{ medals[1] or 0 }}
            {{ scoreMacros.printRanking(2) }} x{{ medals[2] or 0 }}
            {{ scoreMacros.printRanking(3) }} x{{ medals[3] or 0 }}
          </div>
          {% endif %}
        </div>
        <div class="col-sm-8 text-right">
          Sort scores by 
            {{ linkSortBy('submitted_at', 'Latest', sortBy) }}
            {{ linkSortBy('ranking', 'Ranking', sortBy) }}
            {{ linkSortBy('activity', 'Game activity', sortBy) }}
        </div>
      </div>
    </div>

    <table class="table sortable">
      <thead>
        <tr>
          <th>#</th>
          <th>Game</th>
          <th>Score</th>
          <th>Date</th>
          <th></th>
          <th>Last game activity</th>
        </tr>
      </thead>
      <tbody>
        {% for userScore in userScores %} {% set entry = userScore.related('entry') %}
        <tr>
          <td>{{ scoreMacros.printRanking(userScore.get('ranking')) }}</td>
          <td style="max-width: 200px">{{ entryMacros.entrySmallThumb(entry) }}</td>
          <td>
            <b>{{ scoreMacros.printScore(entry, userScore, { showEditLink: true }) }}</b>
          </td>
          <td style="font-size: 0.8rem">{{ userScore.get('updated_at') | date }}</td>
          <td>
            <b>{{ scoreMacros.printProof(userScore) }}</b>
          </td>
          <td style="font-size: 0.8rem">
            <a href="{{ routeUrl(entry, 'entry', 'scores') }}">{{ entriesLastActivity[userScore.get('entry_id')] | relativeTime }}</a>
          </td>
        </tr>
        {% endfor %}
        {% if userScores.length === 0 %}
        <tr>
          <td colspan="6" class="text-center">No score submitted yet!</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h2>Recent scores</h2>
    {% for entryScore in activeEntries %}
      {{ scoreMacros.highScoreThumb(entryScore) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
{% macro linkSortBy(id, label, sortedBy) %}
<a href="?sortBy={{ id }}" class="btn btn-sm btn-outline-secondary {{ 'disabled' if sortedBy === id }}">{{ label }}</a>
{% endmacro %} 
