{% extends "user/dashboard/dashboard.base.html" %}
{% import "post/post.macros.html" as postMacros with context %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "macros/navigation.macros.html" as navigationMacros %}

{% block dashboardBody %}

<h1>Posts</h1>
<div class="row">
  <div class="col-lg-10">

  <div class="form-group">
    <a href="{{ routeUrl(null, 'post', 'create', {eventId: newPostEvent.get('id')}) if newPostEvent }}" class="btn btn-primary">Create post</a>
  </div>

  {{ navigationMacros.pagination(currentPage, pageCount, '/dashboard/posts?') }}

  {% if draftPosts.length > 0 %}
    <h2>Drafts</h2>
    {% for post in draftPosts %}
      {{ postMacros.post(post, { allowMods: true, readingUser: user, readingUserLikes: {} }) }}
    {% endfor %}

    <h2>Published</h2>
  {% endif %}

  {% for post in publishedPosts %}
    {{ postMacros.post(post, { allowMods: true, readingUser: user, readingUserLikes: {} }) }}
  {% endfor %}

  {% if publishedPosts.length === 0 %}
    <div class="card card-body">No posts yet.</div>
  {% endif %}

  {{ navigationMacros.pagination(currentPage, pageCount, '/dashboard/posts?') }}

  </div>
</div>

{% endblock %}
