{% extends "user/dashboard/dashboard.base.html" %}
{% import "macros/form.macros.html" as formMacros with context %}
{% import "user/dashboard/dashboard.macros.html" as userDashboardMacros with context %}

{% block dashboardBody %}

<h1>Settings</h1>

<form action="{{ routeUrl(dashboardUser, 'user', 'settings', { dashboardAdminMode: dashboardAdminMode, query: 'upload=avatar' }) }}" method="post" enctype="multipart/form-data" class="js-warn-on-unsaved-changes">
{{ csrfToken() | safe }}

{% if dashboardAdminMode %}
<div class="alert alert-danger">
  <h2>Admin settings</h2>

  <div class="form-group">
    <label for="name">Special permissions</label>
    <div>
      {{ formMacros.radio('special_permissions', 'none', 'None', 'none' if not isMod(dashboardUser)) }}
      {{ formMacros.radio('special_permissions', 'mod', 'Moderator', 'mod' if isMod(dashboardUser) and not isAdmin(dashboardUser)) }}
      {{ formMacros.radio('special_permissions', 'admin', 'Administrator', 'admin' if isAdmin(dashboardUser)) }}
    </div>
  </div>
  <div class="form-group">
    <label for="name">Anonymous posts</label>
    <div>
      {{ formMacros.check('disallow_anonymous', 'Disallow posting anonymously', dashboardUser.get('disallow_anonymous')) }}
    </div>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-danger" value="Save changes" />
    <a href="/user/{{ dashboardUser.get('name') }}" class="btn btn-outline-secondary">View profile</a>
  </div>
</div>
{% endif %}

<h2>Account info</h2>
  
<div class="row">
  <div class="col-md-6 col-lg-7">
    <div class="form-group">
      <label for="title">Display name</label>
      <input type="text" class="form-control input-lg" id="password" name="title" placeholder="Display name" value="{{ dashboardUser.get('title') }}">
    </div> 

    <div class="form-group">
      <label for="name">Email address</label>{{ formMacros.tooltip('Only used for password recovery. Any upcoming feature involving emails will be opt-in.', { placement: 'right' }) }}
      <input type="email" class="form-control" id="email" name="email" placeholder="Email address" value="{{ dashboardUser.get('email') }}" required />
    </div>

    {{ userDashboardMacros.timezoneField(timezones, dashboardUser.get('timezone')) }}

    {% set socialLinks = dashboardUser.related('details').get('social_links') %}
    <div class="form-group">
      <label for="name">Website</label>
      <input type="url" class="form-control" id="website" name="website" placeholder="http://" value="{{ socialLinks.website }}" />
    </div>

    <div class="form-group">
      <label for="twitter">Twitter</label>
      <input type="text" class="form-control" id="twitter" name="twitter" placeholder="@username" value="{{ '@' + socialLinks.twitter if socialLinks.twitter }}" />
    </div>

    <div class="form-group">
      <label for="twitch">Twitch</label>
      <input type="text" class="form-control" id="twitch" name="twitch" value="{{ socialLinks.twitch }}" />
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save changes" />
      <a href="/user/{{ dashboardUser.get('name') }}" class="btn btn-outline-secondary">View profile</a>
    </div>
  </div>

  <div class="col-md-6 col-lg-5">
    <div class="form-group">
      <label for="name">Avatar</label>
      {{ formMacros.pictureInput('avatar', dashboardUser.get('avatar'), { model: dashboardUser }) }}
    </div>
  </div>
</div>

<h2 class="spacing">Bio</h2>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      {{ formMacros.editor('body', dashboardUser.related('details').get('body'), 'user-details-' + dashboardUser.get('id')) }}
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save changes" />
      <a href="/user/{{ dashboardUser.get('name') }}" class="btn btn-outline-secondary">View profile</a>
    </div>
  </div>
</div>

</form>

<h2 class="spacing">Danger zone</h2>

<form action="{{ routeUrl(dashboardUser, 'user', 'settings', { dashboardAdminMode: dashboardAdminMode }) }}" method="post">
  {{ csrfToken() | safe }}
  <div class="form-group">
    <input type="submit" name="delete" class="btn btn-danger" value="Delete account"
      onclick="return confirm('Delete your account permanently? This will REALLY delete all your data, including posts and comments. IMPORTANT: this will only work *after* you have manually deleted or left the team for all your entries.')" />
  </div>
</form>

{% endblock %}

{% block scripts %} 
  {{ formMacros.editorScripts() }}
{% endblock %}
