{% macro moderationBar(context, isAdmin) %}
<div class="moderation-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="/admin" class="btn"><span class="glyphicon glyphicon-wrench"></span> Mod dashboard</a>

        {{ moderationLink('Edit post', 'pencil', buildUrl(context.post, 'post', 'edit')) if context.post }}
        {{ moderationLink('Edit entry', 'tower', buildUrl(context.entry, 'entry', 'edit')) if context.entry }}

        {% if isAdmin %}
        {{ moderationLink('Edit event', 'calendar', buildUrl(context.event, 'event', 'edit')) if context.event }}
        {{ moderationLink('Edit live event', 'calendar', buildUrl(context.liveEvent, 'event', 'edit')) if context.liveEvent and not context.event }}
        {{ moderationLink('Edit upcoming event', 'calendar', buildUrl(context.nextEvent, 'event', 'edit')) if context.nextEvent }}
        {{ moderationLink('Create event', 'calendar', buildUrl(null, 'event', 'create')) if context.events }}
        
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro moderationLink(label, icon, url) %}
  <a href="{{ url }}" class="btn"><span class="glyphicon glyphicon-{{ icon }}"></span> {{ label }}</a>
{% endmacro %}
