{% extends "_page.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group panel">
        <div class="list-group-item list-group-item-default"><h4 style="margin: 0">Moderation</h4></div>
        <a href="/admin" class="list-group-item 
        {{ 'list-group-item-warning' if path == '/admin'}}">Announcements</a>
      </div>

      {% if (user and user.get('is_admin') or config.DEBUG_ADMIN) %}
      <div class="list-group panel">
        <div class="list-group-item list-group-item-default"><h4 style="margin: 0">Administration</h4></div>
        <a href="/admin/events" class="list-group-item 
        {{ 'list-group-item-danger' if path == '/admin/events'}}">Events</a>
        <a href="/admin/status" class="list-group-item 
        {{ 'list-group-item-danger' if path == '/admin/status'}}">Server status</a>
        {% if devMode %}
        <a href="/admin/dev" class="list-group-item 
        {{ 'list-group-item-danger' if path == '/admin/dev'}}">Developer tools</a>
        {% endif %}
      </div>
      {% endif %}

    </div>
    <div class="col-sm-9">
      {% if infoMessage %}
        <div class="alert alert-info">{{ infoMessage }}</div>
      {% endif %}
      {% if errorMessage %}
        <div class="alert alert-warning">{{ errorMessage }}</div>
      {% endif %}

      {% block adminBody %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}