{% extends "_page.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group panel">
        <div class="list-group-item list-group-item-default"><h4 style="margin: 0">Moderation</h4></div>
        {{ link('Announcements', '/admin', path, { exactCheck: true }) }}
        {{ link('Events', '/admin/events', path) }}
      </div>

      {% if (user and user.get('is_admin') or config.DEBUG_ADMIN) %}
      <div class="list-group panel">
        <div class="list-group-item list-group-item-default"><h4 style="margin: 0">Administration</h4></div>
        {{ link('Users', '/admin/users', path, { isAdminLink: true }) }}
        {{ link('Platforms', '/admin/platforms', path, { isAdminLink: true }) }}
        {{ link('Tags', '/admin/tags', path, { isAdminLink: true }) }}
        {{ link('Settings', '/admin/settings', path, { isAdminLink: true }) }}
        {{ link('Server status', '/admin/status', path, { isAdminLink: true }) }}
        {% if devMode %}
          {{ link('Developer tools', '/admin/dev', path, { isAdminLink: true }) }}
        {% endif %}
      </div>
      {% endif %}

    </div>
    <div class="col-sm-9">
      {% if infoMessage %}
        <div class="alert alert-info">{{ infoMessage }}</div>
      {% endif %}
      {% if errorMessage %}
        <div class="alert alert-warning">{{ errorMessage }}</div>
      {% endif %}

      {% block adminBody %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}

{% macro link (label, targetPath, currentPath, options = {})  %}
{% set colorClass = 'list-group-item-danger' if options.isAdminLink else 'list-group-item-warning' %}
<a href="{{ targetPath }}" class="list-group-item 
    {{ colorClass if currentPath === targetPath or (not options.exactCheck and currentPath.indexOf(targetPath) === 0)}}">
  {{ label }}
</a>
{% endmacro %}