{% extends "admin/_page-admin.html" %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ macros.editorStyles() }}
{% endblock %}

{% block adminBody %}

<h1>Administration</h1>

<h2>Home announcement</h2>

<form method="post">

  <div class="form-group input-group-lg">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ homePost.get('title') }}">
  </div>

  <div class="form-group">
    {{ macros.editor('body', homePost.get('body')) }}
  </div>

  <input type="submit" class="btn btn-primary" value="Save changes" />

</form>

{% endblock %}

{% block scripts %} 
{{ macros.editorScripts('home') }}
{% endblock %}