{% extends "admin/_page-admin.html" %}
{% import "_macros-form.html" as formMacros %}

{% block styles %}
  {{ formMacros.codeMirrorStyles() }}
{% endblock %}

{% block adminBody %}

<h1>Settings</h1>
{% if editSetting %}
<form action="/admin/settings" method="post">
  <div class="form-group">
    <label for="key">Key</label>
    <p>{{ editSetting.key }}</p>
    <input type="hidden" name="key" value="{{ editSetting.key }}" class="form-control" />
  </div>
  <div class="form-group">
    <label for="value">Value</label>
    <textarea {{ 'id=code' if editSetting.jsonSetting }} name="value" class="form-control {{ 'jsonSetting' if editSetting.isJsonSetting }}">{{ editSetting.value }}</textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Save" />
  </div>
</form>
{% endif %}

<table class="table">
<thead>
  <th>Key</th>
  <th>Value</th>
</thead>
<tbody>
  {% for setting in settings %}
  <tr>
    <td>{{ setting.key }}</td>
    <td>
      {% if constants.JSON_EDIT_SETTINGS.indexOf(setting.key) !== -1 %}
        <pre>{{ setting.value }}</pre>
      {% elseif setting.value %}
        <code>{{ setting.value }}</code>
      {% else %}
        <i>(empty)</i>
      {% endif %}
    </td>
    <td><a class="btn btn-primary btn-sm" href="?edit={{ setting.key }}">Edit</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

{% block scripts %} 
  {{ formMacros.codeMirrorScripts() }}
{% endblock %}