{% extends "admin/_page-admin.html" %}
{% import "post/_macros-post.html" as postMacros %}

{% block adminBody %}

<h1>Articles</h1>

<p>Articles are just blog posts displayed on fixed URLs. The title determines the path: <strong>/article/&lt;generated slug&gt;</strong>. IDs can be used to insert articles in certain event tabs.</p>

<div class="form-group">
  <a href="{{ buildUrl(null, 'post', 'create', { specialPostType: 'article' }) }}" class="btn btn-warning">Create</a>
</div>

{% if missingArticles.length > 0 %} 
<div class="alert alert-warning">
  <strong>Hard-coded articles are missing!</strong>&nbsp;
  {% for missingArticle in missingArticles %}
    <a href="{{ buildUrl(null, 'post', 'create', { specialPostType: 'article', title: missingArticle }) }}" class="btn btn-warning">Create "{{ missingArticle }}"</a>
  {% endfor %}
</div>

{% endif %}

{% if draftPosts.length > 0 %}
  <h2>Drafts</h2>
  {% for post in draftPosts %}
    {{ postMacros.post(post, user, {allowMods: true, hideBody: true, showId: true}) }}
  {% endfor %}

  <h2>Published</h2>
{% endif %}

{% for post in publishedPosts %}
  {{ postMacros.post(post, user, {allowMods: true, hideBody: true, showId: true}) }}
{% endfor %}

{% if publishedPosts.length === 0 %}
  <div class="well">Nothing yet!</div>
{% endif %}

{% endblock %}
