{% extends "admin/_page-admin.html" %}
{% import "post/_macros-post.html" as postMacros %}

{% block adminBody %}

<h1>Announcements</h1>

<div class="form-group">
  <a href="/post/create?special_post_type=announcement" class="btn btn-warning">Create new announcement</a>
</div>

{% if draftPosts.length > 0 %}
  <h2>Drafts</h2>
  {% for post in draftPosts %}
    {{ postMacros.post(post, user, {allowMods: true, hideBody: true}) }}
  {% endfor %}

  <h2>Published</h2>
{% endif %}

{% for post in publishedPosts %}
  {{ postMacros.post(post, user, {allowMods: true, hideBody: true}) }}
{% endfor %}

{% if publishedPosts.length === 0 %}
  <div class="well">Nothing yet!</div>
{% endif %}

{% endblock %}
