{% extends "_page.html" %}
{% import "_macros-form.html" as formMacros %}

{% block styles %}
  {{ formMacros.editorStyles() }}
{% endblock %}

{% block body %}

<div class="container">
  <form action="{{ buildUrl(entry, 'entry') }}" method="post" enctype="multipart/form-data">

    <div class="row">
      <div class="col-md-12">
        <h1 id="js-title-display"></h1>
        
        {% if errorMessage %}
          <div class="alert alert-warning">{{ errorMessage }}</div>
        {% endif %}
      </div>
    </div>

    <div class="row entry">
      <div class="col-md-8">
        <div class="form-group input-group-lg">
          <label for="title">Game title</label>
          <input type="text" id="js-title" class="form-control" name="title" value="{{ entry.get('title') }}" required="required">
        </div>
        <div>
          <div class="form-group btn-group toggle team-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="category" value="solo" autocomplete="off" checked>Solo
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="category" value="team" autocomplete="off">Team
            </label>
          </div>
          <p class="team-notice text-info hidden">You can manage your team after saving this entry.</p>
        </div>
        <div class="form-group">
          <label for="title">Short description</label>
          <textarea class="form-control" name="description">{{ entry.get('description') }}</textarea>
        </div>
        <div class="form-group">
          <label for="title">Links</label>
          <div class="js-links"></div>
        </div>
        <div class="form-group">
          <label for="title">Details</label>
          <div class="user-contents user-contents__editor">
            {{ formMacros.editor('body', entry.related('details').get('body')) }}
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              {% if entry.has('id') %}
              <a class="btn btn-default" onclick="return confirm('Delete the entry? This cannot be reverted!')" href="{{ buildUrl(entry, 'entry', 'delete') }}">Delete</a> 
              {% endif %}
            </div>
            <div class="col-xs-6 text-right">
              <input type="submit" class="btn btn-primary" value="Save changes" />
              <a class="btn btn-default" href="#" onclick="history.back()">Cancel</a> 
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-group">
          <label for="title">Picture</label>
          {% if entry.has('pictures') and entry.get('pictures').length > 0 %}
            {% set picture = entry.get('pictures')[0] %}
          {% endif %}
          {{ formMacros.pictureInput('picture', picture, '/static/images/default-entry.png') }}
        </div>
      </div>
    </div>

  </form>
</div>

<script id="js-links-template" type="text/template">
  <% for (var i in links) { 
    var linkTypeFound = false; %>
    <div class="row" style="margin-bottom: 5px">
      <div class="col-xs-3">
        <select class="js-link-label form-control" data-row="<%= i %>" name="label<%= i %>" placeholder="Label">
          {% for label in constants.ENTRIES_LINKS_TYPES %}
            <% if(links[i].label == "{{ label }}"){ 
              linkTypeFound = true;%>
              <option value="{{ label }}" selected>{{ label }}</option>
            <% } else { %>
              <option value="{{ label }}">{{ label }}</option>
            <% } %>
          {% endfor %}
          <option value="other" <%= linkTypeFound ? "" : "selected" %>>Other</option> 
        </select>
        <input type="text" <%= linkTypeFound ? "style=\"display:none;\"" : "" %> class="js-link-customlabel form-control"  data-row="<%= i %>" name="customlabel<%= i %>" placeholder="Custom Label" value="<%= !linkTypeFound ? links[i].label : ""%>">
      </div>
      <div class="col-xs-8">
        <input type="url" class="js-link-url form-control"  data-row="<%= i %>" name="url<%= i %>" placeholder="URL" value="<%= links[i].url %>">
      </div>
      <div class="col-xs-1">
        <input type="button" class="js-remove-link btn btn-sm" data-row="<%= i %>" value="x" />
      </div>
    </div>
  <% } %>
  <input type="button" class="js-add-link btn btn-sm" value="Add link" />
</script>

{% endblock %}

{% block scripts %} 
{{ formMacros.editorScripts({autoSaveId: entry.get('id')}) }}
<script>

// Sync H1 with title input

var $titleInput = $('#js-title')
var $titleDisplay = $('#js-title-display')
var defaultText = "My {{ event.get('title') }} entry"
$titleInput.on('change keyup', refreshTitleDisplay)
refreshTitleDisplay()

function refreshTitleDisplay () {
  $titleDisplay.text($titleInput.val() || defaultText)
}

// Manage links

var linksTemplate = _.template($('#js-links-template').html())
var links = {{ entry.get('links') | default([]) | dump | safe }}
if (!links) {
  links = [[]]
} else if (links.length === 0) {
  links.push([])
}
refreshLinksView()

function refreshLinksView () {
  $('.js-links').html(linksTemplate({ links: links }));
  $('.js-add-link').click(function () {
    refreshLinksModel()
    links.push({})
    refreshLinksView()
  })
  $('.js-remove-link').click(function () {
    refreshLinksModel()
    links.splice($(this).attr('data-row'), 1)
    if (links.length === 0) {
      links.push({})
    }
    refreshLinksView()
  })
  $('.js-link-label').change(function () {
    if("other" == $( this ).val()){
      $( this ).next(".js-link-customlabel").show();
    } else {
      $( this ).next(".js-link-customlabel").hide();
    }
  })
}
function refreshLinksModel () {
  $('.js-link-label').each(function () {
    $this = $(this)
    links[$this.attr('data-row')].label = $this.val()
  })
  $('.js-link-url').each(function () {
    $this = $(this)
    links[$this.attr('data-row')].url = $this.val()
  })
}


// Team toggle behaviour.
var category = "{{ entry.get('category') }}" || "solo"
$('.team-toggle label').each(function(i, el) {
  el = $(el)
  var input = el.find('input')
  var active = input.val() === category
  input.prop('checked', active)
  el.toggleClass('active', active)
})
$('.toggle label').click(function(ev) {
  $('.team-notice').toggleClass('hidden', $(this).find('input').val() !== 'team')
});

</script>
{% endblock %}
