{% extends "_page.html" %}
{% import "_macros-form.html" as formMacros %}
{% import "_macros-games-search.html" as gamesSearchMacros %}

{% block styles %}
<style type="text/css">
#edit-team .select2.select2-container {
  width: 200px;
}
#edit-team .select2-selection__choice.owner .select2-selection__choice__remove {
  display: none;
}
#edit-team .select2-search-choice-close {
  left: 6px !important;
  top: 14px;
}
.member .select2-search-choice-close {
  left: 6px !important;
  top: 14px;
}
.member .select2-search-choice {
  padding-bottom: 2px !important;
}
.edit-team-dropdown .select2-result {
  height: 42px;
}

.member {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
  margin-left: 0;
  width: 100%;
}
.member-avatar, .member-info {
  vertical-align: top;
  display: inline-block;
}
.member-avatar .avatar {
  width: 36px;
  border-radius: 6px;
  vertical-align: middle;
  text-align: center;
  margin-right: 8px;
  margin-left: 2px;
}
.member-info .username {
  display: inline-block;
  margin-top: 2px;
}
.member-info .tag {
  display: block;
  font-size: 10px;
  color: #666;
  margin-top: -4px;
}
.member-info .unavailable-tag {
  display: none !important;
}
.select2-results__option[aria-disabled=true] .member-info .unavailable-tag {
  display: block !important;
  margin-top: -5px;
}
.select2-results__option.loading-results[aria-disabled=true] .member-info .unavailable-tag {
  display: none !important;
}

/* Select2 hack to support locking tags from deletion (not supported yet in v4) */
.select2-locked .select2-selection__choice__remove {
  display: none !important;
}
.select2-results__option[aria-selected="true"] {
  display: none;
}

.platform {
  margin-top: 2px;
}

#result-msg.error {
  color: red;
}
</style>
{% endblock %}

{% block body %}

<div class="container">
  <form id="js-edit-entry-form" action="{{ buildUrl(entry, 'entry', 'create-entry' if not entry.get('id') else 'edit') }}" method="post" enctype="multipart/form-data" class="js-warn-on-unsaved-changes">

    <div class="row">
      <div class="col-md-12">
        <h1 id="js-title-display"></h1>
        
        {% if errorMessage %}
          <div class="alert alert-warning">{{ errorMessage }}</div>
        {% endif %}
      </div>
    </div>

    <div class="row entry">
      <div class="col-lg-8 col-md-7">
        <div class="form-group input-group-lg">
          <label for="title">Game title</label>
          <input type="text" class="form-control js-sync-text" name="title" value="{{ entry.get('title') }}" required="required"
            data-sync-text-display-selector="#js-title-display"
            data-sync-text-default="My {{ 'external' if external else event.get('title') }} entry"/>
        </div>
        <div class="form-group">
          <label for="title">Short description</label>
          <input type="text" class="form-control" name="description" value="{{ entry.get('description') }}" />
        </div>
        
        {% if external %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="title">External event name</label>
              <select class="form-control js-entry-external-event" name="external-event">
                {% if entry.get('external_event') %}
                  <option  value="{{ entry.get('external_event') }}">{{ entry.get('external_event') }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="title">Entry publication date</label>
              {{ formMacros.dateTimePicker('published-at', entry.get('published_at'), { minView: '2', momentFormat: 'YYYY-MM-DD', pickerFormat: 'yyyy-mm-dd' }) }}
            </div>
          </div>
        </div>
        {% endif %}

        {% set isEntryOwner = not entry.get('id') or canUserManage(user, entry) %}
        {% set canEditDivision = not event or ((isEntryOwner or isMod(user)) and event.get('status_entry') === 'open') %}
        {% set divisionTooltip = 'Check the Docs section for the detailed rules on each division. '
          + ('Divisions can no longer be changed.' if event.get('status_entry') !== 'open')
          + ('Only the entry owner can change this setting.' if not isEntryOwner and event.get('status_entry') === 'open')
            if event %}

        <label for="division">Division {{ formMacros.tooltip(divisionTooltip) if not external }}</label>
        <div>
          <div class="entry__divisions toggle js-entry-divisions" data-toggle="buttons"
               data-initial-division="{{ entry.get('division') | default('solo') }}">
            {% if not external %}
              {% for name, description in event.get('divisions') %}
                {{ divisionButton(name|capitalize, description, constants.DIVISION_ICONS[name], name,
                  entry.get('division'), canEditDivision, divisionTooltip) }}
              {% endfor %}
            {% else %}
              {{ divisionButton('Solo', '', constants.DIVISION_ICONS['solo'], 'solo',
                entry.get('division'), canEditDivision, divisionTooltip) }}
              {{ divisionButton('Team', '', constants.DIVISION_ICONS['team'], 'team', 
                entry.get('division'), canEditDivision, divisionTooltip) }}
            {% endif %}
          </div>
          
          <div id="edit-team" class="{{ 'hidden' if entry.get('division') === 'solo' }} js-edit-entry-team"
              data-find-team-mate-url="{{ buildUrl(event, 'event', 'ajax-find-team-mate') }}"
              data-entry-id="{{ entry.get('id') or '' }}">
            <div id="result-box" class="form-group" style="display:none;">
              <h3 id="result-msg"></h3>
              <ul id="conflict-list" style="display:none;"></ul>
              <div id="removed-msg" style="display:none;"></div>
              <div id="added-msg" style="display:none;"></div>
            </div>

            <div class="form-group">
              <label for="members">Team members {{ formMacros.tooltip('You can leave the team at the bottom of this form.') if not isEntryOwner }}</label>
              <select name="members" class="bigdrop js-search-members" multiple="multiple" {{ 'readonly' if not isEntryOwner }}
                title="{{ 'Only the entry owner can change this setting. You can leave the team at the bottom of this form.' if not isEntryOwner }}">
                {% for member in members %}
                  <option value="{{ member.id }}" data-locked="{{ member.locked }}" data-invite="{{ member.invite }}" data-avatar="{{ member.avatar }}" selected>{{ member.text }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          
          {% if not external
              and event.related('details').get('category_titles')
              and event.related('details').get('category_titles').includes('Graphics') %}
            {% set canEditOptouts = isEntryOwner or isMod(user) %}
            {% set optouts = entry.related('details').get('optouts') %}
            <div id="edit-optouts" class="{{ 'hidden' if entry.get('division') === 'unranked' }}">
              <div class="form-group" title="{{ 'Only the entry owner can change this setting' if not canEditOptouts }}">
                <label>Opt-outs (<a href="/article/faq#optouts" target="_blank">help</a>)</label>
                <div>
                  <label style="font-weight: normal">
                    <input type="checkbox" name="optout-graphics" class="js-checkbox"
                    {{ 'readonly' if not canEditOptouts }}
                    {{ 'checked="checked"' if optouts and optouts.includes('Graphics') }} 
                    {{ 'disabled' if not canEditOptouts }} />
                    Disable ratings for graphics
                  </label>
                </div>
                <div>
                  <label style="font-weight: normal">
                    <input type="checkbox" name="optout-audio" class="js-checkbox"
                    {{ 'readonly' if not canEditOptouts }}
                    {{ 'checked="checked"' if optouts and optouts.includes('Audio') }}
                    {{ 'disabled' if not canEditOptouts }} />
                    Disable ratings for audio
                  </label>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <div class="horizontal-bar" style="margin-top: 40px">Details</div>

        <div class="form-group">
          <label for="title">Links</label>
          <div class="js-links" data-entry-links="{{ entry.get('links') | default([]) | dump }}"></div>
        </div>
        <div class="form-group">
          <label for="platforms">Platforms</label>
          <select name="platforms" class="form-control js-entry-platforms" multiple="multiple">
            {% for platform in allPlatforms %}
              <option value="{{ platform }}" {{ 'selected' if entry.get('platforms') and entry.get('platforms').includes(platform) }}>{{ platform }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="tags">Tags</label> {{ formMacros.tooltip('Use this to let people search your game by tech (Unity, Game Maker...), genre (Platformer...), style (Pixel art...), etc.') }}
          <select name="tags" class="form-control js-tags-select" multiple="multiple"
                  data-allow-new-tags="true"
                  data-find-tags-url="{{ buildUrl(null, 'tags', 'ajax-find-tags') }}">
            {% for tag in tags %}
              <option value="{{ tag.id }}" selected>{{ tag.value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="title">Detailed description</label>
          <div class="user-contents user-contents__editor">
            {{ formMacros.editor('body', entry.related('details').get('body'), 'entry-details-' + entry.get('id')) }}
          </div>
        </div>

        <div class="form-group">
          <label for="status">Comment options</label>
          <div>
            {{ formMacros.check('anonymous-enabled', 'Allow anonymous feedback', entry.get('allow_anonymous'), { noMargin: true }) }}
            (<a href="/article/faq#anon-entry" target="_blank">help</a>)
          </div>
        </div>
      </div>

      

      <div class="col-lg-4 col-md-5">
        <div class="form-group">
          <label for="title">Picture</label>
          {% if entry.has('pictures') and entry.get('pictures').length > 0 %}
            {% set picture = entry.get('pictures')[0] %}
          {% endif %}
          {{ formMacros.pictureInput('picture', picture) }}
          <span class="count">Max size: 2.0 MiB. Ideal ratio: 16:9. GIFs allowed.</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-xs-6">
            {% if entry.has('id') %}
              {% if isEntryOwner or isMod(user) %}
                <a class="btn btn-default" href="{{ buildUrl(entry, 'entry', 'delete') }}" onclick="return confirm('Delete the entry? This cannot be reverted!')">Delete</a> 
              {% endif %}
              {% if not isEntryOwner %}
                <a class="btn btn-default" href="{{ buildUrl(entry, 'entry', 'leave') }}" onclick="return confirm('Leave the team? This cannot be reverted, unless the team owner takes you back!')">Leave the team</a>
              {% endif %}
            {% endif %}
          </div>
          <div class="col-xs-6 text-right">
            <input type="submit" class="btn btn-primary" value="Save changes" />
            <a class="btn btn-default" href="#" onclick="history.back()">Cancel</a> 
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script id="js-links-template" type="text/template">
  <input type="hidden" name="submit-links" value="true" />
  <% for (var i in links) { %>
    <div class="row" style="margin-bottom: 5px">
      <div class="col-xs-3">
        <input type="text" name="label<%- i %>" class="js-link-label form-control" data-row="<%- i %>" placeholder="Label" value="<%- links[i].label %>" />
      </div>
      <div class="col-xs-8">
        <input type="url" class="js-link-url form-control" data-row="<%- i %>" name="url<%- i %>" placeholder="URL" value="<%- links[i].url %>">
      </div>
      <div class="col-xs-1">
        <input type="button" class="js-remove-link btn btn-sm" data-row="<%- i %>" value="x" />
      </div>
    </div>
  <% } %>
  <input type="button" class="js-add-link btn btn-sm" value="Add link" />
</script>

{% endblock %}

{% macro divisionButton(title, legend, icon, value, currentValue, canEditDivision, tooltipMessage) %}
  {% if canEditDivision %}
    <label class="btn entry-division js-division-button {{ 'active' if value === currentValue }}">
      <div class="fa fa-{{ icon }}"></div>
      <input type="radio" name="division" value="{{ value }}" autocomplete="off" {{ 'checked' if value === currentValue }}>
      {{ title }}
      <div class="entry-division__legend hidden-xs hidden-sm">{{ legend | safe }}</div>
    </label>
  {% else %}
    <div class="btn entry-division {{ 'active' if value === currentValue else 'disabled' }}" title="{{ tooltipMessage }}">
      <div class="fa fa-{{ icon }}"></div>
      {{ title }}
      <div class="entry-division__legend hidden-xs hidden-sm">{{ legend | safe }}</div>
    </div>
  {% endif %}
{% endmacro %}
            
{% block scripts %}
{{ formMacros.editorScripts() }}
{% endblock %}
