{% extends "_page.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "user/_macros-user.html" as userMacros %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "entry/_macros-score.html" as scoreMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><a href="{{ buildUrl(entry, 'entry') }}">{{ entry.get('title') }}</a></h1>

      <h2>Manage scores</h2>

      <p>You can suspend here any score that seems invalid. Any suspended score will not be deleted, it will simply no longer appear in the public high scores.</p>

      <form method="post">
        {{ csrfToken() | safe }}
        {{ scoreMacros.highScores(entry, highScoresCollection, null, { showActiveToggles: true, showDates: true }) }}
        <input type="submit" name="clearall" class="btn btn-danger" onclick="return confirm('This will actually delete all the scores. It\'s here in case you make gameplay changes that turn all scores obsolete. Do you really want to reset all scores?')" value="Reset all scores" />
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ formMacros.editorScripts() }}
{% endblock %}
