{% extends "_page.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/simplemde.min.css" />
{% endblock %}


{% block body %}

<div class="container">
  <form action="{{ buildUrl(entry, 'entry') }}" method="post" enctype="multipart/form-data">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="title-display"></h1>
        </div>
      </div>
      <div class="row entry">
        
        <div class="col-md-7">
          <div class="form-group input-group-lg">
            <label for="title">Game name</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Game name" value="{{ entry.get('title') }}">
          </div>
          <div class="form-group">
            <label for="title">Link</label>
            <input type="text" class="form-control" id="link" name="link" placeholder="http://..." value="{{ entry.get('links')[0].url }}">
          </div>
          <div class="form-group">
            <label for="title">Description</label>
            <div class="user-contents user-contents__editor">
              <textarea class="form-control" style="min-height: 200px" id="body" name="body" placeholder="A short description of your game">{{ entry.get('body') }}</textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6">
                  {% if entry.has('uuid') %}
                  <a class="btn btn-default" onclick="return confirm('Delete the entry? This cannot be reverted!')" href="{{ buildUrl(entry, 'entry', 'delete') }}">Delete</a> 
                  {% endif %}
                </div>
                <div class="col-xs-6 text-right">
                  <input type="submit" class="btn btn-primary" value="Save changes" />
                  <a class="btn btn-default" href="#" onclick="history.back()">Cancel</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-5">
          <div class="form-group">
            <label for="title">Picture</label>
            <input type="file" id="picture" name="picture" />
            {% if entry.has('picture') %}
            <label><input type="checkbox" name="pictureDelete" /> Delete picture</label>
            {% endif %}
            
            <br />
            {% if entry.has('pictures') and entry.get('pictures').length > 0  %}
            <img src="{{ entry.get('pictures')[0] }}" style="width: 100%" />
            {% else %}
            <img src="/static/images/test.png" style="width: 100%" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/js/simplemde.min.js"></script>
<script>
// Markdown editor
var simplemde = new SimpleMDE({
  element: $('#description')[0],
  spellChecker: false
})

// Sync H1 with title input
var $titleInput = $('#title')
var $titleDisplay = $('#title-display')
var defaultText = "My {{ event.get('title') }} entry"
$titleInput.on('change keyup', refreshTitleDisplay)
refreshTitleDisplay()

function refreshTitleDisplay () {
  $titleDisplay.text($titleInput.val() || defaultText)
}

</script>
{% endblock %}