{% extends "_page.html" %}
{% import "user/_macros-user.html" as userMacros %}

{% block styles %}
<link rel="stylesheet" href="/static/css/select2.min.css" />
{% endblock %}

{% block body %}
<style>
form .select2.select2-container {
  width: 200px;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form action="{{ buildUrl(entry, 'entry') }}" method="post" enctype="multipart/form-data">
        <h3>Members</h3>
        Num roles: {{ entry.related('userRoles').models.length }}
        <select name="members" class="search-members" multiple="multiple">
          <option selected value="{{ entry.get('owner_name') }}">{{ entry.get('owner_title') }}</option>
          {% for userRole in entry.related('userRoles').models %}
          <option value="{{ userRole.get('user_name') }}">name {{ userRole.get('user_name') }}{{ userRole.get('user_title') }}</option>
          {% endfor %}
        </select>
        {% if errorMessage %}
        <div class="alert alert-warning">{{ errorMessage }}</div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/select2.min.js"></script>
<script type="text/javascript">
function dataToOption(item) {
  return { id: item.name, text: item.title }
}

$('.search-members').select2({
  ajax: {
    url: '{{ buildApiUrl("userSearch") }}',
    dataType: 'json',
    delay: 300,
    data: function(params) {
      return {
        search: params.term
      }
    },
    processResults: function(data, params) {
      return {
        results: data.items.map(dataToOption)
      }
    },
    cache: true
  },
  allowClear: false,
  minimumInputLength: 3
}).on('select2:unselecting', function(ev) {
  if (ev.id === "{{ entry.get('owner_id') }}") {
    ev.preventDefault();
  }
})
</script>
{% endblock %}
