{% extends "_page.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "user/_macros-user.html" as userMacros %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "_macros-form.html" as formMacros %}
{% import "entry/_macros-score.html" as scoreMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if infoMessage %}
        <div class="alert alert-info">{{ infoMessage }}</div>
      {% endif %}
      
      <h1>
        {{ entry.get('title') }} 
        {% if canUserWrite(user, entry) %}
          <a class="btn btn-default" href="{{ buildUrl(entry, 'entry', 'edit') }}">Edit</a>
        {% endif %}
        {% if external %}
          <h2 style="margin-top: -5px; margin-bottom: 20px">
            <span class="label label-xs label-primary">External entry</span>
            {% if entry.get('external_event') %}
              Made for <i>{{ entry.get('external_event') }}</i>
            {% endif %}
          </h2>
        {% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% set hasPictures = entry.has('pictures') and entry.get('pictures').length > 0 %}
      <div class="entry__picture {{ 'empty' if not hasPictures }}">
        {% if hasPictures %}
        <img src="{{ pictureUrl(entry.get('pictures')[0], entry) }}"/>
        {% else %}
        <img src="/static/images/default-entry.png" style="padding: 20px" />
        {% endif %}
        {% if event and event.get('status_results') === 'results' and entry.get('division') !== 'unranked' %}
        <div class="entry-medals">
          {%- set details = entry.related('details') -%}
          {%- if details -%}
          {%- for categoryIndex in range(1, 7) -%}
            {%- set ranking = details.get('ranking_' + categoryIndex) -%}
            {%- if ranking and ranking <= 3 -%}
              <a href="#results">
                <span class="entry-results__category-medal medal-category-{{categoryIndex}} medal-ranking-{{ranking}}"></span>
              </a>
            {%- endif -%}
          {%- endfor -%}
          {%- endif -%}
        </div>
        {% endif %}
      </div>
      {% if entry.related('details').get('body') %}
      <div class="well post user-contents">
        {{ entry.related('details').get('body') | markdown | safe }}
      </div>
      {% endif %}

      {% if user and event and eventVote %}
        {% if canVote %}
          <div class="entry-voting">
            <h2 class="entry-voting__header">
              <div class="pull-right">
                <a href="{{ buildUrl(event, 'event', 'ratings') }}" class="btn btn-default btn-xs">Manage my ratings</a>
              </div>
              Game voting
            </h2>
            <div class="entry-voting__body">
              {% if entry.get('division') === 'unranked' %}
                <p>This game is an <strong>Unranked</strong> entry.</p>
                <p>Voting is disabled, please provide feedback instead.</p>
                <p style="margin-bottom: 0"><i>Note: The Karma formula grants you as many points on this entry as on ranked ones. <a href="/article/faq#karma-intro">Learn more</a></i></p>
              {% else %}
                <form action="" method="post">
                  <div class="pull-right">
                    <div class="show-if-saving"><i class="fa fa-spinner fa-spin" title="Saving…"></i></div>
                    <div class="show-if-saving-success"><i class="fa fa-check-circle" title="Ratings saved successfully"></i></div>
                    <div class="show-if-saving-error"><i class="fa fa-times-circle"></i> <span class="js-saving-error-text"></span></div>
                  </div>
                  <p>This <strong>{{ entry.get('division') | capitalize }}</strong> entry has received <strong>{{ entryVotes }}</strong> vote{{ 's' if entryVotes !== 1 }} so far.</p>
                  {{ csrfToken() | safe }}
                  <input type="hidden" name="action" value="vote" />
                  <div>
                    {% set optouts = entry.related('details').get('optouts') or [] %}
                    {% for categoryTitle in event.related('details').get('category_titles') %}
                      {% set categoryIndex = loop.index %}
                      {% set categoryRating = vote.get('vote_' + categoryIndex) if vote %}
                      <div class="entry-voting__category">
                        <input type="hidden" id="js-vote-{{ categoryIndex }}" name="vote-{{ categoryIndex }}" value="{{ (categoryRating or 0) | digits(3) }}" />
                        <div class="entry-voting__category-title">{{ categoryTitle }}</div>
                        <div id="js-vote-label-{{ categoryIndex }}" class="entry-voting__category-rating confirmed">&nbsp;{{ (categoryRating | digits(0)) if categoryRating > 0 }}</div>
                        <div class="entry-voting__category-stars">
                          <span data-category="{{ categoryIndex }}" data-rating="0" class="js-star fa fa-lg fa-circle-o {{ 'confirmed' if not categoryRating }}"></span>
                          {% if optouts.includes(categoryTitle) %}
                            Opted out (<a href="/article/faq#optouts">about</a>)
                          {% else %}
                            {%- for i in range(1, 11) -%}
                              <span data-category="{{ categoryIndex }}" data-rating="{{ i }}" class="js-star fa fa-lg {{ 'fa-star confirmed' if i <= categoryRating else 'fa-star-o' }}"></span>
                            {%- endfor -%}
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </form>
              {% endif %}
            </div>
          </div>
        {% elseif not canUserWrite(user, entry) %}
          <div class="entry-voting">
            <h2 class="entry-voting__header">Game voting</h2>
            <div class="entry-voting__body">
              <p>Because you didn't enter the event, you cannot vote on this game.</p>
              <p>You can still provide feedback using comments!</p>
            </div>
          </div>
        {% elseif entryVotes !== null and entry.get('division') !== 'unranked' %}
          <div class="entry-voting">
            <h2 class="entry-voting__header">Game voting</h2>
            <div class="entry-voting__body">
              <p>You have received <strong>{{ entryVotes }}</strong> vote{{ 's' if entryVotes !== 1 }} so far.</p>
              {% if entryVotes < minEntryVotes %}
                <p>You need at least <strong>{{ minEntryVotes }}</strong> votes for your game to receive rankings.</p>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if event and event.get('status_results') === 'results' and entry.get('division') !== 'unranked' %}
      <div class="entry-results">
        <h2 class="entry-results__header"><a name="results"></a>Voting results</h2>
        <div class="entry-results__body">
          <p>
          {% set hasRatings = false %}
          {% set details = entry.related('details') %}
          {% set entriesInDivision = event.related('details').get('division_counts')[entry.get('division')] %}
          {% for categoryTitle in event.related('details').get('category_titles') %}
            {% set categoryIndex = loop.index %}
            {% set ranking = details.get('ranking_' + categoryIndex) %}
            {% set rating = details.get('rating_' + categoryIndex) %}
            {% if ranking %}
              {% set hasRatings = true %}
              {% set percentage = ((ranking - 1) / entriesInDivision * 100) | digits(0) %}
              <div class="entry-results__category">
                <div class="entry-results__category-title">{{ categoryTitle }}</div>
                <div class="entry-results__category-ranking">
                  <a href="{{ buildUrl(event, 'event', 'results') }}?sortBy={{ categoryIndex }}&amp;division={{ entry.get('division') }}">
                    {% if ranking <= 3 %}
                      <span class="entry-results__category-medal medal-category-{{categoryIndex}} medal-ranking-{{ranking}}"></span>
                    {% endif %}
                    {{ ranking | ordinal }}
                  </a>
                </div>
                <div class="entry-results__category-rating hidden-xs">{{ (percentage | digits(0)) + '%' if percentage > 0 }}</div>
                <div class="entry-results__category-rating">{{ rating | digits(3) }}</div>
                <div class="entry-results__category-stars hidden-xs">
                  {%- for i in range(1, 11) -%}
                    <span class="fa fa-lg {{ 'fa-star' if i <= rating|round(0) else 'fa-star-o' }}"></span>
                  {%- endfor -%}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </p>

          {% if hasRatings %}
            This game entered in the <strong>{{ entry.get('division') | capitalize }}</strong> competition (<strong>{{ entriesInDivision }}</strong> entries).
          {% else %}
            This entry did not get enough ratings to be ranked.
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% if entry.get('allow_anonymous') and user and not user.get('disallow_anonymous') %}
        <p class="pull-right" style="line-height: 30px">This entry welcomes anonymous comments (<a href="/article/faq#anon-comment" target="_blank">help</a>)</p>
      {% endif %}
      <h2>Comments <i>({{ entry.get('comment_count') or '0' }})</i></h2>
      {{ postMacros.comments(sortedComments, user, { csrfToken: csrfToken, allowMods: true, editComment: editComment, 
        allowAnonymous: entry.get('allow_anonymous'), editableAnonComments: editableAnonComments }) }}

    </div>

    <div class="col-md-4">
      <h3>Info</h3>

      {% if entry.get('description') %}
      <div class="well entry__description user-contents">
        {{ entry.get('description') }}
      </div>
      {% endif %}

      {% if not external %}
      <div class="entry__info">
        <span class="entry__info-label">Division</span>
        <span class="entry__info-value">{{ entry.get('division') | capitalize }}</span>
      </div>
      <div class="entry__info">
        <span class="entry__info-label">Karma</span>
        <span class="entry__info-value">{{ entry.get('karma') | digits(0) }}</span>
      </div>
      {% endif %}
      <div class="entry__info">
        <span class="entry__info-label">Platforms</span>
        <div class="entry__info-value">
          {% for name in entry.get('platforms') -%}
            <div class="entry__platform">{{ eventMacros.entryPlatformIcon(name, { hideLabel: true }) }}</div>
          {%- endfor %}
        </div>
      </div>
      {% if entry.related('tags').length > 0 %}
      <div class="entry__info">
        <span class="entry__info-label">Tags</span>
        <div class="entry__info-value" style="width: 215px">
          {% for tag in entry.related('tags').models %}
            <a href="/games?eventId=&amp;tags={{ tag.get('id') }}" class="btn btn-xs">{{ tag.get('value') }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="entry__info">
        <span class="entry__info-label">Published</span>
        <span class="entry__info-value">{{ entry.get('published_at') | date }}</span>
      </div>

      <h3 style="margin-top: 20px">Links</h3>

      <div class="entry__links">
        {% if canUserWrite(user, entry) %}
          <a class="btn btn-default" href="{{ buildUrl(entry, 'entry', 'edit') }}">Edit entry</a>
        {% endif %}
        {% for link in entry.get('links') %}
          <a class="btn btn-primary" href="{{ link.url }}" target="_blank">
            <span class="fa fa-external-link"></span>
            {{ link.label }} 
          </a>
        {% endfor %}
        {% if entry.get('links').length === 0 or not entry.get('links')[0].url %}
          <div class="well">No links yet.</div>
        {% endif %}
      </div>

      <h3 style="margin-top: 20px">Author{{ 's' if entry.related('userRoles').models.length > 1 }}</h3>

      <div class="well" style="padding-bottom: 5px">
        <div class="row">
          {% for userRole in entry.sortedUserRoles() %}
            {{ userMacros.userThumb(userRole.related('user'), { fullWidth: true }) }}
          {% endfor %}
        </div>
      </div>

      {% if entry.get('status_high_score') !== 'off' %}
        <h3 name="high-scores">High scores {{ scoreMacros.highScoresLinks(entry, user, path) }}</h3>
        {{ scoreMacros.tournamentEventBanner(tournamentEvent) }}
        {{ scoreMacros.highScores(entry, highScoresCollection, userScore) }}
      {% endif %}

      {% if posts.models.length > 0 %}
        <h3>Related posts</h3>
        <div class="list-group">
        {% for post in posts.models %}
          <div class="list-group-item" style="margin-bottom: -10px">
            {{ postMacros.post(post, user, { hideDetails: true, hideSpecialLabels: true }) }}
          </div>
        {% endfor %}
        </div>
      {% endif %}

  </div>
</div>

{% endblock %}

{% block scripts %}
{{ formMacros.editorScripts() }}
{% endblock %}
