{% extends "_page.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "user/_macros-user.html" as userMacros %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "entry/_macros-score.html" as scoreMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><a href="{{ buildUrl(entry, 'entry') }}">{{ entry.get('title') }}</a></h1>

      <h2>Leaderboard {{ scoreMacros.highScoresLinks(entry, user) }}</h2>

      {{ scoreMacros.tournamentEventBanner(tournamentEvent) }}
      {{ scoreMacros.highScores(entry, highScoresCollection, entryScore, { hideViewAllScores: true }) }}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ formMacros.editorScripts() }}
{% endblock %}
