{% extends "_page.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "user/_macros-user.html" as userMacros %}
{% import "_macros-form.html" as formMacros %}

{% block styles %}
  {{ formMacros.editorStyles() }}
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        {{ entry.get('title') }} 
        {% if canUserWrite(user, entry) %}
        <a class="btn btn-default" href="{{ buildUrl(entry, 'entry', 'edit') }}">Edit</a>
        {% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="entry__picture">
        {% if entry.has('pictures') and entry.get('pictures').length > 0 %}
        <img src="{{ entry.get('pictures')[0] }}"/>
        {% else %}
        <img src="/static/images/default-entry.png" style="padding: 20px" />
        {% endif %}
      </div>
      {% if entry.related('details').get('body') %}
      <div class="well post">
        {{ entry.related('details').get('body') | markdown | safe }}
      </div>
      {% endif %}

      {% if posts.models.length > 0 %}
      <h2>Latest posts</h2>
      {% for post in posts.models %}
        {{ postMacros.post(post, user, {hideBody: true}) }}
      {% endfor %}
      {% endif %}

      <h2>Comments <i>({{ entry.get('comment_count') or '0' }})</i></h2>
      {{ postMacros.comments(sortedComments, user, {allowMods: true, editComment: editComment}) }}

    </div>

    <div class="col-md-4 user-contents">
      {% if entry.has('category') %}
      <h3>Category</h3>
      <div class="well entry__category">
        {{ entry.get('category') | capitalize }}
      </div>
      {% endif %}

      {% if entry.get('description') %}
      <h3>Description</h3>
      <div class="well entry__description">
        {{ entry.get('description') }}
      </div>
      {% endif %}

      <h3>Links</h3>
      <div class="entry__links">
        {% for link in entry.get('links') %}
           <a class="btn btn-primary" href="{{ link.url }}">
           {{ link.label }}
           </a>
        {% endfor %}
        {% if entry.get('links').length === 0 or not entry.get('links')[0].url %}
          <div class="well">No links yet.</div>
        {% endif %}
        {% if canUserWrite(user, entry) %}
        <a class="btn btn-default" href="{{ buildUrl(entry, 'entry', 'edit') }}">Edit entry</a>

        {% if entry.get('category') === 'team' %}
        <a class="btn btn-default" href="{{ buildUrl(entry, 'entry', 'manage-team') }}">Manage team</a>
        {% endif %}
        {% endif %}
      </div>

      <h3 style="margin-top: 10px">Author{{ 's' if entry.related('userRoles').models.length > 1 }}</h3>

      <div class="row">
        {% for userRole in entry.related('userRoles').models %}
          {{ userMacros.userThumb(userRole.related('user'), { fullWidth: true }) }}
        {% endfor %}
      </div>

      <div class="entry__score">
        <span class="pull-right">{{ entry.get('feedback_score') }}</span>
        Feedback Score
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ formMacros.editorScripts() }}
{% endblock %}
