{% extends "_page.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ entry.get('title') }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="entry__picture">
        {% if entry.has('pictures') and entry.get('pictures').length > 0 %}
        <img src="{{ entry.get('pictures')[0] }}"/>
        {% else %}
        <img src="/static/images/test.png" />
        {% endif %}
      </div>
      <div class="well">
        {{ entry.get('body') | markdown | safe }}
      </div>
    </div>
    <div class="col-md-4 well user-contents">
      {% for link in entry.get('links') %}
         <a class="btn btn-primary" href="{{ link.url }}">
         {{ link.title }}
         </a>
      {% endfor %}
      <a class="btn btn-default" href="/entry/{{ entry.get('uuid') }}/edit">Edit entry</a>
    </div>
  </div>
</div>

{% endblock %}