{% import "admin/admin.macros.html" as adminMacros %}
{% import "event/event.macros.html" as eventMacros %}

{% macro userMenu(user, unreadNotifications) %}
<div class="dropdown">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="collapse" data-target="#navbar-user-dropdown" aria-haspopup="true" aria-expanded="false">
    <a class="navbar-avatar-wrapper" href="{{ routeUrl(user, 'user', 'feed') }}" onclick="arguments[0].stopPropagation()">
      {% if user.get('avatar') %}
      <img src="{{ pictureUrl(user.get('avatar'), user) }}" class="navbar-avatar" />
      {% else %}
      <img src="{{ staticUrl('/static/images/default-avatar.png') }}" class="navbar-avatar" />
      {% endif %}
      <div class="navbar-unread-notifications {{ 'unread' if (unreadNotifications > 0) }}">
        {{ unreadNotifications }}
      </div>
    </a>
    {{ user.get('title') }}
  </button>
  <div class="dropdown-menu dropdown-menu-right" id="navbar-user-dropdown">
    <a class="dropdown-item" href="{{ routeUrl(user, 'user', 'feed') }}">Dashboard</a>
    <a class="dropdown-item" href="{{ routeUrl(user, 'user') }}">Public profile</a>
    <a class="dropdown-item" href="{{ routeUrl(user, 'user', 'settings') }}">Settings</a class="dropdown-item">
    <div class="dropdown-divider"></div> 
    <a class="dropdown-item" href="{{ routeUrl(user, 'user', 'entries') }}">My entries</a class="dropdown-item">
    <a class="dropdown-item" href="{{ routeUrl(user, 'user', 'posts') }}">My posts</a class="dropdown-item">
    <a class="dropdown-item" href="{{ routeUrl(user, 'user', 'scores') }}">My scores</a class="dropdown-item">
    <div class="dropdown-divider"></div> 
    <a class="dropdown-item" href="/logout">Logout</a class="dropdown-item">
  </div>
</div>
{% endmacro %}

{% macro eventLink (event, statusField, targetPath, label, icon, currentPath, options = {}) %}
{%- if not statusField or event.get(statusField) !== 'disabled' -%}
  {%- set targetUrl = targetPath if targetPath.includes('/') else routeUrl(event, 'event', targetPath) -%}
  {%- set active = currentPath and currentPath.indexOf(targetUrl) === 0 -%}
  <li class="nav-item">
    <a href="{{ targetUrl }}" class="nav-link event-navbar-tab 
        {{ 'active' if active and not options.asButton }} 
        {{ 'disabled' if statusField and (not (event.get(statusField)|int)) and (event.get(statusField) === 'off' or options.requiredValue and not options.requiredValue.includes(event.get(statusField))) }}">
      {% if options.asButton %}<span class="btn btn-{{ 'outline-' if active }}alt">{% endif %}
      <span class="event-navbar-tab__icon fas fa-{{ icon }}"></span> 
      <span class="event-navbar-tab__label">{{ label | safe }}</span>
      {% if options.asButton %}</span>{% endif %}
    </a>
  </li>
{%- endif -%}
{% endmacro %}

<!doctype html>
<html lang="en">
<head>
  {% set pageTitle = (pageTitle + ' | ' if pageTitle) + 'Alakajam!' %}
  {% set pageDescription = pageDescription if pageDescription else 'A community for game development enthusiasts, organizing regular events and competitions.' %}
  
  <title>{{ pageTitle }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@AlakajamBang" />
  <meta name="twitter:title" content="{{ pageTitle if pageTitle else 'Alakajam!' }}" />
  <meta name="twitter:description" content="{{ pageDescription | truncate(160) }}" />
  <meta name="twitter:image" content="{{ pageImage if pageImage else staticUrl('/static/images/logo.png') }}" />
  <meta property="og:title" content="{{ pageTitle if pageTitle else 'Alakajam!' }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ rootUrl }}{{ path }}" />
  <meta property="og:image" content="{{ pageImage if pageImage else staticUrl('/static/images/logo.png') }}" />
  <meta name="description" content="{{ pageDescription | truncate(160) }}" />

  <link rel="icon" type="image/png" href="{{ staticUrl('/static/images/favicon16.png') }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ staticUrl('/static/images/favicon32.png') }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ staticUrl('/static/images/favicon196.png') }}" sizes="196x196" />
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet" />
  {% block styles %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ staticUrl('/dist/client/css/index.css?' + launchTime) }}" />
  <script id="js-alerts" type="application/json">{{ alerts | dump | safe }}</script>
</head>
{% set inEvent = event and event.get('id') %}
<body>

  {# ==== Main header ==== #}
  
  <nav id="main-header" class="navbar navbar-dark bg-primary navbar-expand-md {{ 'has-event-navbar' if inEvent }}">
    <div class="container justify-content-between">
      <a class="navbar-brand" href="/"><div class="navbar-brand__hover"></div></a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-dropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-dropdown">
        <ul class="navbar-nav">
          <li class="nav-item {{ 'active' if path == '/events' }}"><a class="nav-link" href="/events">Events</a></li>
          <li class="nav-item {{ 'active' if path.indexOf('/games') === 0 }}"><a class="nav-link" href="/games">Games</a></li>
          <li class="nav-item {{ 'active' if path.indexOf('/people') === 0 }}"><a class="nav-link" href="/people">People</a></li>
          <li class="nav-item d-none d-sm-block {{ 'active' if path == '/chat' }}"><a class="nav-link" href="/chat">Chat</a></li>
          <li class="nav-item {{ 'active' if path.indexOf('/article/docs') === 0 or path.indexOf('/api') === 0 }}"><a class="nav-link" href="/article/docs">Docs</a></li>
          <li class="nav-item {{ 'active' if path.indexOf('/article/about') === 0 or path === '/changes' }}"><a class="nav-link" href="/article/about">About</a></li>
          {% if user %}
            <li class="nav-item d-md-none {{ 'active' if path.indexOf('/dashboard') === 0 }}"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item d-md-none {{ 'active' if path === '/logout' }}"><a class="nav-link" href="/logout">Logout</a></li>
            <li class="nav-item button-item d-none d-md-block">
              {{ userMenu(user, unreadNotifications) }}
            </li>
          {% else %}
            <li class="nav-item button-item">
              <a class="nav-link" href="/login{{ '?redirect=' + (path|urlencode) if path !== '/logout' }}">
                <button class="btn btn-outline-light">Login</button>
              </a>
            </li>
            <li class="nav-item button-item">
              <a class="nav-link" href="/register">
                <button class="btn btn-outline-light">Register</button>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  {# ==== Event header ==== #}

  {% if inEvent %}
    <nav class="event-navbar navbar navbar-light navbar-expand-md">
      <div class="container">
        {% set eventLogo = event.get('logo') %}
        <div class="event-navbar-logo"
          style="background-image: url('{{ pictureUrl(eventLogo, event) if eventLogo else staticUrl('/static/images/favicon196.png') }}')">
        </div>
        <div class="event-navbar-contents">
          <div class="event-navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#event-navbar-tabs" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle event navigation">
              <i class="fas fa-caret-down"></i>
            </button>

            {% set eventHomePath = routeUrl(event, 'event') %}
            <a class="event-navbar-title" href="{{ eventHomePath }}">
              {% set eventLogo = event.get('logo') %}
              <span class="event-navbar-title__text">
                <span class="event-navbar-title__name">
                  {{ event.get('title') }}
                </span>
                <span class="event-navbar-title__dates">
                  <span class="fas fa-calendar"></span>
                  {{ event.get('display_dates') -}}
                  <br />
                  {%- if event.get('display_theme') %}
                    <span class="fas fa-flag"></span>
                    <b>Theme: </b>{{ event.get('display_theme') }}
                  {% endif %}
                </span>
              </span>
            </a>

            <div class="event-navbar-actions">
            </div>
          </div>
          <div class="event-navbar-tabs collapse navbar-collapse" id="event-navbar-tabs">
            <ul class="navbar-nav">
              {%- set statusJam = event.get('status_entry') -%}
              {%- set statusTournament = event.get('status_tournament') -%}
              
              {%- if not statusTournament or statusTournament === 'disabled' or event.related('details').get('flags').streamerOnlyTournament -%}<!-- FIXME -->
                {{- eventLink(event, null, 'dashboard', 'Dashboard', 'play-circle', path, { asButton: true }) -}}
                <li class="event-navbar-tabs__separator"></li>
              {%- endif -%}

              {%- if not event.related('details').get('flags').hideStreamerMenu -%}
                {{- eventLink(event, null, 'streamers', 'Streamers', 'tv', path) -}}
              {% endif %}
              
              {%- if statusJam and statusJam !== 'disabled' -%}
                {{- eventLink(event, 'status_theme', 'themes', 'Themes', 'lightbulb', path) -}}
                {{- eventLink(event, 'status_entry', 'games', 'Games' + (' <span class="count">(' + event.get('entry_count') +')</span>' if event.get('entry_count')), 'gamepad', path) -}}
                {{- eventLink(event, 'status_results', 'results', 'Results', 'th-list', path, { requiredValue: ['results'] }) -}}
              {%- endif -%}
              {%- if statusTournament and statusTournament !== 'disabled' -%}
                {%- if statusJam and statusJam !== 'disabled' -%}
                  <li class="event-navbar-tabs__separator"></li>
                {%- endif -%}
                {{- eventLink(event, 'status_tournament', 'tournament-games', 'Tournament', 'gamepad', path, { requiredValue: ['playing', 'closed', 'results'] }) -}}
                {{- eventLink(event, 'status_tournament', 'tournament-leaderboard', 'Leaderboard', 'th-list', path, { requiredValue: ['playing', 'closed', 'results'] }) -}}
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  {% endif %}


  {# ==== Mod header ==== #}
  
  {% if user and (user.get('is_mod') or user.get('is_admin')) %}
    {{ adminMacros.moderationBar(context(), user.get('is_admin')) }}
  {% endif %}


  {# ==== Body ==== #}
  
  <div class="body">
    {% block body %}{% endblock %}
  </div>


  {# ==== Footer ==== #}
  
  <footer class="footer">
    <div class="container p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
          <a href="https://twitter.com/AlakajamBang" class="footer__link">
            <img src="{{ staticUrl('/static/images/social/black-twitter.svg') }}" class="footer__icon no-border" /> 
            <strong>@AlakajamBang</strong>
          </a>
          <a href="/post/1070/finances-of-the-alakajam-association" class="footer__link">
            <img src="{{ staticUrl('/static/images/social/black-paypal.svg') }}" class="footer__icon no-border" />
            <strong>Donate</strong>
          </a>
          <a href="/chat" class="footer__link">
            <img src="{{ staticUrl('/static/images/social/black-irc.svg') }}" class="footer__icon no-border" /> 
          </a>
          <a href="https://discord.gg/yZPBpTn" class="footer__link">
            <img src="{{ staticUrl('/static/images/social/black-discord.svg') }}" class="footer__icon no-border" /> 
          </a>
          <a href="https://www.reddit.com/r/alakajam/" class="footer__link">
            <img src="{{ staticUrl('/static/images/social/black-reddit.svg') }}" class="footer__icon no-border" /> 
          </a>
          <a href="https://github.com/alakajam-team" class="footer__link">
            <img src="{{ staticUrl('/static/images/social/black-github.svg') }}" class="footer__icon no-border" /> 
          </a>
        </div>
        <div class="col-12 col-lg-6 text-lg-right">
          <p class="m-1">
            Made with love by the <a href="https://github.com/alakajam-team/alakajam/graphs/contributors">Alakajam! contributors</a> | <a href="/article/about/privacy-policy">Privacy Policy</a>  | <a href="/article/about">Contact</a>
          </p>
          {% if devMode %}
          <p>
            <span class="badge badge-light" data-toggle="tooltip" data-placement="top" title="Set `NODE_ENV=production` in production for security and performance">Server launched in development mode</span>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{{ staticUrl('/static/scripts/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/jquery.lazy.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/moment.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/tempusdominus-bootstrap-4.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/bootstrap-notify.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/icheck.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/select2.full.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/lodash.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/tablesort-number-date.min.js') }}"></script>
  <script type="text/javascript" src="{{ staticUrl('/static/scripts/chartist.min.js') }}"></script>
  {% if browserRefreshUrl %}
  <script src="{{ browserRefreshUrl }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ staticUrl('/dist/client/scripts/site.js?' + launchTime) }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
