{% extends "base.html" %}

{% block body %}

<div class="container">
  <h1>{{ code }}: {{ title or 'Error' }}</h1>

  <p>{{ message }}</p>

  {% if devMode %}

    {% if stack %}
    <h2>Stack trace</h2>
    <pre>{{ stack }}</pre>
    {% endif %}

    {% if message and message.indexOf('no such column:') !== -1 %}
    <div class="alert alert-warning"><h4>"No such column" error tip</h4> If you're not sure why you have this, your database model is probably out of date. You can reset the database from the <a href="/admin">administration</a></div>
    {% endif %}

  {% else %}
    <p>Please check the <a href="/article/about">About page</a> if you have a bug to report.</p>
  {% endif %}

  <p><a href="/">(Back)</a></p>
</div>

{% endblock %}
