/**
 * Event pages & event macros
 */

/* Shortcuts to event entry/latest post */

.action-banner {
  padding: 10px;
  background-color: var(--borders);
  max-width: 945px;
  
  &__info {
    padding-right: 10px;
  }
  
  &__title {
    vertical-align: top;
    padding-bottom: 5px;
    color: var(--text);
    font-weight: bold;
    font-size: 1.3rem;
    height: 35px;

    & .btn {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  &__post {
    @apply --shadow;
    background-color: white;
    height: 60px;
    padding: 5px;
    overflow: hidden;
    width: 100%;

    & a {
      @apply --alt-font;
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
  }
}

/* Events page */

.events-block {
  margin-bottom: 20px;

  & > h2 {
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__live {
    color: var(--alt-dark);
  }
}

.event-table {
  @apply --shadow;
  margin-top: 10px;

  &__header {
    width: 100%;
    background-color: white;
  }

  &__logo {
    vertical-align: top;
    height: 60px;
    border-right: 1px solid var(--borders);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__title {
    @apply --alt-font;
    display: inline-block;
    line-height: 42px;
    height: 60px;
    font-size: 1.7rem;
    padding: 0 10px 0 10px;
  }

  &.pending {
    display: inline-block;
    width: inherit;
    line-height: normal;
  }
  &.pending &__title {
    background-color: var(--main);
    color: white;

    &:hover {
      background-color: var(--main-dark);
    }
  }
  &.open &__title {
    background-color: var(--alt);
    color: white;

    &:hover {
      background-color: var(--alt-dark);
    }
  }

  &__theme {
    float: right;
    text-align: right;
    line-height: normal;
    padding: 3px 15px;
    height: 48px;
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__theme-label {
    font-size: 0.8rem;
    font-weight: normal;
    display: block;
    margin-bottom: -5px;
  }
  &__theme-mobile {
    padding: 0 0 8px 10px;
    margin-top: -6px;
    width: 100%;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }

  &__status {
    @apply --main-font;
    font-size: 0.8rem;
    vertical-align: middle;
  }
  
  &__dates {
    @apply --main-font;
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--text);
    line-height: 1rem;
    margin-top: -5px;
    border-radius: 0;
    width: 100%;
  }
  &.pending &__dates, &.open &__dates {
    color: var(--white-lighter);
  }

  &__entries {
    padding: 15px;
    background-color: var(--borders);
  }

  &__entry {
    position: relative;
    margin-bottom: 3px;

    & .entry-results__category-medal {
      top: 12px;
      right: 20px;
    }
  }
}

.event-small-table {
  width: 100%;
  height: 60px;
  padding: 7px;
  margin-bottom: 0;
  
  &__header h2 {
    width: 100%;
    height: 28px;
    font-size: 1.25rem;
    margin-bottom: 0px;
  }
  
  &__details {
    margin-top: 0;
  }
}

/* Event ratings management page */

.event-ratings {
  & h3 {
    margin-bottom: 0;

    @media (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  &__tab {
    background-color: white;
    padding: 10px;
    padding-top: 20px;
  }

  &__score {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
  }

  &__entry {
    margin-bottom: 5px;
  }
}

/* Event banner */

.event-banner__container {
  position: absolute;
  margin-top: -20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.event-banner__origin {
  position: absolute;
  left: 50%;
  height: 50%;
  width: 100%;
  min-width: 1920px;
}

.event-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  background-repeat: no-repeat;
  background-size: cover;

  &__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, transparent 20%, var(--bg) 100%);
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.event-banner-offset {
  padding-top: 150px;

  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.event-banner-panel {
  @apply --shadow;
  background-color: color(var(--bg) alpha(85%));

  @media (max-width: 767px) {
    box-shadow: none;
    background-color: none;
  }
}
