/**
 * Event results page
 */

.results-links {
  margin-bottom: 20px;

  &__division {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px 30px;
    background-color: var(--main);
  }

  &__category {
    font-size: 1.2rem;
    padding: 8px 15px;
    background-color: var(--main);
  }
}

.results-podium {
  @apply --shadow;
  background-color: #DDD;
  margin-bottom: 20px;

  &__event-name {
    font-size: 1.3rem;
    text-align: center;
    background-color: white;
    padding: 5px;
    margin: 0;
  }

  &__title {
    @apply --alt-font;
    font-weight: normal;
    font-size: 2.0rem;
    text-align: center;
    background-color: var(--alt);
    color: white;
    padding: 10px;

    & .dropdown {
      display: inline-block;
    }
    & .dropdown-toggle {
      background: none;
      border: none;
      border-radius: 4px;

      &:hover {
        background-color: var(--alt-dark);
      }
    }
  }

  &__counter {
    @apply --main-font;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__step {
    margin: 30px 0 80px 0;
    &::after {
      @apply --sprite4;
      background-position: -256px -64px;
      content: '';
      display: block;
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
      height: 128px;
      margin: -44px 0 0 -80px;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 160px;
    }

    &.first {
      margin-top: 10px;
    }
    &.second::after {
      margin-top: -64px;
      background-position: -256px -192px;
    }
    &.third::after {
      margin-top: -64px;
      background-position: -256px -320px;
    }
  }
}

/* Results on entry page */

.entry-results {
  @apply --shadow;
  background-color: var(--borders);
  margin-bottom: 20px;

  &__header {
    padding: 10px;
    background-color: var(--main);
    color: white;
  }

  &__body {
    padding: 10px;
    padding-top: 0;
  }

  &__category {
    padding-top: 5px;
    font-size: 1.2rem;
  }

  &__category-title {
    display: inline-block;
    width: 120px;
  }

  &__category-ranking {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    width: 7rem;
    text-align: right;
    margin-right: 15px;
  }

  &__category-medal {
    @apply --sprite2;
    display: inline-block;
    height: 32px;
    position: absolute;
    right: 50px;
    top: 0;
    width: 32px;

    /* Neutral medals */
    &.medal1 {
      background-position: -64px -112px;
    }
    &.medal2 {
      background-position: -64px -144px;
    }
    &.medal3 {
      background-position: -64px -176px;
    }

    /* Per-rating-category medals */
    &.medal-category-1 {
      background-position-y: -240px;
    }
    &.medal-category-2 {
      background-position-y: -273px;
    }
    &.medal-category-3 {
      background-position-y: -307px;
    }
    &.medal-category-4 {
      background-position-y: -341px;
    }
    &.medal-category-5 {
      background-position-y: -375px;
    }
    &.medal-category-6 {
      background-position-y: -409px;
    }
    &.medal-ranking-1 {
      background-position-x: -133px;
    }
    &.medal-ranking-2 {
      background-position-x: -167px;
    }
    &.medal-ranking-3 {
      background-position-x: -201px;
    }
  }

  &__category-rating {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    vertical-align: middle;
    width: 3rem;
    text-align: center;
    margin-right: 12px;
  }

  &__category-stars {
    display: inline-block;
    font-size: 1rem;

    & .fas,
    & .far,
    & .fab {
      font-size: 1.4rem;
      width: 1.7rem;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    &__category-stars .fas,
    &__category-stars .far,
    &__category-stars .fab {
      width: 1.4rem;
    }
  }
}
