/**
 * Home page
 */

.home-welcome {
  @apply --shadow;
  position: relative;
  padding: 10px;
  padding-left: 100px;
  margin: 10px 0px 20px 15px;
  background-color: var(--main-lighter);
  border-left: 10px solid var(--main);
  font-size: 1.2rem;

  &__icon {
    position: absolute;
    left: 0;
    top: -15px;
  }

  &__title {
    font-weight: bold;
  }

  &__brand {
    @apply --alt-font;
    display: inline;
    letter-spacing: 0px;
  }

  &__more {
    color: var(--main-dark);
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      color: var(--text);
      text-decoration: underline;
    }
  }

}

.home-jumbo {
  @apply --shadow;
  position: relative;
  
  & .event-table {
    display: block;
    margin-top: 0;
    box-shadow: none;
  }

  &__rules {
    float: right;
    padding-right: 10px;
  }

  &__links {
    background-color: white;
    border-top: 1px solid var(--borders);

    & .event-header__link {      
      line-height: 40px;
      height: 40px;
    }
  }


  &__call-container {
    position: relative;
  }
  &__call {
    display: block;
    color: white;
    padding: 10px;
    background-color: var(--alt);

    &:hover {
      background-color: var(--alt-dark);
      color: white;
    }

    & h2 {
      @apply --alt-font;
      font-size: 2.2rem;
      font-weight: normal;
      line-height: 2.3rem;
      margin-bottom: 2px;
    }
  }

  &__call-arrow {
    position: absolute;
    display: block;
    right: 20px;
    top: 50%;
    font-size: 60px;
    margin-top: -30px;
  }

  &__call-details {
    margin-top: 5px;
  }

  &__details {
    color: white;
    padding: 10px;
    background-color: var(--neutral);
  }
  
  &__countdown {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    width: 332px;
    
    & .flip .inn {
      background-color: var(--text)
    }
    & .flip-clock-label {
      display: none;
    }
  }
  @media (max-width: 991px) {
    &__countdown {
      position: static;
      margin: 0;
    }

    & .flip {
      margin-top: 10px;
    }
  }

  @media (min-width: 768px) {
    &__shortcuts {
      & > div:first-child {
        padding-right: 0;
      }
      & > div:last-child {
        padding-left: 0;
      }
    }
  }

  &__contents {
    margin-top: 15px;
  }

  &__announcement {
    text-align: left;
    margin-bottom: 0;

    & panel {
      margin-bottom: 0;
    }
    & h1 > a {
      color: var(--text);
      
      &:hover {
        color: var(--alt-dark);
      }
    }
  }
  @media (max-width: 991px) {
    &__announcement {
      text-align: left;
      padding-left: 10px;

      & .expand-bar {
        margin-left: 10px;
      }
    }
  }
  
  &__social {
    margin-top: 5px;
    margin-bottom: 10px;

    & img {
      height: 42px;
    }
  }
  @media (max-width: 991px) {
    &__social {
      padding-left: 16px;
      text-align: center;
    }
  }

  &__footer {
    height: 50px;
    padding: 10px;
    color: var(--text-lighter);
  }
}

.home-scheduled-events .horizontal-bar a {
  color: var(--text-lighter);

  &:hover {
    color: var(--text-light);
  }
}

.home-scheduled-event {
  position: relative;
  padding: 6px 0;
  border-bottom: 1px solid #CCC;

  &:last-child {
    border-bottom: 0;
  }

  &.main, &.featured {
    padding: 5px 5px;
  }

  &__logo {
    float: left;
    margin-top: 6px;
    margin-right: 5px;
  }

  &__title {
    color: var(--alt);
    font-weight: bold;
    line-height: 1.5rem;
  }

  &.featured {
    background-color: white; 
    margin-bottom: 0;
  }
  &.featured &__arrow {
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -20px;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid var(--alt);
  }

  & &__entries {
    color: var(--text-light);
  }

  &__label {
    position: absolute;
    bottom: 6px;
    right: 4px;

    & .label {
      padding: 1px 6px 2px;
    }
  }
}

.home-featured-links {
  margin-bottom: 20px;

  @media (max-width: 991px) {
    & {
      margin-bottom: -20px;
      margin-top: 20px;
    }
  }
}
.home-featured-link {
  position: relative;
  display: block;
  padding: 6px 0;
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  top: 0px;
  transition: 0.1s;
  color: var(--text);

  & .fas,
  & .far,
  & .fab {
    font-size: 1.6rem;
    padding-right: 10px;
    width: 32px;
    color: var(--alt);
  }

  &:hover {
    left: 5px;
  }

}

.home-entry {
  @media (max-width: 991px) {
    & {
      padding-bottom: 10px;
    }
  }
}
