/**
 * CSS Variables
 */

@font-face {
    font-family: 'harryp';
    src: url('/static/fonts/harryp.ttf');
}

:root {
  /* Main colors */
  
  --bg: #eec;
  --borders: #dadada;
  --text: #1f3038;
  --text-light: color(var(--text) alpha(70%));
  --text-lighter: color(var(--text) alpha(40%));
  --text-lightest: color(var(--text) alpha(30%));

  --white-lighter: color(white alpha(90%));
  
  --main: #1045b7;
  --main-light: color(var(--main) lightness(46%));
  --main-lighter: color(var(--main) alpha(25%));
  --main-lightest: color(var(--main) alpha(10%));
  --main-dark: color(var(--main) lightness(32%));
  --main-transparent: color(var(--main) alpha(10%));
  
  --alt: #cc7700;
  --alt-light: #f47122;
  --alt-lighter: color(var(--alt) alpha(25%));
  --alt-lightest: #ffded6;
  --alt-dark: color(var(--alt) lightness(42%));
  --alt-transparent: color(var(--alt) alpha(10%));

  --neutral: #999;
  --neutral-dark: color(var(--neutral) lightness(40%));
  --neutral-light: color(var(--neutral) alpha(70%));
  --neutral-lighter: color(var(--neutral) alpha(25%));
  --neutral-lightest: color(var(--neutral) alpha(10%));
  
  /* Mod / Admin colors (based on 'warning' and 'danger' colors from the Bootstrap theme) */
  
  --moderation: #ffce54;
  --moderation-light: #ffe198;
  --moderation-lightest: color(var(--moderation-light) alpha(30%));
  --moderation-dark: #f6bb42;
  --moderation-text: #876000;

  /* Fonts */
  
  --main-font: {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
  };
  --alt-font: {
    font-family: 'harryp', cursive;
    letter-spacing: 1px;
  };
  --shadow: {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  };
  --header-shadow: {
    box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.15);
  };
  --sprite2: {
    background: url('/static/images/spritesheet2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  };
  --sprite4: {
    background: url('/static/images/spritesheet4.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  };
  --transition: {
    transition: all 0.2s;
  }

  /* UI elements */
  
  --navbar-height: 60px;
  --navbar-mobile-height: 50px;
  --navbar-shrinked-height: 40px;
  --eventbar-height: 50px;
  --eventbar-shrinked-height: 36px;
}
