/**
 * Entry page & entry macros
 */

.game-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  padding-bottom: 15px;
  
  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .container .game-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .game-grid, .container .home-grid.game-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

.game-grid-entry {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Entry thumb */

.entry-thumb {
  @include shadow;
  display: flex;
  flex:1;
  flex-direction: column;
  text-align: center;
  background-color: white;
  text-align: left;
  position: relative;

  &__picture {
    position: relative;
    display: block;
    padding-top: 56.25%;
    width: 100%;
    background-color: $main-dark;
    background-size: cover;
    background-position: center;
  }
  & a:hover &__picture {
    border: 4px solid $alt;
    padding-top: calc(56.25% - 8px);
  }

  &__description-container {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    float: left;
  }
  &__description {
    width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    vertical-align: bottom;
    color: transparent;
    background-color: transparent;
    overflow: hidden;
    transition: 0.1s;
    z-index: 1;
  }
  & a:hover &__description {
    color: white;
    background-color: $alt;
    transition: 0.3s;
  }

  &__picture-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(0,0,0,0.25) 100%);
  }

  &__details {
    height: 100px;
  }

  &__title {
    padding: 10px;
    padding-bottom: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.1rem;
  }

  &__author {
    padding-left: 10px;
    color: $text;
    line-height: 1.0rem;
    flex:1;
  }
  
  &__event {
    float: left;
    color: $text-light;
    font-size: 0.8rem;
    
    & a {
      font-weight: bold;
      color: $text-light;
      
      &:hover {
        color: $alt-dark;
      }
    }
  }

  &__footer {
    text-align: right;
    padding: 6px 0 10px 0;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    color: $text-light;

    & .fas {
      margin-left: 3px;
    }
  }

  &__karma {
    color: $text-light;
    float: left;
    font-weight: bold;
    vertical-align: bottom;
  }
  
  &__form {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


.entry-small-thumb {
  @include shadow;
  position: relative;
  display: block;
  background-color: white;
  width: 100%;
  height: 60px;

  &__picture {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    background-color: $main-dark;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
  }
  & a:hover &__picture {
    border: 4px solid $alt;
    transition: 0.1s;
  }
  
  &__details {
    height: 60px;
    padding: 6px;
    padding-left: 66px;
    text-align: left;
    overflow: hidden;
  }

  &__title {
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 1.0rem;
    margin-bottom: 4px;

    &:hover {
      font-weight: bold;
    }
  }

  &__author {
    font-size: 0.85rem;
    line-height: 0.8rem;
    color: $text;
  }
}

.entries-rescue {
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 10px;
  background-color: $borders;
}

/* Entry page */

.entry {

  &__picture {
    @include shadow;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    min-height: 40px; /* for medals */
    padding-bottom: 56.25%; /* 16/9 ratio */
    background-color: $text;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image to be set inline */
  }

  &__description,
  &__category {
    font-size: 1.05rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
  }

  &__links {
    margin-bottom: 20px;

    & a {
      position: relative;
      width: 100%;
      display: block;
      margin-bottom: 5px;
      font-size: 1.3rem;
      font-weight: bold;
      padding: 4px;
      white-space: normal;

      & .fas,
      & .far,
      & .fab {
        position: absolute;
        font-size: 1rem;
        right: 10px;
        top: 50%;
        margin-top: -0.5rem;
      }
    }
  }

  &__info {
    display: table;
    width: 100%;
    margin-top: 10px;
    color: $text-light;
    font-weight: bold;
  }
  &__info-label {
    display: table-cell;
  }
  &__info-value {
    display: table-cell;
    font-size: 1.2rem;
    text-align: right;
  }

  &__platform {
    display: inline-block;
    font-weight: normal;
    font-size: 1.2rem;
    margin-left: 5px;
  }

  &__divisions {
    height: auto;
  }

}

.entry-division {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  border: 1px solid $borders;
  padding: 10px 0;
  margin-bottom: 0;
  color: $text;
  width: 176px;
  
  & .fas,
  & .far,
  & .fab {
    display: block;
    font-size: 2rem;
  }

  &__legend {
    font-size: 0.85rem;
    font-weight: normal;
    color: $text-light;
  }
  &.active &__legend {
    color: white;
  }

}
.entry__divisions .entry-division.active {
  background-color: $main-dark;
  border-color: $main-dark;
  color: white;
}
@media(max-width: 991px) {
  .entry-division {
    width: 150px;
  }
}

.entry-voting {
  @include shadow;
  background-color: $borders;
  margin-bottom: 20px;

  &__header {
    padding: 10px;
    background-color: $alt;
    color: white;
  }

  &__body {
    padding: 10px;
    padding-top: 0;
  }

  &__category {
    padding-top: 5px;
    font-size: 1.2rem;
  }

  &__category-title {
    display: inline-block;
    width: 120px;
  }

  &__category-rating {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
    width: 2rem;
    text-align: right;
    
    &.confirmed {
      color: $alt-dark;
    }
  }

  &__category-stars {
    display: inline-block;
    font-size: 1rem;

    & .fas,
    & .far,
    & .fab {
      cursor: pointer;
      font-size: 1.4rem;
      width: 1.8rem;
    }

    & .far.fa-circle {
      font-size: 0.8rem;
      display: inline-block;
      margin-left: 15px;
    }

    & .fas.confirmed {
      color: $alt-dark;
    }
  }
  
  &__score {
    background-color: $borders;
    padding: 5px 10px;
    margin-bottom: 20px;
    vertical-align: middle;

    & .zero {
      color: $text-lightest;
    }
  }
  &__score-title {
    line-height: 2.8rem;
    font-size: 1.2rem;
    font-weight: bold;

    @media (max-width: 991px) {
      text-align: center;
      line-height: 1.5rem;
      margin-bottom: 5px;
    }
  }
  &__score-number {
    font-size: 1.3rem;
  }
  &__score-big-number {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.entry-medals {
  position: absolute;
  height: 40px;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, transparent 100%);
  padding: 5px;

  & .entry-results__category-medal {
    position: static;
    display: inline-block;
    margin-right: -4px;
  }

  &:empty {
    display: none;
  }
}

/* High score tables */

.highscore-medal {
  @include sprite2;
  display: inline-block;
  width: 16px;
  height: 16px;
  color: transparent;
  line-height: 16px;

  &.ranking-1 {
    background-position: 0px -224px;
  }
  &.ranking-2 {
    background-position: -16px -224px;
  }
  &.ranking-3 {
    background-position: -32px -224px;
  }
}

.highscore-banner {
  @include shadow;
  display: block;
  background-color: $alt;
  color: white;
  padding: 6px;
  text-align: center;

  &:hover {
    background-color: $alt-dark;
    color: white;
  }

  &__title {
    @include alt-font;
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .game-info {
    float: right;
  }
}
