@use "variables";

/**
 * Event themes page
 */

.themes {

  &__ideas {
    margin-bottom: 10px;
  }
  
  &__idea {
    border-bottom: 1px solid variables.$borders;
    padding: 10px;

    & p {
      margin-bottom: 0;
      color: variables.$text-light;
    }
    & .form-control {
      margin-bottom: 5px;
    }
    & input[type=text] {
      @include variables.alt-font;
      letter-spacing: 1px;
    }
    &.form-inline input[type=text] {
      width: 90%;
    }
    & .themes__idea-delete {
      width: 8%;
      text-align: center;
      padding: 6px 0;
    }
  }
  &__idea-label {
    @include variables.alt-font;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-size: 24px;
    overflow-wrap: break-word;
  }

  &__stats {
   margin-top: 15px;
  }
  
  & .progress {
    font-size: 0.9rem;
    height: 1.3rem;
    border: 1px solid variables.$neutral-light;
    margin-bottom: 15px;
  }
  
  &__shortlist ol, &__results ol {
    padding-left: 0;
    list-style-position: inside;
  }
  &__shortlist h3 {
    margin: 20px 0 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  & .theme-shortlist-line {
    position: relative;
    padding: 3px 0;
    border-bottom: 1px solid variables.$borders;
    font-size: 1.4rem;
    font-weight: bold;
    color: variables.$text-light;

    &:last-child {
      border-bottom: 0;
    }
    &.draggable {
      padding-left: 30px;
      cursor: default;
    }
    &.eliminated {
      cursor: default;

      & .theme-shortlist-line__label {
        text-decoration: line-through;
        color: variables.$text-lighter;
      }
    }
    &.winner .theme-shortlist-line__label {
      font-size: 1.8rem;
    }
    &.hovered {
      background-color: #EEE;
    }
    
    &__handle {
      position: absolute;
      left: 0;
      top: 50%;
      padding: 15px;
      margin-top: -23px;
      margin-left: -15px;
      font-size: 1.2rem;
      color: #1f3038;

      &:hover {
        cursor: grab !important;
      }
    }

    &__label {
      @include variables.alt-font;
      color: variables.$text;
      padding-left: 10px;
      font-weight: normal;
      font-size: 1.4rem;
    }

    &__score, &__ranking {
      float: right;
      text-align: right;
      font-size: 1rem;
      margin-top: 2px;
      width: 100px;
    }
    @media (max-width: 767px) {
      & &__score, &__ranking {
        width: 50px;
      }
    }
  }
  
  & .theme-vote {
    padding: 20px;
    
    &__buttons {
      width: 100px;
    }
    
    &__label {
      @include variables.alt-font;
      font-size: 2rem;
      overflow-wrap: break-word;
    }
  }
  
  & .theme-past {
    margin-bottom: 10px;
    height: 25px;
    
    &__buttons {
      width: 70px;
      vertical-align: top;
    }
    
    &__label {
      @include variables.alt-font;
      letter-spacing: 0;
      line-height: 0.9rem;
    }
  }
}

.sortable-chosen, .sortable-drag, .sortable-ghost {
  cursor: grabbing !important;
}
