/**
 * Event pages & event macros
 */

/* Shortcuts to event entry/latest post */

.action-banner {
  padding: 10px;
  margin-bottom: 15px;
  background-color: $borders;
  min-width: 200px;

  &.buttons-only {
    background-color: transparent;
    padding: 0;
    margin: -10px 0;
  }
  
  &__info {
    padding-right: 10px;
  }
  
  &__title {
    vertical-align: top;
    padding-bottom: 5px;
    color: $text;
    font-weight: bold;
    font-size: 1.3rem;
    height: 35px;

    & .btn {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  &__post {
    @include shadow;
    background-color: white;
    padding: 15px;
    overflow: hidden;
    width: 100%;

    & a {
      @include alt-font;
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
  }
}

/* Events page */

.events-block {
  margin-bottom: 20px;

  & > h2 {
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__live {
    color: $alt-dark;
  }
}

.event-table {
  @include shadow;
  margin-top: 10px;

  &__header {
    width: 100%;
    background-color: white;
  }

  &__logo {
    vertical-align: top;
    height: 60px;
    border-right: 1px solid $borders;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__title {
    @include alt-font;
    display: inline-block;
    line-height: 42px;
    height: 60px;
    font-size: 1.7rem;
    padding: 0 10px 0 10px;
  }

  &.pending, &.open {
    display: inline-block;
    width: inherit;
    line-height: normal;
  }
  &.pending &__title {
    background-color: $main;
    color: white;

    &:hover {
      background-color: $main-dark;
    }
  }
  &.open &__title {
    background-color: $alt;
    color: white;

    &:hover {
      background-color: $alt-dark;
    }
  }

  &__theme {
    float: right;
    text-align: right;
    line-height: normal;
    padding: 3px 15px;
    height: 48px;
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__theme-label {
    font-size: 0.8rem;
    font-weight: normal;
    display: block;
    margin-bottom: -5px;
  }
  &__theme-mobile {
    padding: 0 0 8px 10px;
    margin-top: -6px;
    width: 100%;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }

  &__status {
    @include main-font;
    font-size: 0.8rem;
    vertical-align: middle;
  }
  
  &__dates {
    @include main-font;
    font-weight: normal;
    font-size: 0.8rem;
    color: $text;
    line-height: 1rem;
    margin-top: -5px;
    border-radius: 0;
    width: 100%;
  }
  &.pending &__dates, &.open &__dates {
    color: $white-lighter;
  }

  &__entries {
    padding: 15px;
    background-color: $borders;
  }

  &__entry {
    position: relative;
    margin-bottom: 3px;

    & .entry-results__category-medal {
      top: 12px;
      right: 20px;
    }
  }
}

.event-small-table {
  width: 100%;
  height: 60px;
  padding: 7px;
  margin-bottom: 0;
  
  &__header h2 {
    width: 100%;
    height: 28px;
    font-size: 1.25rem;
    margin-bottom: 0px;
  }
  
  &__details {
    margin-top: 0;
  }
}

/* Event ratings management page */

.event-ratings {
  & h3 {
    margin-bottom: 0;

    @media (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  &__tab {
    padding: 10px;
    padding-top: 20px;
  }

  &__score {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
  }

  &__entry {
    margin-bottom: 5px;
  }
}

/* Event banner */
.event-banner {
  margin-top: -20px;
  padding: 20px;
  margin-bottom: -15px;
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__logo {
    position: relative;
    text-align: center;
    margin-top: 85px;

    & img {
      position: absolute;
      transform: translate(-50%, -50%) scale(75%);
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.event-banner-offset {
  padding-top: 170px;

@media (max-width: 767px) {
    padding-top: 0;
  }
}

/** Event streamers page **/

.event-streamers-background {
  background: url('/static/images/streamer-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: -20px;
  padding-top: 100px;
  min-height: 1024px;
  position: relative;
  
  &__gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 20%, $bg) 100%;
    pointer-events: none;
  }
}

.event-streamers-tv-no-signal {
  margin-top: 50px;
  
  & h1, & h3 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #DDD;
    max-width: 350px;
  }
}