/**
 * Event tournament styles
 */

 .tournament-ranking {
  font-weight: bold;
  color: $text;
}

.tournament-user-banner {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding: 10px;

  &__user {
    padding-top: 10px;
  }

  &__ranking {
    flex: 1;
    padding-right: 20px;

    & h1 {
      margin-top: 5px;
      margin-bottom: -5px;
    }
  }

  &__points h3 {
    line-height: 70px;
    vertical-align: middle;
    margin: 0;
  }
}

/* Event tournament game grid is not perfect, when css-grid-2 will be ready we can use https://www.w3.org/TR/css-grid-2/#subgrids*/
.game-grid.tournament {
  & .entry-thumb {
    flex: none;
    &__author {
      min-height: 2rem;
    }
  }
  & .table {
    flex:1;
  }
}
