/**
 * Event results page
 */

.results-links {
  margin-bottom: 20px;

  &__division {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px 30px;
    background-color: $main;
  }

  &__category {
    font-size: 1.2rem;
    padding: 8px 15px;
    background-color: $main;
  }

  &__division, &__category {
    &.active, &.active:hover, &.active:active, &.active:focus {
      background-color: $main-dark;
      border-color: #3bafda;
      cursor: default;
    }
  }
}

.results-podium {
  @include shadow;
  background-color: #DDD;
  margin-bottom: 20px;

  &__event-name {
    font-size: 1.3rem;
    text-align: center;
    background-color: white;
    padding: 5px;
    margin: 0;
  }

  &__title {
    @include alt-font;
    font-weight: normal;
    font-size: 2.0rem;
    text-align: center;
    background-color: $alt;
    color: white;
    padding: 10px;
    margin-bottom: 0;

    & .dropdown {
      display: inline-block;
    }
    & .dropdown-toggle {
      background: none;
      border: none;
      border-radius: 4px;
      color: white;

      &:hover {
        background-color: $alt-dark;
      }

      &::after {
        display: none;
      }
    }
  }

  &__counter {
    @include main-font;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
  }

  & .results-podium-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__step {
    margin: 30px 0 80px 0;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      margin: 10px 0 15px 0;
    }
    &::after {
      @include sprite4;
      background-position: -256px -64px;
      content: '';
      display: block;
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
      height: 128px;
      margin: -45px 0 0 -80px;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 160px;
      @media (max-width: 768px) {
        position: relative;
        align-self: center;
        margin: 0;
        left: 0;
      }
    }

    &.ranking-1 {
      margin-top: 15px;
      padding-bottom: 15px;
      &::after {
        margin-top: -50px;
      }
    }
    &.ranking-2::after {
      background-position: -256px -192px;
    }
    &.ranking-3::after {
      background-position: -256px -320px;
    }
  }

  & .entry-thumb {
    height: 100%;
    padding-bottom: 30px;
    @media (max-width: 768px) {
      padding-bottom: 0;
      flex: 1;
    }
  }
  
  & .unranked {
    align-self: center;
    padding-bottom: 15px;
    & .entry-thumb{
      padding-bottom: 0px;
    }
  }
  
  @media (min-width: 768px) {
    & .position-1 {
      order: 2;
    }
    & .position-2 {
      order: 1;
    }
    & .position-3 {
      order: 3;
    }
  }

  & .tournament-score {
    margin-top: 10px;
    margin-bottom: 45px;
    @media (max-width: 768px) {
      margin-bottom:0;
    }
  }
}

/* Results on entry page */
.entry-results {
  @include shadow;
  background-color: $borders;
  margin-bottom: 20px;

  &__header {
    padding: 10px;
    background-color: $main;
    color: white;
  }

  &__body {
    padding: 10px;
    padding-top: 0;
  }

  &__category {
    padding-top: 5px;
    font-size: 1.2rem;
  }

  &__category-title {
    display: inline-block;
    width: 120px;
  }

  &__category-ranking {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    width: 7rem;
    text-align: right;
    margin-right: 15px;
  }

  &__category-medal {
    @include sprite2;
    display: inline-block;
    height: 32px;
    position: absolute;
    right: 50px;
    top: 0;
    width: 32px;

    /* Neutral medals */
    &.medal1 {
      background-position: -64px -112px;
    }
    &.medal2 {
      background-position: -64px -144px;
    }
    &.medal3 {
      background-position: -64px -176px;
    }

    /* Per-rating-category medals */
    $medal-category-y: -240px -273px -307px -341px -375px -409px;
    $medal-ranking-x: -133px -167px -201px;
    @for $category from 1 through length($medal-category-y) {
      @for $ranking from 1 through length($medal-ranking-x) {
        &.medal-category-#{$category}.medal-ranking-#{$ranking} {
          background-position: nth($medal-ranking-x, $ranking) nth($medal-category-y, $category);
        }
      }
    }
  }

  &__category-rating {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    vertical-align: middle;
    width: 3rem;
    text-align: center;
    margin-right: 12px;
  }

  &__category-stars {
    display: inline-block;
    font-size: 1rem;

    & .fas,
    & .far,
    & .fab {
      font-size: 1.4rem;
      width: 1.7rem;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    &__category-stars .fas,
    &__category-stars .far,
    &__category-stars .fab {
      width: 1.4rem;
    }
  }
}
