.flip-clock {
  font-size: .52rem;
  margin-top: 15px;
}

.flip-clock .flip-clock-divider {
  margin-left: -2px;
}

.flip-clock .flip-clock-group .flip-clock-label {
  font-size: .8rem;
}

.flip-clock .flip-clock-group .flip-clock-list {
  color: #EEE;
}
