/**
 * Main tags customization, reusable classes & other general stuff.
 */

@import "./variables.scss";

::selection {
  background: $text-lighter;
  color: white;
}

html {
  @include main-font;
  height: 100%;
  font-size: 15px;
}

body,
p {
  @include main-font;
}

body {
  background-color: $bg;
  color: $text;
  height: 100%;
}

.body {
  margin-top: 20px;
}

.container.thin {
  max-width: 975px !important;
}
.container.thinner {
  max-width: 500px !important;
}

h1 {
  @include alt-font;
  margin: 0 0 15px 0;
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: $text;

  & a {
    color: $text;
  }
}
h2 {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}
h4 {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  color: $text-light;
}

textarea.form-control {
  resize: none;
  height: 70px;
}
textarea.easymde-editor {
  resize: vertical;
  height: 300px;
}
textarea.json-setting {
  resize: vertical;
  height: 400px;
  max-width: 500px;
}

select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;

  & .select2-selection {
    background-color: #aab2bd;
    opacity: 0.65;
    box-shadow: none;
  }

  & .select2-selection__arrow,
  & .select2-selection__clear {
    display: none;
  }
}

a {
  color: $alt;

  & img {
    border: 0;
  }

  &:hover {
    color: $alt-dark;
    text-decoration: none;

    & img {
      border: 4px solid $alt;
      transition: 0.1s;
    }
  }
}

img.preview {
  max-width: 100%;

  &.upload-pending {
    border: 2px dashed $neutral;
  }
}
img.no-border:hover,
a:hover img.no-border {
  border: 0;
}

.spacing {
  margin-top: 20px;
}

blockquote {
  border-left: 3px solid $neutral-light;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;

  & > p:last-child {
    margin-bottom: 0;
  }
}

.CodeMirror {
  height: auto;
  border: 1px solid #aab2bd;
  border-radius: 4px;
  padding: 3px 0;

  &.auto-height {
    min-height: auto;
  }
  &.auto-height &-scroll {
    min-height: auto;
  }
}

.editor-toolbar.fullscreen,
.CodeMirror-fullscreen,
.editor-preview-side {
  z-index: 2000;
}
.editor-preview-active-side {
  background-color: #F5F5F5;
  padding: 10px;
}
.editor-toolbar .float-left, .editor-toolbar .float-right {
  // Accidental Bootstrap clash
  float: inherit !important;
  margin: 0 !important;
}

// Bootstrap notifications
[data-notify="container"] {
  padding: 10px;
  font-size: 1.2rem;
}
[data-notify="title"] {
  font-weight: bold;
  clear: both;
}
[data-notify="message"] {
  display: block;
}
[data-notify="dismiss"] {
  display: block;
  width: 100%;
  position: absolute;
  font-size: 0;
  color: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.code {
  font-family: Consolas, Lucida Console, monospace;
  font-weight: bold;
}

[data-toggle=tooltip] {
  cursor: help;
}
a[data-toggle=tooltip] {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}

.radio-label,
.checkbox-label {
  margin: 0 10px 0 2px;
  font-weight: normal;
}

input.date-picker {
  width: 200px;
}

input[type="number"].no-spinner {
  /* https://stackoverflow.com/a/4298216/1213677 */
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="submit"][data-disabled] {
  /* Disable form submission after the first click */
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
}

.btn {
  @include main-font;
  border-radius: 2px;
}
.btn-alt {
  background-color: $alt;
  border: 0;
  color: white;

  &:hover,
  &:active {
    background-color: $alt-dark;
    color: white;
  }
}
.btn-outline-alt {
  background-color: transparent;
  border: 1px solid $alt;
  color: $alt;

  &:hover,
  &:active {
    border-color: $alt-dark;
    color: $alt-dark;
  }
}

.pagination {
  margin-top: 0;
  margin-bottom: 20px;

  & .page-link {
    color: $alt;
  }

  & .active .page-link {
    background-color: $alt;
    border-color: $alt;
  }

  & .disabled .page-link,
  & .disabled .page-link:hover {
    background-color: $borders;
    color: $neutral;
  }
}

.horizontal-bar {
  width: 100%;
  margin: 20px 0;
  font-weight: bold;
  color: $text-lighter;
  border-bottom: 1px solid $text-lighter;

  & .btn {
    display: inline-block;
    margin-top: -2px;
    padding: 0px 4px;
  }
}

.featured {
  background-color: $neutral-lightest;
  border: 1px solid $neutral-lighter;
  box-shadow: 1px 1px 2px $neutral-lighter;
  padding: 20px;
  margin-bottom: 20px;

  &.live {
    background-color: $alt-lightest;
    border: 1px solid $alt-lighter;
    box-shadow: 1px 1px 2px $alt-lighter;
  }
}

.count {
  /* deprecated, use legend */
  @include main-font;
  color: $text-light;
  font-size: 0.8em;
  font-weight: bold;
}
.legend {
  color: $text-light;
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 5px;
}

.toggle label.active {
  background-color: #286090;
  border-color: #204d74;
}

.expandable {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  & .expand-bar {
    display: none; /* will be enabled with JS */
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 30px;
    border-top: 1px solid $borders;
    background-color: white;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    color: $alt;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.15);

    &:hover {
      color: $alt-dark;
    }
  }

  & .collapse {
    display: none;
  }

  &.expanded {
    max-height: none !important;

    & .expand-bar {
      background-color: transparent;
      box-shadow: none;
      border-top: none;
      display: inline-block;
      width: 150px;
      margin: auto;
      bottom: 5px;
    }
    & .expand {
      display: none;
    }
    & .collapse {
      display: inline;
    }
  }
}

.sidebar {
  & h3 {
    margin: 0;
  }
}
.articles-sidebar .sidebar__link {
  padding: 5px 15px;
}

.footer {
  margin-top: 40px;
  min-height: 400px;

  & .container {
    padding: 20px 0;
    border-top: 1px solid $neutral-lighter;
  }

  & a {
    color: $neutral;
  }

  &__link {
    margin-right: 10px;
    display: inline-block;
  }
  &__icon {
    height: 24px;
  }
}

/* Warning box */
.warning-box {
  @include shadow;
  padding: 10px;
  background-color: $moderation;
  color: $moderation-text;
  border-radius: 4px;
}

/* Hide all tabs except the active one. */
/* XXX: this makes tabs inaccessible if JavaScript is disabled. It would be
 * better to turn tabs into regular flowing text inside a <noscript> element,
 * and have JavaScript pull them out and put them into the right structure for
 * display. Or perhaps have some CSS inside a <noscript> tag? */
.js-tab {
  display: none;
  &.js-tab-active {
    display: block;
  }
}

.big-table {
  @include shadow;
  background-color: $borders;
  margin-bottom: 20px;

  &__header {
    padding: 10px;
    background-color: $main;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;

    & .label {
      vertical-align: 2px;
    }
  }

  &__body {
    padding: 10px;
  }
}

.table > tbody > tr.active > td {
  background-color: #fafafa;
}

.wrap-fix {
  /* source: https://stackoverflow.com/a/42166932 */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.show-if-saving {
  display: none;
}
.form-saving .show-if-saving {
  display: block;
}

.show-if-saving-success {
  /* Not using display:none here, because it breaks animating the opacity
   * property. The standard solution is to use visibility:hidden, but that
   * means it'll still take up space and push other elements down. */
  width: 0;
  height: 0;
  overflow: hidden;
}
.form-saving-success .show-if-saving-success {
  width: auto;
  height: auto;
  /* Gradually fade out after appearing. */
  opacity: 0;
  transition: 5s opacity ease-in-out 2s;
}

.show-if-saving-error {
  display: none;
}
.form-saving-error .show-if-saving-error {
  display: block;
}

table.sortable {
  & th:not(.no-sort) {
    cursor: pointer;
    user-select: none;
  }

  & th:not(.no-sort):after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    user-select: none;
  }

  & th[aria-sort="ascending"]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
  }

  & th[aria-sort]:not([data-sort-method="none"]):after {
    visibility: visible;
    opacity: 0.4;
  }

  & th:not([data-sort-method="none"]):hover:after {
    visibility: visible;
    opacity: 1;
  }
}

@mixin progress-bar {
  background-color: #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
}
@mixin progress-value {
  background-color: $main-dark;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

progress {
  appearance: none;
  border: none;
  height: 25px;
  width: 100%;
  @include progress-bar;
}
progress[value]::-webkit-progress-bar {
  @include progress-bar;
}
progress[value]::-webkit-progress-value {
  @include progress-value;
}
progress[value]::-moz-progress-bar {
  @include progress-value;
}
