/**
 * Home page
 */

$homeNavbarHeight: 50px;

.home-welcome {
  margin: -20px 0 20px 0;
  padding: 10px;
  background-color: $main-lighter;
  font-size: 1.2rem;

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: bold;
  }

  &__brand {
    @include alt-font;
    display: inline;
    letter-spacing: 0px;
  }

  &__more {
    font-weight: bold;
    
    &:hover {
      color: $text;
      text-decoration: underline;
    }
  }
}

.event-jumbotron,
.home-jumbotron {
  margin-top: -$body-margin;
  padding: 20px 0;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }
  &__logo {
    position: relative;

    & img {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  &__post {
    margin-top: 15px;
  }

  &__shortcut .list-group-item,
  a.event-jumbotron__shortcut {
    padding: 10px 15px;
  }
  &__shortcut:hover {
    background-color: $neutral-lightest;
  }
  &__shortcut-icon {
    margin-left: -10px;
    display: inline-block;
    width: 36px;
    text-align: center;
    color: $alt;
  }
  &__shortcut-title {
    color: black;
    font-weight: normal;
  }
}

.jumbotron-invite {
  background-color: $alt;
  cursor: pointer;
  color: white;
  margin-bottom: 15px;

  &:hover {
    background-color: $alt-dark;
  }

  &__title {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  &__countdown {
    float: right;
    width: 320px;

    @include media-breakpoint-down(lg) {
      float: none;
    }
  }
}

.home-navbar {
  background-color: #333;
  height: $homeNavbarHeight;
  line-height: $homeNavbarHeight;
  overflow: hidden;

  &__events {
    height: $homeNavbarHeight;
    overflow: hidden;
  }

  &__event {
    display: inline-block;
    margin: -4px 2px 0;
  }

  &__social {
    text-align: center;

    img {
      height: 30px;
      margin: -4px 2px 0;
    }
  }
}
