/**
 * Home page
 */

$homeNavbarHeight: 50px;
$homeNavbarMutedColor: #FFFFFFAA;
$arrowSize: 9.5px;

.home-welcome {
  margin: -20px 0 20px 0;
  padding: 10px;
  background-color: $main-lighter;
  font-size: 1.2rem;

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: bold;
  }

  &__brand {
    @include alt-font;
    display: inline;
    letter-spacing: 0px;
  }

  &__more {
    font-weight: bold;
    
    &:hover {
      color: $text;
      text-decoration: underline;
    }
  }
}

.event-jumbotron,
.home-jumbotron {
  margin-top: -$body-margin;
  padding: 20px 0;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 220px;
  }
  &__logo {
    position: relative;
    transition: 0.15s;

    & img {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
  a.event-jumbotron__logo:hover {
    transform: scale(1.05);

    & img {
      border: 0;
      filter: brightness(1.1);
    }
  }

  & .card.bg-jumbotron {
    background-color: change-color($bg, $alpha: .9);
  }

  &__post {
    margin-top: 15px;

    & .post {
      margin: 5px 10px 0;
    }
    &-details {
      font-weight: bold;
      margin: -10px 15px 10px 15px;
    }
  }

  &__stats {

    &-contents {
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
    }

    &-counter {
      font-size: 1.5rem;
    }
  }
}

.jumbotron-invite {
  background-color: $alt;
  cursor: pointer;
  color: white;
  margin-bottom: 15px;

  &:hover {
    background-color: $alt-dark;
  }

  &__title {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  &__phrase {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__timezone {
    font-size: 0.9rem;
  }

  &__countdown {
    float: right;
    width: 320px;

    @include media-breakpoint-down(lg) {
      float: none;
    }
  }
}

.home-navbar {
  background-color: #333;
  height: $homeNavbarHeight;
  line-height: $homeNavbarHeight;
  overflow: hidden;

  &__events {
    height: $homeNavbarHeight;
    overflow: hidden;
    vertical-align: middle;
  }

  &__events-home {
    margin-top: -3px;
    color: $homeNavbarMutedColor;
    display: inline-flex;
    line-height: 0.85rem;
    align-items: center;
    text-align: left;

    & .fa {
      font-weight: normal;
      font-size: 1.5rem;
      margin-right: 8px;
    }
  }

  &__social {
    text-align: center;

    img {
      height: 30px;
      margin: -4px 2px 0;
    }
  }
}

.home-navbar-event {
  position: relative;
  margin: -4px 10px 0 0;
  text-align: left;
  align-items: center;
  padding: 0.2rem 0.5rem;

  &.btn-secondary {
    padding-left: 1.2rem;

    &::after, &::before {
      border-top: (2 * $arrowSize) solid transparent;
      border-bottom: (2 * $arrowSize) solid transparent;
      border-left: $arrowSize solid #6c757d;
      height: 0;
      position: absolute;
      right: -$arrowSize;
      top: -1px;
      width: 0;
      z-index: 2;
      content: "";
      transition: 0.15s ease-in-out;
    }

    &::before {
      right: unset;
      left: -1px;
      border-left-color: #333;
    }

    &:hover::after {
      border-left-color: #5a6268;
    }
  }
  
  &__legend {
    line-height: 0.9rem;
    font-size: 0.9rem;
    opacity: 0.8;

    & img {
      vertical-align: bottom;
    }
  }

  &__dates {
    opacity: 0.6;
    font-size: 0.8rem;
  }
}
