/**
 * All styling of navigation bars:
 * - The blue main bar
 * - The white event bar
 * - The yellow moderator bar
 */

$navbar-height: 60px;
$navbar-mobile-height: 50px;
$navbar-mobile-item-height: 40px;
$navbar-brand-height: 50px;
$event-navbar-height: 50px;

.navbar#main-header {
  @include header-shadow;
  padding: 0;
  font-size: 1.1rem;
  
  @include media-breakpoint-up(md) {
    height: $navbar-height;

    .navbar-collapse {
      flex-grow: 0;
    }
  }

  &.has-event-navbar {
    box-shadow: none;
  }

  /* Main header > Logo */

  & .navbar-brand {
    float: left;
    width: 220px;
    height: $navbar-brand-height;
    background: url('/static/images/brand.svg');
    padding: 0;
  }
    
  & .navbar-brand__hover {
    width: 1px; /* force preload */
    height: 1px;
    background: url('/static/images/brand_hover.svg');
  }
  
  & .navbar-brand:hover .navbar-brand__hover {
    width: 220px;
    height: $navbar-brand-height;
  }
  
  @include media-breakpoint-down(md) {
    & .navbar-brand {
      width: 42px;
    }
    & .navbar-brand__hover {
      display: none;
    }
  }

  /* Main header > Nav links */

  & #navbar-dropdown > .navbar-nav {
    & > .nav-item {
      height: $navbar-mobile-item-height;

      & > .nav-link {
        padding: 0;
        color: white;
      }
      &.active {
        background-color: white;

        & > .nav-link {
        color: $main;
        }
      }

      &, &.active {
        @include transition;
        font-size: 1.1rem;
        padding: 0 10px;
        height: $navbar-mobile-item-height;
        line-height: $navbar-mobile-item-height;

        @include media-breakpoint-up(md) {
          line-height: $navbar-height;
          height: $navbar-height;
        }

        &:hover {
          background-color: $main-light;

          & > a {
            color: white;
          }
        }
      }
      &.button-item {
        padding-right: 0;
        
        &:hover {
          background-color: transparent;
        }
      }

      & img:hover {
        border: 4px solid white;
      }

      & .dropdown {
        & button {
          font-weight: bold;
          padding: 0.3rem 0.6rem;
          border-radius: 4px;
        }
        & .dropdown-menu {
          line-height: normal;
        }
      }
    }
  }

  /* Main header > user profile menu */

  & .navbar-profile-mobile {
    margin-top: -7px;
    margin-right: 15px;
  }
  
  & .navbar-profile {
    font-weight: bold;
  }

  & .navbar-avatar {
    width: 36px;
    border-radius: 6px;
    vertical-align: middle;
  }

  & .navbar-avatar-wrapper {
    position: relative;
    width: 36px;
    display: inline-block;
    margin-right: 3px;
  }

  & .navbar-unread-notifications {
    position: absolute;
    background-color: $neutral;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    top: -3px;
    right: -3px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 20px;
    
    &.unread {
      background-color: $alt;
    }
  }

}

.event-navbar {
  @include header-shadow;
  @include transition;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  color: $alt;
  position: relative;

  @include media-breakpoint-up(md) {
    height: $event-navbar-height;
  }

  & .navbar-toggler {
    float: left !important;
    margin-right: 10px;
  }
  
  &__info {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
  }
  @media (max-width: 767px) {
    &__info {
      margin-right: 0;
      padding-top: 2px;
    }
  }

  &__name {
    @include alt-font;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 2px;
  }
  &__dates {
    @include main-font;
    display: block;
    font-size: .8rem;
    color: $text-light;
    margin-top: -2px;
  }
  
  &__links {
    vertical-align: top;
    display: inline-block;
    line-height: $event-navbar-height;
  }
  @media (max-width: 767px) {
    &__links {
      float: left;
    }
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 15px;
    margin: 0;
    height: $event-navbar-height;
    line-height: $event-navbar-height;
    font-size: 1.3rem;
    text-align: center;
    color: $alt !important;

    &.disabled {
     color: $neutral-light !important;
    }

    @media (min-width: 768px) {
      font-size: 1rem;
      padding: 7px 12px;
      line-height: 20px;

      & .fas {
        display: block;
      }
    }
    
    @media (min-width: 992px) {
      text-align: left;
      line-height: $event-navbar-height;
      font-size: 1rem;
      padding: 0 11px;
      
      & .fas {
        display: inline;
      }
    }
    
    &:hover {
      background-color: $alt-transparent;
    }

    &.active {
      border-bottom: 4px solid $alt;
    }

    &.disabled {
      color: $text-lighter;
      cursor: default;
      &:hover {
        background-color: inherit;
      }
    }
    
    &.home {
      padding-top: 4px;
      line-height: 1.3rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      & .fa {
        margin-right: 4px;
      }

      @media (min-width: 768px) {
        max-width: 250px;
        letter-spacing: 1px;
      }

      @media (min-width: 992px) {
        max-width: 300px;
      }
    }
  }
    
  &__link-label {
    color: $alt;
  }
}

.bg-moderation {
  background-color: $moderation-dark;
}

.moderation-bar {
  width: 100%;
  background-color: $moderation-dark;
  margin-top: -3px;

  & .btn {
    background-color: $moderation-dark;
    border-color: $moderation-dark;
    color: $moderation-text;
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
    margin-right: 5px;

    &:hover {
      background-color: $moderation;
      border-color: $moderation;
    }
  }
}
