/**
 * Blog posts, comments & Markdown content in general
 */

@import "./variables.scss";

.post {
  & h1 {
    font-weight: normal;
    font-size: 2.0rem;
    margin-bottom: 8px;
  }

  &__title {
    @include main-font;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    color: $text;
      
    &:hover {
      color: $alt-dark;
    }
  }

  &__comment-count {
    color: $alt;
    font-size: 1.5rem;
    white-space: nowrap;
  }

  &__like-count {
    display: inline-block;
    font-size: 1.5rem;
    white-space: nowrap;

    & button {
      color: $text-light;
      border: none;
      background: none;
    }

    &:hover button, &.liked button {
      color: $alt;
    }
  }

  &__related {
    margin-top: 2px;
    font-size: 1.2rem;
  }

  &__details {
    border-bottom: 1px solid $borders;
    line-height: 36px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;

    & > a:first-child {
      margin-left: -10px;
    }

    & a.btn {
      margin-top: -6px;
      margin-right: 5px;
    }
  }

  &__date {
    color: $text-lighter;
  }

  &__avatar {
    max-width: 36px;
    max-height: 36px;
    margin-right: 5px;
    vertical-align: top;
  }

  &__special-type {
    @include main-font;
    display: block;
    font-weight: bold;
    background-color: $moderation-dark;
    white-space: nowrap;
    text-align: center;
  }

  &__special-type-label {
    display: block;
    font-size: 1.15rem;
    color: white;
    line-height: 36px;
  }

  & img {
    max-width: 100%;
  }

  & .card {
    margin-bottom: 0;
  }

  &__footer {
    padding: 10px;
    font-weight: bold;
    text-align: right;
  }
}

.comment {
  position: relative;

  &__subscribe {
    float: right;
    font-size: 1rem;
    line-height: 30px;
    vertical-align: middle;
  }

  &.unread {
    background-color: $alt-lightest;
    border: 1px solid $alt-lighter;
    padding-top: 10px;
    margin-bottom: 5px;
  }

  &__avatar-container {
    padding-right: 0;
    width: calc(8.333% - 5px);
    position: absolute;
    left: calc(-8.33333333% + 10px);
    top: 0;
    text-align: center;
    
    & img {
      max-width: 100%;
      max-height: 70px;
      margin-bottom: 5px;
    }
  }
  
  &__details {
    padding-bottom: 5px;
    font-weight: bold;
  }
  
  &__body {
    padding: 10px;
  }
  
  &__actions {
    margin-top: 10px;
  }

}

/* User contents */

.user-contents {
  word-wrap: break-word;
  overflow: hidden;

  & h1 {
    @include main-font;
    font-weight: bold;
    display: inline-block;
    clear: both;
    margin-top: 25px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    font-size: 2.0rem;
    border-bottom: 1px solid $neutral-light;

    &:first-child {
      margin-top: 0;
    }
  }
  & h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }
  & h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: normal;
    color: $text-light;
    
    &:first-child {
      margin-top: 0;
    }
  }
  & h4 {
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 1.1rem;
    font-weight: normal;
    color: $text-light;
  }

  & blockquote {
    padding: 5px 10px;
    font-size: 1rem;
    color: $text-light;
  }
  
  & .spoiler {
    border-left: 3px solid $borders;
    color: change-color($text-light, $alpha: 0);
    font-size: 1rem;
    margin: 5px 0;
    padding: 3px 10px;
    transition: 0.3s;
    max-height: 30px;
    max-width: 100px;
    overflow: hidden;
    cursor: help;

    &::before {
      color: $alt-light;
      content: 'Spoiler';
      display: block;
    }
    &:hover {
      color: $text-light;
      max-height: inherit;
      max-width: inherit;
      overflow: auto;
    }
  }
  
  & .indent {
    text-indent: 1rem;
  }

  &__editor {
    border: 1px solid #aab2bd;
    border-radius: 4px;

    & .editor-toolbar {
      border: none;
      border-bottom: 1px solid #aab2bd;
    }

    & .CodeMirror {
      border: none;

      & .CodeMirror-code .cm-header-1 {
        line-height: 100%;
      }
    }
  }

  & iframe, & img {
    max-width: 100% !important;
    max-height: 400px !important;
  }

  & table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;

    & td, & th {
      border: 1px solid $borders;
      padding: 6px;
    }

    & th {
      padding-top: 11px;
      padding-bottom: 11px;
      background-color: $main-light;
      color: white;
    }
  }
  
  & .pull-left {
    margin: 15px;
    margin-left: 0;
  }
  & .pull-right {
    margin: 15px;
    margin-right: 0;
  }
}
