#gotcha-group,
#gotcha-group * {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

label[for="captcha-answer"] {
  p {
    margin-bottom: 0;
  }
  th, td {
    padding-right: 20px;
    text-align: center;
  }
  i {
    font-size: 2.2rem;
  }
}