/**
 * User pages & user macros
 */

/* Login-related forms */

.login-card, .register-card, .password-reset-card {
  max-width: 500px;
  margin: auto;
}

.login-card, .password-reset-card {
  @media (min-width: 768px) {
    margin: 100px auto;
  }
}

/* User profile */

.profile {

  &__avatar {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5%;
  }

  &__title {
    margin: 20px 0 0 0;
    overflow: hidden;
  }

  &__name {
    color: $text-light;
    font-weight: normal;
  }

  &__id {
    font-size: 0.8rem;
  }

  &__joined {
    color: $text-light;
  }

  &__social-link {
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;

    & img, & span {
      vertical-align: middle;
    }
    
    & img {
      height: 32px;
    }
    & span {
      font-size: 32px;
      margin-left: 3px;
      margin-right: 2px;
    }
    
    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__admin, &__mod {
    max-width: 100%;
    max-height: 28.5px;
    border-radius: 2%;
  }
}

/* User thumbnail */

.user-thumb {
  margin-bottom: 10px;
  min-height: 50px;

  &.full-width {
    float: none;
    padding: 0;
    margin-left: 15px;
    width: 100%;
  }
  &.centered {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 0;
  }
  &.pending {
    opacity: 0.5;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    margin-left: -60px;
    display: block;
    float: left;

    & img {
      display: block;
      margin: auto;
      max-height: 50px;
      max-width: 50px;
    }
  }
  &.full-width &__avatar {
    margin-bottom: 5px;
  }
  &.centered &__avatar {
    margin-left: 0;
    width: 100%;
    float: none;
  }

  &__title {
    @include alt-font;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-left: 60px;
    margin: 0;
  }
  &.centered &__title {
    padding-left: 0;
  }

  &__name {
    font-size: 0.85rem;
    font-weight: bold;
    color: $text-light;
    padding-left: 60px;
    margin-top: -3px;
  }
  &__pending {
    float: right;
    font-size: 0.85rem;
    font-weight: bold;
    color: $text;
    padding: 0 25px 0 5px;
    margin-top: -3px;
  }
  &__entries {
    font-size: 0.75rem;
    font-weight: bold;
    color: $text-light;
    padding-left: 60px;

    & img {
      vertical-align: top;
      padding-left: 3px;
      padding-right: 5px;
    }
  }
  &.centered &__name {
    padding-left: 0;
  }
}

.user-thumbs .user-thumb {
  height: 50px;
  margin-bottom: 12px;
}
