{% extends "base.html" %}
{% import "event/event.macros.html" as eventMacros %}
{% import "macros/form.macros.html" as formMacros %}
{% import "macros/games-search.macros.html" as gamesSearchMacros %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3">
       {{ gamesSearchMacros.searchForm(context()) }}
       
       <div class="hidden-xs">
         <h3>Adding games</h3>
         <p>Users can submit entries made during any game jam. You can add your own 
            <a href="{{ buildUrl(user, 'user', 'entries') }}">from your Dashboard</a>.
         </p>
       </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <h1>
        {% if searchedEvent %}
          <a href="{{ buildUrl(featuredEvent, 'event', 'games' if searchedEvent.get('status_entry') !== 'off' else 'posts') }}">{{ searchedEvent.get('title') }}</a>
        {% endif %}
        Games 
        {{ 'from external events' if searchOptions.eventId|dump === 'null' }}
        <span class="count">({{ entriesCollection.pagination.rowCount }})</span>
        {{ gamesSearchMacros.searchDescription(searchOptions, searchedEvent) }}
      </h1>

      {% if featuredEvent and searchedEvent and featuredEvent.get('id') === searchedEvent.get('id') %}
        {% if featuredEvent.get('status_results') === 'voting' or featuredEvent.get('status_results') === 'voting_rescue' %}
        <div class="well" style="padding: 6px">
        <b><img src="{{ staticUrl('/static/images/favicon16.png') }}" /> Rating phase in progress</b><br />
        All jam entrants are invited to rate other people's games. Everyone else can still play and post comments.
        </div>
        {% endif %}
        
        {% if rescueEntries.length > 0 %}
        <div class="entries-rescue">
          <h3>Rescue these games by rating them!</h3>
          <div class="game-grid">
            {% for entry in rescueEntries %}
            <div class="game-grid-entry">
              {{ eventMacros.entryThumb(entry) }}
              <div class="entry-thumb__score">
                <span class="pull-right">{{ requiredVotes - entry.related('details').get('rating_count') }}</span>
                Missing votes
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endif %}

      {{ formMacros.pagination(entriesCollection.pagination.page, entriesCollection.pagination.pageCount, path) }}
      
      <div class="game-grid">
      {% for entry in entriesCollection.models %}
        <div class="game-grid-entry">
          {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
        </div>
      {% endfor %}
      </div>
      
      {{ formMacros.pagination(entriesCollection.pagination.page, entriesCollection.pagination.pageCount, path) }}
    </div>
  </div>
</div>

{% endblock %}
