{% import "macros/form.macros.html" as formMacros with context %}

{# Allowed options: fullWidth centered #}
{% macro userThumb(user, options = {}) %}
<div class="user-thumb {{ 'full-width' if options.fullWidth else 'col-sm-4' }} {{ 'centered' if options.centered }} {{ 'pending' if options.pending }}">
    <div class="user-thumb__title">
      <a href="{{ routeUrl(user, 'user') }}">
        <div class="user-thumb__avatar">
          {% if user.get('avatar') %}
            <img src="{{ pictureUrl(user.get('avatar'), user) }}" />
          {% else %}
            <img src="{{ staticUrl('/static/images/default-avatar.png') }}" />
          {% endif %}
        </div>
        {{ user.get('title') }}
      </a>
    </div>
    {% if options.pending -%}
      <div class="user-thumb__pending">
        Pending invite
      </div>
    {%- endif %}
    <div class="user-thumb__name">
      {{ user.get('name') }}
    </div>
    {% if user.get('entries_count') > 0 -%}
      <div class="user-thumb__entries">
        {{ user.get('akj_entries_count') }}<img src="{{ staticUrl('/static/images/jamician32.png') }}" height="14" />
        {{ user.get('entries_count') - user.get('akj_entries_count') }} ext
      </div>
    {%- endif %}
</div>
{% endmacro %}

{% macro userAvatar(user, options = {}) %}
{% set src = pictureUrl(user.get('avatar'), user) if user.get('avatar') else staticUrl('/static/images/default-avatar.png') %}
<a href="{{ routeUrl(user, 'user') }}">
  <img class="{{ 'small-avatar' if options.small }}" src="{{ src }}" />
</a>
{% endmacro %}

{% macro userLink(user) %}
<a href="{{ routeUrl(user, 'user') }}">@{{ user.get('title') }}</a>
{% endmacro %}

{% macro twitchLink(user) %}
{% set socialLinks = user.related('details').get('social_links') %}
{% if socialLinks.twitch %}
<a href="https://www.twitch.tv/{{ socialLinks.twitch }}">
  <img src="{{ staticUrl('/static/images/social/twitch.png') }}" class="no-border" style="width: 32px" /> {{ socialLinks.twitch }}
</a>
{% endif %}
{% endmacro %}