{% extends "_page.html" %}

{% block body %}

<div class="container">
  <h1>500: Internal error</h1>

  <p>{{ message }}</p>

  {% if devMode and message.indexOf('no such column:') !== -1 %}
  <div class="alert alert-warning"><h4>"No such column" error tip</h4> If you're not sure why you have this, your database model is probably out of date. You can reset the database from the <a href="/admin">administration</a></div>
  {% endif %}

  <p><a href="/">(Back)</a></p>
</div>

{% endblock %}