{% macro entryThumb(entry) %}
<a class="entry-thumb col-md-2" href="/entry/{{ entry.get('id') }}">
  {% set picturePath = entry.get('picture') if entry.has('picture') else '/static/images/test.png' %}
  <img class="entry-thumb__picture" src="{{ picturePath }}" />
  <div class="entry-thumb__title" >{{ entry.get('title') }}</div>
</a>
{% endmacro %}

{% macro eventPanel(event) %}
<div class="event-row panel">
  <div class="event-row__header row">
    <div class="event-row__title col-md-3"><a href="/event/{{ event.get('id') }}">{{ event.get('title') }}</a></div>
    <div class="event-row__status col-md-9">
      Current state: <b>open (closes in 20:00:00)</b><br />
      Entry count: <b>{{ event.related('entries').length }}</b>
    </div>
  </div>
  <div class="row">
    {% for entry in event.related('entries').models %}
      {{ entryThumb(entry) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}