{# ======== MARKDOWN EDITOR ========= #}

{% macro editor(editorName, editorContents, autosaveId = '') %}
<textarea class="form-control simplemde-editor" name="{{ editorName }}" data-autosave-id="{{ autosaveId }}">{{ editorContents | markdownUnescape }}</textarea>
{% endmacro %}

{% macro editorScripts() %}
  <script type="text/javascript" src="/static/js/simplemde.min.js"></script>
{% endmacro %}

{# ======== CODEMIRROR EDITOR ========= #}

{% macro codeMirrorScripts() %}
  <script type="text/javascript" src="/static/js/codemirror.min.js"></script>
  <script type="text/javascript" src="/static/js/matchbrackets.min.js"></script>
  <script type="text/javascript" src="/static/js/closebrackets.min.js"></script>
  <script type="text/javascript" src="/static/js/codemirror-jsonconf.min.js"></script>
  <script type="text/javascript" src="/static/js/codemirror-autorefresh.min.js"></script>
{% endmacro %}

{# ======== PICTURES ========= #}

{% macro pictureInput(name, value, options = {}) %}
<div class="{{ 'well' if not options.noPanel }}">
  <p>
    <input type="file" name="{{ name }}" class="btn"/>
    <input type="hidden" name="{{ name }}" value="{{ value }}"/>
  </p>
  <p>
    <img src="{{ value or options.defaultValue }}" style="max-width: 100%" />
  </p>
  {% if value %}
  <label><input type="checkbox" name="{{ name }}-delete" /> Delete picture</label>
  {% endif %}
</div>
{% endmacro %}


{# ======== TOOLTIPS ========= #}

{% macro tooltip(title, options = {}) %}
 <span class="glyphicon glyphicon-info-sign has-tooltip" data-toggle="tooltip" data-placement="{{ options.placement or 'top' }}" data-original-title="{{ title }}" style="font-size: 0.8rem"></span>
{% endmacro %}



{# ======== RADIO AND CHECK BUTTONS ========= #}

{% macro radio(name, value, label, modelProperty, options = {}) %}
  {% set value = modelProperty if options.textFieldEnabled else value %}
  <label for="{{ name }}-{{ value }}">
    <input type="radio" id="{{ name }}-{{ value }}" class="js-radio" name="{{ name }}" value="{{ value }}" {{ 'checked="checked"' if value and modelProperty === value }} />
    {% if options.textField %}
      <input type="text" class="js-radio-text-field" data-target="{{ name }}-{{ value }}" placeholder="{{ options.placeholder }}" />
    {% else %}
    <span class="radio-label">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}

{% macro check(name, label, value, options = {}) %}
  <label for="{{ name }}">
    <input type="checkbox" id="{{ name }}" class="js-checkbox" name="{{ name }}" {{ ('checked="true"' if value) | safe }} />
    {% if options.textField %}
      <input type="text" class="js-checkbox-text-field" data-target="{{ name }}" placeholder="{{ options.placeholder }}" />
    {% else %}
    <span class="checkbox-label" style="{{ 'margin-right: 0' if options.noMargin }}">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}


{# ======== DATE TIME PICKER ========= #}

{% macro dateTimePicker(name, value, options = {}) %}
  <input type="datetime" name="{{ name }}"
    class="form-control date-picker js-date-picker {{ options.classes or '' }}"
    value="{{ value | date(options.momentFormat or 'YYYY-MM-DD HH:mm') }}" 
    data-format="{{ options.pickerFormat or 'yyyy-mm-dd hh:ii' }}"
    {% if options.minView %} data-min-view="{{ options.minView }}" {% endif %}
    {% if options.maxView %} data-max-view="{{ options.maxView }}" {% endif %}
    {% for key, value in options.attrs %}
      {{ key }}="{{ value }}"
    {% endfor %}
    />
{% endmacro %}


{# ======== SELECT ========= #}

{% macro select(name, models, selectedValue, options = {}) %}
<select name="{{ name }}" class="form-control">
  {% if options.nullable %}
  <option value="" {{ 'selected' if not selectedValue }}></option>
  {% endif %}
  {% for model in models %}
    <option value="{{ model.get('id') }}" {{ 'selected' if selectedValue === model.get('id') }}>
      {{ model.get('title') }}
    </option>}} 
  {% endfor %}
</select>
{% endmacro %}

{# ======== EXPAND/COLLAPSE BAR ========= #}

{# This bar must be added just after the block to expand, and have a common parent div with class="expandable".
   - options.manualScripting: lets the user implement the JS (mostly used on the home page)
   - options.maxHeight: customizes the maximum height before enabling the expand/collapse bar
#}
{% macro expandCollapse(options = {}) %}
<div class="expand-bar {{ 'js-expand-bar' if not options.manualScripting }}" data-max-height="{{ options.maxHeight or 600 }}">
  <span class="expand">
    <span class="glyphicon glyphicon-arrow-down"></span> 
    Expand
    <span class="glyphicon glyphicon-arrow-down"></span> 
  </span>
  <span class="collapse">
    <span class="glyphicon glyphicon-arrow-up"></span> 
    Collapse
    <span class="glyphicon glyphicon-arrow-up"></span> 
  </span>
</div>
{% endmacro %}

{# ======== PAGINATION ========= #}

{% macro pagination(currentPage = 1, pageCount = 1, baseUrl = '/posts?') %}
{% set baseUrlQS = baseUrl | paginationBasePath %}
{% set pagesToEnd = pageCount - currentPage %}
{% set from = max(1, currentPage - max(5, 11 - pagesToEnd)) %}
{% set to = min(pageCount, currentPage + max(5, 11 - currentPage)) %}
{# TODO: make a way to reach first / last page when there are many pages #}
{# class="{{ 'active' if currentPage === pageCount }}" #}
{% if pageCount > 1 %}
<ul class="pagination">
  {% if currentPage > 1 %}
  <li><a href="{{ baseUrlQS + '&p=' + (currentPage - 1) }}">Previous page</a></li>
  {% endif %}
  {% for page in range(from, to + 1) %}
  <li class="{{ 'active' if currentPage === page }}"><a href="{{ baseUrlQS + '&p=' + page }}">{{ page }}</a></li>
  {% endfor %}
  {% if currentPage < pageCount %}
  <li><a href="{{ baseUrlQS + '&p=' + (currentPage + 1) }}">Next page</a></li>
  {% endif %}
</ul>
{% endif %}
{% endmacro %}
