{% macro editor(editorName, editorContents) %}
  <textarea class="form-control simplemde-editor" name="{{ editorName }}">{{ editorContents }}</textarea>
{% endmacro %}

{% macro editorStyles() %}
  <link rel="stylesheet" type="text/css" href="/static/css/simplemde.min.css" />
{% endmacro %}

{% macro editorScripts(options = {}) %}
  <script type="text/javascript" src="/static/js/simplemde.min.js"></script>
  <script>
  // Markdown editor
  $('.simplemde-editor').each(function () {
    new SimpleMDE({
      element: this,
      spellChecker: false,
      {% if options.toolbar === false %}
      toolbar: false,
      {% endif %}
      status: false,
      autosave: {
        enabled: {{ 'true' if options.autoSaveId else 'false' }},
        uniqueId: '{{ options.autoSaveId }}'
      }
    })
  })
  </script>
{% endmacro %}

{% macro pictureInput(name, value, defaultValue = null) %}
  <input type="file" name="{{ name }}" class="btn" />
  {% if value %}
  <label><input type="checkbox" name="{{ name }}-delete" /> Delete picture</label>
  {% endif %}
  <br />
  {% if value  %}
  <img src="{{ value }}" style="width: 100%; max-width: 150px" />
  {% elseif defaultValue %}
  <img src="{{ defaultValue }}" style="width: 100%; max-width: 150px" />
  {% endif %}
{% endmacro %}

{% macro tooltip(title, options = {}) %}
 <span class="glyphicon glyphicon-info-sign has-tooltip" data-toggle="tooltip" data-placement="{{ options.placement or 'top' }}" data-original-title="{{ title }}" style="font-size: 0.8rem"></span>
{% endmacro %}

{% macro radioStyles() %}
  <link rel="stylesheet" type="text/css" href="/static/css/icheck-skin.css" />
{% endmacro %}

{% macro radio(name, value, label, modelProperty, options = {}) %}
  {% set value = modelProperty if options.textFieldEnabled else value %}
  <label for="{{ name }}-{{ value }}">
    <input type="radio" id="{{ name }}-{{ value }}" name="{{ name }}" value="{{ value }}" {{ 'checked="checked"' if modelProperty === value }} />
    {% if options.textField %}
      <input type="text" class="js-radio-text-field" data-target="{{ name }}-{{ value }}" placeholder="{{ options.placeholder }}" />
    {% else %}
    <span class="radio-label">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}

{% macro radioScripts() %}
<script type="text/javascript" src="/static/js/icheck.min.js"></script>
<script type="text/javascript">
  /*
   * iCheck library init (for radio styling)
   */

  $('input[type="radio"]').iCheck({
    checkboxClass: 'icheckbox_flat',
    radioClass: 'iradio_flat'
  });

  /*
   * Radio <-> Text field bindings
   */

  $textFields = $('.js-radio-text-field')

  // Initialize text field with value if enabled
  $textFields.each(function () {
    let textField = this
    refreshTextField(textField)
    getRadio(textField).on('ifChanged', function() {
      refreshTextField(textField)
    })
  })

  // Update radio upon text field change
  $textFields.change(function() {
    refreshRadio(this)
  })

  function getRadio (textField) {
    return $('#' + $(textField).attr('data-target'))
  }

  function refreshRadio (textField) {
    let $textField = $(textField)
    let $radio = getRadio(textField)
    $radio.val($textField.val())
  }

  function refreshTextField (textField) {
    let $textField = $(textField)
    let $radio = getRadio(textField)
    if ($radio.get(0).checked) {
      $textField.val($radio.val())
      $textField.removeAttr('disabled')
    } else {
      $textField.val('')
      $textField.attr('disabled', 'disabled')
    }
  }

</script>
{% endmacro %}