{% macro searchForm(context, options = {}) %}
  <div class="list-group">
    <div class="list-group-item">
      <h4 style="margin: 0">Search filters</h4>
    </div>
    <form method="get" class="list-group-item">
      {% if not options.fixedEvent %}
      <div class="form-group">
        <label for="search">Event</label>
        <select id="js-event" name="eventId" class="form-control">
          <option value="" {{ 'selected' if not context.searchOptions.eventId }}></option>
          {% for event in context.events %}
            <option value="{{ event.get('id') }}" {{ 'selected' if event.get('id') == context.searchOptions.eventId }}>{{ event.get('title') }}</option>
          {% endfor %}
          <option value="none" {{ 'selected' if context.searchOptions.eventId|dump === 'null' }}>(External events)</option>
        </select>
      </div>
      {% endif %}
      <div class="form-group">
        <label for="search">Title search</label>
        <input name="search" type="text" class="form-control" value="{{ context.searchOptions.search }}" />
      </div>
      <div class="form-group">
        <label for="platforms">Platforms</label>
        <select id="js-platforms" name="platforms" class="form-control" multiple="multiple">
          {% for platform in context.platforms %}
            <option value="{{ platform.get('id') }}" {{ 'selected' if context.searchOptions.platforms and context.searchOptions.platforms.includes(platform.get('id')) }}>{{ platform.get('name') }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="platforms">Tags</label>
        <input type="hidden" name="tags" class="form-control" id="js-tags" multiple="multiple" />
      </div>
      <div class="form-group">
        <label for="divisions">Divisions</label>
        <div>
          <div class="btn-group" data-toggle="buttons">
            {% set divisions = context.event.get('divisions')|keys if context.event else ['solo', 'team', 'unranked'] %}
            {% for division in divisions %}
              {% set active = not context.searchOptions.divisions or context.searchOptions.divisions.includes(division) %}
              <label class="btn btn-default {{ 'active' if active }}">
                <input type="checkbox" name="division-{{ division }}" {{ 'checked="checked"' if active }} autocomplete="off"> {{ division.replace('Unrank') | capitalize }}
              </label>
            {% endfor %}
          </div>
        </div>
      </div>
      {% if context.user %}
      <div class="form-group">
        <p><label><input type="checkbox" name="hideReviewed" {{ 'checked="checked"' if context.searchOptions.notReviewedById }}> Hide rated or commented</label></label>
      </div>
      {% endif %}
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Apply" />
        <a href="?" class="btn btn-default">Clear</a>
      </div>
    </form>
  </div>
{% endmacro %}

{% macro searchDescription(searchOptions, searchedEvent) %}
  {% if searchOptions.search or searchOptions.eventId !== undefined or searchOptions.tags %}
    <div class="count" style="font-size: 1rem"><!-- TODO rename CSS class to "legend" -->
      {% if searchOptions.tags and searchOptions.tags.length > 0 %}
        with tag{{ 's' if searchOptions.tags.length > 1 }}
        {% for tag in searchOptions.tags -%}
          "{{ tag.value }}"{{ ' or ' if not loop.last }}
        {%- endfor %}
        {{ 'in ' + searchedEvent.get('title') if searchedEvent }}
        {{ 'in external events' if searchOptions.eventId|dump === 'null' }}
      {% endif %}
      {{ 'on restricted platforms' if searchOptions.platforms.length > 0 }}
      {{ 'in division' + ('s' if searchOptions.divisions.length > 1) + ' "' + searchOptions.divisions + '"' if searchOptions.divisions }}
      {{ 'matching "' + searchOptions.search + '"' if searchOptions.search }}
    </div>
  {% endif %}
{% endmacro %}

{% macro searchFormScripts(tags) %}
<script type="text/javascript" src="/static/js/select2.min.js"></script>
<script type="text/javascript">
// TODO move script into a separate file (#21)
$('#js-event').select2({
  allowClear: true
})
$('#js-platforms').select2()
</script>
{{ gameTagJsSelect(tags, { disableCustomTags: true }) }}
{% endmacro %}

{# Tags must follow the format: [{id, value}, ...] #}
{% macro gameTagJsSelect(tags, options = {}) %}
<script type="text/javascript">
  var disableCustomTags = {{ options.disableCustomTags or 'false' }}
  $(function() {(function(tags, url) {
    $('#js-tags').select2({
      multiple: true,
      ajax: {
        url: url,
        dataType: 'json',
        delay: 500,
        data: function (term) {
          return {
            name: term
          }
        },
        processResults: function (data, params) {
          return {
            results: data.matches
          }
        },
        cache: true
      },
      createSearchChoice: function(term, data) {
        // allow manually entered text in drop down
        if (!disableCustomTags) {
          var matchingResults = $(data).filter(function() {
            return this.value.toLowerCase().localeCompare(term.trim().toLowerCase()) === 0;
          })
          if (matchingResults.length===0) {
            return { id: term, value: term };
          }
        }
      },
      initSelection: function(elem, cb) {
        cb(tags)
      },
      sortResults: sortSelect2Results,
      placeholder: 'Select tags',
      width: "100%",
      allowClear: false,
      minimumInputLength: 3,
      formatResult: format,
      formatSelection: format
    })
    .select2('val', tags)

  })(
    {{ tags | default([]) | dump | safe }},
    "{{ buildUrl(null, 'tags', 'ajax-find-tags') }}"
  ) })
  
  function sortSelect2Items (a, b) {
    if (a.value < b.value) return -1;
    if (a.value > b.value) return 1;
    return 0;
  }

  function sortSelect2Results (results) {
    return results.sort(sortSelect2Items)
  }
  
  function format (tag) {
    return ['<div class="tag">',
          '<span class="tag">',tag.value,'</span>',
        '</div>']
      .join('')
  }
</script>
 {% endmacro %}