{# ======== MARKDOWN EDITOR ========= #}

{% macro editor(editorName, editorContents) %}
  <textarea class="form-control simplemde-editor" name="{{ editorName }}">{{ editorContents | markdownUnescape }}</textarea>
{% endmacro %}

{% macro editorStyles() %}
  <link rel="stylesheet" type="text/css" href="/static/css/simplemde.min.css" />
{% endmacro %}

{% macro editorScripts(options = {}) %}
  <script type="text/javascript" src="/static/js/simplemde.min.js"></script>
  <script>
  // Markdown editor
  $('.simplemde-editor').each(function () {
    var simplemde = new SimpleMDE({
      element: this,
      spellChecker: false,
      {% if options.toolbar === false %}
      toolbar: false,
      {% else %}
      toolbar: ['bold', 'italic', 'heading', '|', 
        {
          name: 'float-left',
          action: _alignText('pull-left'),
          className: 'fa fa-align-left',
          title: 'Float left',
        },
        {
          name: 'align-center',
          action: _alignText('text-center'),
          className: 'fa fa-align-center',
          title: 'Align center',
        },
        {
          name: 'float-right',
          action: _alignText('pull-right'),
          className: 'fa fa-align-right',
          title: 'Float right',
        },
        '|',
        'code', 'quote', 'unordered-list', 'ordered-list', '|',
        'link', 'image', 'table', 'horizontal-rule', '|',
        'preview', 'side-by-side', 'fullscreen', '|',
        'guide'],
      {% endif %}
      status: false,
      autosave: {
        enabled: {{ 'true' if options.autoSaveId else 'false' }},
        uniqueId: '{{ options.autoSaveId }}'
      }
    })

    // Bind exit alert on change
    simplemde.codemirror.on('change', function() {
      if (!window.onbeforeunload) {
        window.onbeforeunload = function() {
          return 'You have unsaved changes. Exit anyway?'
        }
      }
    })
  })
  
  function _alignText(className) {
    return function (editor) {
      var cm = editor.codemirror
      var text = cm.getSelection()
      cm.replaceSelection('<p class="' + className + '">' + text + '</p>')
    }
  }

  // Unbind exit alert on actual save
  $('form').submit(function () {
    window.onbeforeunload = undefined
  })

  </script>
{% endmacro %}

{# ======== CODEMIRROR EDITOR ========= #}

{% macro codeMirrorStyles() %}
  <link rel="stylesheet" type="text/css" href="/static/css/codemirror.css" />
{% endmacro %}

{% macro codeMirrorScripts(options = {}) %}
  <script type="text/javascript" src="/static/js/codemirror.min.js"></script>
  <script type="text/javascript" src="/static/js/matchbrackets.min.js"></script>
  <script type="text/javascript" src="/static/js/closebrackets.min.js"></script>
  <script type="text/javascript" src="/static/js/codemirror-jsonconf.min.js"></script>
  <script>
    $('.codemirror').each(function () {
      CodeMirror.fromTextArea(this, {
        matchBrackets: true,
        autoCloseBrackets: true,
        mode: "application/ld+json",
        lineWrapping: true,
        readOnly: !!$(this).attr('readonly')
      })
    })
  </script>
{% endmacro %}

{# ======== PICTURES ========= #}

{% macro pictureInput(name, value, defaultValue = null) %}
<div class="well">
  <p>
    <input type="file" name="{{ name }}" class="btn"/>
    <input type="hidden" name="{{ name }}" value="{{ value }}"/>
  </p>
  <p>
    {% if value  %}
    <img src="{{ value }}" style="max-width: 100%" />
    {% elseif defaultValue %}
    <img src="{{ defaultValue }}" style="max-width: 100%" />
    {% endif %}
  </p>
  {% if value %}
  <label><input type="checkbox" name="{{ name }}-delete" /> Delete picture</label>
  {% endif %}
</div>
{% endmacro %}


{# ======== TOOLTIPS ========= #}

{% macro tooltip(title, options = {}) %}
 <span class="glyphicon glyphicon-info-sign has-tooltip" data-toggle="tooltip" data-placement="{{ options.placement or 'top' }}" data-original-title="{{ title }}" style="font-size: 0.8rem"></span>
{% endmacro %}



{# ======== RADIO AND CHECK BUTTONS ========= #}

{% macro radioStyles() %}
  <link rel="stylesheet" type="text/css" href="/static/css/icheck-skin.css" />
{% endmacro %}

{% macro radio(name, value, label, modelProperty, options = {}) %}
  {% set value = modelProperty if options.textFieldEnabled else value %}
  <label for="{{ name }}-{{ value }}">
    <input type="radio" id="{{ name }}-{{ value }}" class="classic-radio" name="{{ name }}" value="{{ value }}" {{ 'checked="checked"' if value and modelProperty === value }} />
    {% if options.textField %}
      <input type="text" class="js-radio-text-field" data-target="{{ name }}-{{ value }}" placeholder="{{ options.placeholder }}" />
    {% else %}
    <span class="radio-label">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}

{% macro check(name, label, value, options = {}) %}
  <label for="{{ name }}">
    <input type="checkbox" id="{{ name }}" name="{{ name }}" {{ ('checked="true"' if value) | safe }} />
    {% if options.textField %}
      <input type="text" class="js-checkbox-text-field" data-target="{{ name }}" placeholder="{{ options.placeholder }}" />
    {% else %}
    <span class="checkbox-label" style="{{ 'margin-right: 0' if options.noMargin }}">{{ label }}</span>
    {% endif %}
  </label>
{% endmacro %}

{% macro radioScripts() %}
<script type="text/javascript" src="/static/js/icheck.min.js"></script>
<script type="text/javascript">
  /*
   * iCheck library init (for radio styling)
   */

  $('input[type="radio"].classic-radio,input[type="checkbox"]').iCheck({
    checkboxClass: 'icheckbox_flat',
    radioClass: 'iradio_flat'
  });


  /*
   * Radio <-> Text field bindings
   */

  $textFields = $('.js-radio-text-field')

  // Initialize text field with value if enabled
  $textFields.each(function () {
    var textField = this
    refreshTextField(textField)
    getRadio(textField).on('ifChanged', function() {
      refreshTextField(textField)
    })
  })

  // Update radio upon text field change
  $textFields.change(function() {
    refreshRadio(this)
  })

  function getRadio (textField) {
    return $('#' + $(textField).attr('data-target'))
  }

  function refreshRadio (textField) {
    var $textField = $(textField)
    var $radio = getRadio(textField)
    $radio.val($textField.val())
  }

  function refreshTextField (textField) {
    var $textField = $(textField)
    var $radio = getRadio(textField)
    if ($radio.get(0).checked) {
      $textField.val($radio.val())
      $textField.removeAttr('disabled')
    } else {
      $textField.val('')
      $textField.attr('disabled', 'disabled')
    }
  }

</script>
{% endmacro %}


{# ======== DATE TIME PICKER ========= #}

{% macro dateTimePicker(name, value) %}
  <input type="datetime" name="{{ name }}" class="form-control date-picker js-date-picker" value="{{ value | pickerDateTime }}" />
{% endmacro %}

{% macro dateTimePickerScripts() %}
<script type="text/javascript">
$(".js-date-picker").datetimepicker({
  format: '{{ constants.PICKER_CLIENT_DATE_TIME_FORMAT }}',
  autoClose: true,
  todayBtn: true,
  pickerPosition: "top-left"
})
$.fn.datetimepicker.dates['en'].today = 'Now'
</script>
{% endmacro %}


{# ======== SELECT ========= #}

{% macro select(name, models, selectedValue, options = {}) %}
<select name="{{ name }}" class="form-control">
  {% if options.nullable %}
  <option value="" {{ 'selected' if not selectedValue }}></option>
  {% endif %}
  {% for model in models %}
    <option value="{{ model.get('id') }}" {{ 'selected' if selectedValue === model.get('id') }}>
      {{ model.get('title') }}
    </option>}} 
  {% endfor %}
</select>
{% endmacro %}

{# ======== EXPAND/COLLAPSE BAR ========= #}

{# This bar must be added just after the block to expand, and have a common parent div with class="expandable".
   - options.manualScripting: lets the user implement the JS (mostly used on the home page)
   - options.maxHeight: customizes the maximum height before enabling the expand/collapse bar
#}
{% macro expandCollapse(options = {}) %}
<div class="expand-bar" data-manual-scripting="{{ options.manualScripting or 'false' }}" data-max-height="{{ options.maxHeight or 600 }}">
  <span class="expand">
    <span class="glyphicon glyphicon-arrow-down"></span> 
    Expand
    <span class="glyphicon glyphicon-arrow-down"></span> 
  </span>
  <span class="collapse">
    <span class="glyphicon glyphicon-arrow-up"></span> 
    Collapse
    <span class="glyphicon glyphicon-arrow-up"></span> 
  </span>
</div>
{% endmacro %}

{% macro expandCollapseScripts() %}
<script type="text/javascript">
$('.expand-bar').each(function () {
  var $this = $(this)
  if ($this.attr('data-manual-scripting') !== 'true') {
    var maxHeight = parseInt($this.attr('data-max-height'))
    var $parent = $this.parent()
    if ($parent.height() > maxHeight) {
      $parent.attr('style', 'max-height: ' + (maxHeight * 0.8) + 'px') // limit the size while preventing cropping just a single line
      $this.show()
      $this.click(function () {
        $parent.toggleClass('expanded')
      })
    } else {
      $this.remove()
    }
  }
})
</script>
{% endmacro %}

{# ======== PAGINATION ========= #}

{% macro pagination(currentPage = 1, pageCount = 1, baseUrl = '/posts?') %}
{% set baseUrlQS = baseUrl | paginationBasePath %}
{% set pagesToEnd = pageCount - currentPage %}
{% set from = max(1, currentPage - max(5, 11 - pagesToEnd)) %}
{% set to = min(pageCount, currentPage + max(5, 11 - currentPage)) %}
{% if pageCount > 1 %}
<ul class="pagination">
  <li class="{{ 'active' if currentPage === 1 }}"><a href="{{ baseUrlQS + '&p=1' }}">First page</a></li>
  {% for page in range(from, to + 1) %}
  <li class="{{ 'active' if currentPage === page }}"><a href="{{ baseUrlQS + '&p=' + page }}">{{ page }}</a></li>
  {% endfor %}
  <li class="{{ 'active' if currentPage === pageCount }}"><a href="{{ baseUrlQS + '&p=' + pageCount }}">Last page</a></li>
</ul>
{% endif %}
{% endmacro %}
