{% import "admin/_macros-admin.html" as adminMacros %}
{% import "event/_macros-event.html" as eventMacros %}

{% macro userMenu(user, unreadNotifications) %}
<div href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <a class="navbar-avatar-wrapper" href="{{ buildUrl(user, 'user', 'feed') }}" onclick="arguments[0].stopPropagation()">
    {% if user.get('avatar') %}
    <img src="{{ user.get('avatar') }}" class="navbar-avatar" />
    {% else %}
    <img src="/static/images/default-avatar.png" class="navbar-avatar" />
    {% endif %}
    <div class="navbar-unread-notifications {{ 'unread' if (unreadNotifications > 0) }}">
      {{ unreadNotifications }}
    </div>
  </a>
  <span class="navbar-profile hidden-xs">{{ user.get('title') }}</span> <span class="caret hidden-xs"></span>
</div>
<ul class="dropdown-menu">
  <li><a href="{{ buildUrl(user, 'user', 'feed') }}">Dashboard</a></li>
  <li><a href="{{ buildUrl(user, 'user') }}">Public profile</a></li>
   <li class="divider"></li> 
  <li><a href="{{ buildUrl(null, 'post', 'create') }}">Create post</a></li>
  <li><a href="{{ buildUrl(user, 'user', 'posts') }}">Manage posts</a></li>
  {% if user %}
   <li class="divider"></li> 
  <li><a href="/logout">Logout</a></li>
  {% endif %}
</ul>
{% endmacro %}

<!doctype html>
<html lang="en">
<head>
  {% set pageTitle = (pageTitle + ' | ' if pageTitle) + 'Alakajam!' %}
  {% set pageDescription = pageDescription if pageDescription else 'A community for game development enthusiasts, organizing regular events and competitions.' %}
  
  <title>{{ pageTitle }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@AlakajamBang" />
  <meta name="twitter:title" content="{{ pageTitle if pageTitle else 'Alakajam!' }}" />
  <meta name="twitter:description" content="{{ pageDescription | truncate(160) }}" />
  <meta name="twitter:image" content="{{ rootUrl }}{{ pageImage if pageImage else '/static/images/logo.png' }}" />
  <meta name="description" content="{{ pageDescription | truncate(160) }}" />

  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootflat-custom.css" />
  {% block styles %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
  <script type="text/javascript">
    // Google Analytics
    {% if config.GOOGLE_ANALYTICS_ID %}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ config.GOOGLE_ANALYTICS_ID }}', 'auto');
      ga('send', 'pageview');
    {% endif %}
  </script>
</head>
<body {{ 'class=in-event' if event }}>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {# ==== Main header (mobile) ==== #}
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><div class="navbar-brand__hover"></div></a>
      
        {% if user %}
        <div class="visible-xs pull-right navbar-profile-mobile">
          {{ userMenu(user, unreadNotifications) }}
        </div>
        {% endif %}
      </div>
      
      {# ==== Main header (desktop) ==== #}
      {% if event and featuredEvent and event.get('id') == featuredEvent.get('id') %}
        {% set isFeaturedEvent = true %}
      {% endif %}
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          {% if featuredEvent %}
          <li class="hidden-sm hidden-xs live {{ 'active' if isLiveEvent }}">
            <a href="{{ buildUrl(featuredEvent, 'event') }}">
              <div class="live__icon">
                {% if featuredEvent.get('status') === 'open' %}
                <span class="label">Live!</span>
                {% elseif featuredEvent.get('status') === 'pending' %}
                <span class="label">Up next!</span>
                {% else %}
                <span class="label">Closed</span>
                {% endif %}
              </div>
              <div class="live__event">
                {{ featuredEvent.get('title') }}
                <span class="live__theme">
                  {{ featuredEvent.get('display_theme') or '(Theme unknown)' }}
                </span>
              </div>
            </a>
          </li>
          {% endif %}

          <li class="{{ 'active' if path == '/events' }}"><a href="/events">Events</a></li>
          <li class="{{ 'active' if path == '/people' }}"><a href="/people">People</a></li>
          <li class="hidden-sm {{ 'active' if path == '/chat' }}"><a href="/chat">Chat</a></li>
          <li class="{{ 'active' if path == '/article/help' }}"><a href="/article/help">Help</a></li>
          {% if user %}
            <li class="visible-xs {{ 'active' if path == '/logout' }}"><a href="/logout">Logout</a></li>
            <li class="dropdown hidden-xs">
            {{ userMenu(user, unreadNotifications) }}
            </li>
          {% else %}
            <li class="nav-login"><a href="/login"><b>Login</b></a> or <a href="/register"><b>Register</b></a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    {# ==== Event header ==== #}
    {% if (event) %}
      <div class="event-header">
        <div class="container">
          <div class="event-header__info">
            <a href="{{ buildUrl(event, 'event') }}" class="event-header__name">
              {{ event.get('title') }}
            </a>
            <div class="event-header__dates">
              {{ event.get('display_dates') }}
              {% if isId(event.get('status_rules')) %}
                <a href="{{ buildUrl(event.get('status_rules'), 'post') }}">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a>
              {% endif %}
            </div>
          </div>
          <div class="event-header__links">
            {{ eventMacros.eventLinks(event, latestEventAnnouncement, path) }}
        </div>
      </div>
    </div>
    {% endif %}
  </nav>

  {% if user and (user.get('is_mod') or user.get('is_admin')) %}
    {{ adminMacros.moderationBar(context(), user.get('is_admin')) }}
  {% endif %}

  {% block body %}{% endblock %}

  <footer class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <a href="https://twitter.com/AlakajamBang" class="footer__link">
            <img src="/static/images/twitter.svg" class="footer__icon no-border" /> 
            <strong>@AlakajamBang</strong> on Twitter
          </a>
          <a href="/chat">
            <img src="/static/images/irc.svg" class="footer__icon no-border" /> 
            IRC channel <strong>#alakajam on irc.afternet.org</strong>
          </a>
          <a href="https://www.reddit.com/r/alakajam/" class="footer__link">
            <img src="/static/images/reddit.svg" class="footer__icon no-border" /> 
            <strong>r/alakajam</strong> on Reddit
          </a>
          <a href="https://www.youtube.com/channel/UCaIXjxJWGYQs7x_1d1OZi6Q/videos" class="footer__link">
            <img src="/static/images/youtube.svg" class="footer__icon no-border" /> 
            <strong>Alakajam!</strong> on YouTube
          </a>
          <a href="https://github.com/mkalam-alami/alakajam" class="footer__link">
            <img src="/static/images/github.svg" class="footer__icon no-border" /> 
            <strong>mkalam-alami/alakajam</strong> on Github
          </a>
          {% if devMode %}<center><span class="label label-default has-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Set `NODE_ENV=production` in production for security and performance" style="margin-left: 10px">Server launched in development mode</span></center>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
  <script src="{{ browserRefreshUrl }}"></script>
  <script type="text/javascript">
    // Tooltips
    $hasTooltips = $('.has-tooltip')
    $hasTooltips.each(function () {
      $this = $(this)
      $this.attr('data-delay', '{"show":"300", "hide":"0"}')
      $this.tooltip()
    })
    
    $('a.disabled').click(function (e) {
      e.preventDefault()
    })
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
