{% import "admin/_macros-admin.html" as adminMacros %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Alakajam!</title>
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootflat-custom.css" />
  {% block styles %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
</head>
<body {{ 'class=in-event' if event }}>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {# ==== Main header (mobile) ==== #}
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if path !== '/' %}
        <a class="navbar-brand" href="/"><img src="/static/images/logo.svg" /> Alakajam!</a>
        {% endif %}
      </div>
      
      {# ==== Main header (desktop) ==== #}
      {% if event and liveEvent and event.get('id') == liveEvent.get('id') %}
        {% set isLiveEvent = true %}
      {% endif %}
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          {% if liveEvent and path !== '/' %}
          <li class="live {{ 'active' if isLiveEvent }}">
            <a href="{{ buildUrl(liveEvent, 'event') }}">
              Live: <b>{{ liveEvent.get('title') }}</b><br />
              Theme: <b>{{ liveEvent.get('display_theme') }}</b>
            </a>
          </li>
          {% endif %}

          <li {{ 'class=active' if path == '/events' }}><a href="/events">Events</a></li>
          <li {{ 'class=active' if path == '/chat' }}><a href="/chat">Chat</a></li>

          {% if user %}
            <li class="dropdown">
              <div href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expafnded="false">
                <a href="{{ buildUrl(user, 'user', 'feed') }}" onclick="arguments[0].stopPropagation()">
                  {% if user.get('avatar') %}
                  <img src="{{ user.get('avatar') }}" class="navbar-avatar" />
                  {% else %}
                  <img src="/static/images/default-avatar.png" class="navbar-avatar" />
                  {% endif %}
                </a>
                <span class="navbar-profile hidden-sm">{{ user.get('title') }}</span> <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <li><a href="{{ buildUrl(user, 'user', 'feed') }}">Dashboard</a></li>
                <li><a href="{{ buildUrl(user, 'user') }}">Public profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-login"><a href="/login"><b>Login</b></a> or <a href="/register"><b>Register</b></a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    {# ==== Event header ==== #}
    {% if (event) %}
      <div class="event-header">
        <div class="container">
          <div class="event-header__info">
            <a href="{{ buildUrl(event, 'event') }}" class="event-header__name">
              {{ event.get('title') }}
            </a>
            <div class="event-header__dates">
              {{ event.get('display_dates') }}
            </div>
          </div>
          <div class="event-header__links">
            <!-- TODO Refactor using a macro -->
            {% if latestEventAnnouncement %}
              <a href="{{ buildUrl(event, 'event', 'announcements') }}" class="hidden-xs event-header__link {{ 'active' if path == buildUrl(event, 'event', 'announcements') }} event-header__announcement">
                <span class="glyphicon glyphicon-pushpin"></span> {{ latestEventAnnouncement.get('title')}}
                <span class="event-header__announcement-info">
                  Announcement • {{ latestEventAnnouncement.get('created_at') | relativeTime }}
                </span>
              </a><!--
              --><a href="{{ buildUrl(event, 'event', 'announcements') }}" class="hidden-sm hidden-md hidden-lg event-header__link {{ 'active' if path == buildUrl(event, 'event', 'announcements') }}">
                <span class="glyphicon glyphicon-pushpin"></span>
              </a><!--
            -->{% endif %}<!--
            --><a href="{{ buildUrl(event, 'event', 'posts') }}" class="event-header__link {{ 'active' if path == buildUrl(event, 'event', 'posts') }}">
              <span class="glyphicon glyphicon-globe"></span> <span class="event-header__link-label">Posts</span>
            </a><!--
            -->{% if event.get('status_theme') !== 'disabled' %}<a href="{{ buildUrl(event, 'event', 'themes') }}" class="event-header__link {{ 'active' if path == buildUrl(event, 'event', 'themes') }} {{ 'disabled' if event.get('status_theme') !== 'on' }}">
              <span class="glyphicon glyphicon-grain"></span> <span class="event-header__link-label">Theme</span>
            </a>{% endif %}<!--
            -->{% if event.get('status_entry') !== 'disabled' %}<a href="{{ buildUrl(event, 'event', 'games') }}" class="event-header__link {{ 'active' if path == buildUrl(event, 'event', 'games') }} {{ 'disabled' if event.get('status_entry') !== 'on' }}">
              <span class="glyphicon glyphicon-tower"></span> <span class="event-header__link-label">Games</span>
            </a>{% endif %}<!--
            -->{% if event.get('status_results') !== 'disabled' %}<a href="{{ buildUrl(event, 'event', 'results') }}" class="event-header__link {{ 'active' if path == buildUrl(event, 'event', 'results') }} {{ 'disabled' if event.get('status_results') !== 'on' }}">
              <span class="glyphicon glyphicon-th-list"></span> <span class="event-header__link-label">Results</span>
            </a>{% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </nav>

  {% if path == '/' %}
    <div class="home-bar">
      <div class="home-brand">
        <img class="home-brand__logo" src="/static/images/logo.svg" />
        <span class="home-brand__name">Alakajam!</span>
      </div>
    </div>
  {% endif %}

  {% if user and (user.get('is_mod') or user.get('is_admin')) %}
    {{ adminMacros.moderationBar(context(), user.get('is_admin')) }}
  {% endif %}

  {% block body %}{% endblock %}

  <footer class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          {% if devMode %}<span class="label label-default has-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Set `NODE_ENV=production` in production for security and performance">Server launched in development mode</span>
          {% endif %}
          <a href="https://github.com/mkalam-alami/wejam">Alakajam! on Github</a>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{{ browserRefreshUrl }}"></script>
  <script type="text/javascript">
    $hasTooltips = $('.has-tooltip')
    $hasTooltips.each(function () {
      $this = $(this)
      $this.attr('data-delay', '{"show":"300", "hide":"0"}')
      $this.tooltip()
    })
    
    $('a.disabled').click(function (e) {
      e.preventDefault()
    })
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
