{% extends "_page.html" %}

{% block body %}

<h1>{{ entry.get('title') }}</h1>

<div class="container">
  <div class="row entry">
    <div class="col-md-4">
      {% if entry.has('picture') %}
      <img src="{{ entry.get('picture') }}" style="width: 100%" />
      {% else %}
      <img src="/static/images/test.png" style="width: 100%" />
      {% endif %}
    </div>
    <div class="col-md-8 panel">
      <p>{{ entry.get('description') }}</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    {% if entry.get('link') %}
    <a class="btn btn-primary" href="{{ entry.get('link') }}">Play this game</a>
    {% endif %}
    <a class="btn btn-default" href="/entry/{{ entry.get('id') }}/edit">Edit entry</a>
  </div>
</div>

{% endblock %}