{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <h1>Events <span class="count">({{ open.length + pending.length + closed.length }})</span></h1>
      {% if open.length > 0 %}
      <div class="events-block events-block__live">
        <h3>On now!</h3>
        {% for event in open %}
          {{ eventTable(event, featuredEntries[event.get('id')]) }}
        {% endfor %}
      </div>
      {% endif %}
      
      {% if pending.length > 0 %}
      <div class="events-block events-block__pending">
        <h3>Upcoming events</h3>
        {% for event in pending %}
          {{ eventTable(event, featuredEntries[event.get('id')]) }}
        {% endfor %}
      </div>
      {% endif %}

      {% if closed.length > 0 %}
      <div class="events-block events-block__closed">
        <h3>Past events</h3>
        {% for event in closed %}
          {{ eventTable(event, featuredEntries[event.get('id')]) }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}


{% macro eventTable(event, featuredEntries) %}

{{ eventMacros.eventTable(event, { neutralStatus: true }) }}
{% if featuredEntries.solo or featuredEntries.ranked %}
<div class="events-block__entries">
  <div class="row">
    <div class="col-sm-6">
    {% for entry in (featuredEntries.solo or featuredEntries.ranked) %}
      <div class="events-block__entry">
        {{ eventMacros.entrySmallThumb(entry) }}
        <span class="entry-results__category-medal medal{{ loop.index }}"></span>
      </div>
    {% endfor %}
    </div>
    <div class="col-sm-6">
    {% for entry in featuredEntries.team %}
      <div class="events-block__entry">
        {{ eventMacros.entrySmallThumb(entry) }}
        <span class="entry-results__category-medal medal{{ loop.index }}"></span>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% endmacro %}