{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <h1>Events <span class="count">({{ open.length + pending.length + closed.length }})</span></h1>
      {% if open.length > 0 %}
      <div class="events-block events-block__live">
        <h3>On now!</h3>
        {% for event in open %}
          {{ eventMacros.eventTable(event, { neutralStatus: true, entryCount: entryCounts[event.get('id')] }) }}
        {% endfor %}
      </div>
      {% endif %}
      
      {% if pending.length > 0 %}
      <div class="events-block events-block__pending">
        <h3>Upcoming events</h3>
        {% for event in pending %}
          {{ eventMacros.eventTable(event, { neutralStatus: true, entryCount: entryCounts[event.get('id')] }) }}
        {% endfor %}
      </div>
      {% endif %}

      {% if closed.length > 0 %}
      <div class="events-block events-block__closed">
        <h3>Past events</h3>
        {% for event in closed %}
          {{ eventMacros.eventTable(event, { neutralStatus: true, entryCount: entryCounts[event.get('id')] }) }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}