{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "_macros-form.html" as formMacros %}

{% block styles %}
<link rel="stylesheet" href="/static/css/select2.min.css" />
<link rel="stylesheet" href="/static/css/select2-bootstrap.min.css" />
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="list-group">
        <div class="list-group-item">
          <h4 style="margin: 0">Search filters</h4>
        </div>
        <form method="get" class="list-group-item">
          <div class="form-group">
            <label for="search">Title search</label>
            <input name="search" type="text" class="form-control" value="{{ searchOptions.search }}" />
          </div>
          <div class="form-group">
            <label for="search">Platforms</label>
            <select id="js-platforms" name="platforms" class="form-control" multiple="multiple">
              {% for platform in constants.ENTRIES_LINKS_TYPES %}
                <option value="{{ platform }}" {{ 'selected' if searchOptions.platforms and searchOptions.platforms.includes(platform) }}>{{ platform }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="search">Event</label>
            <select id="js-event" name="eventId" class="form-control">
              <option value="" {{ 'selected' if not searchOptions.eventId }}></option>
              {% for event in events %}
                <option value="{{ event.get('id') }}" {{ 'selected' if event.get('id') == searchOptions.eventId }}>{{ event.get('title') }}</option>
              {% endfor %}
              <option value="null" {{ 'selected' if searchOptions.eventId === 'null' }}>(External events)</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Apply" />
            <a href="/games" class="btn btn-default">Clear</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <h1>Games
        {% if searchOptions.search or searchOptions.eventId %}
          <div class="count" style="font-size: 1rem"><!-- TODO rename CSS class to "legend" -->
            {{ 'in ' + searchedEvent.get('title') if searchedEvent }}
            {{ ('on platform' + ('s' if searchOptions.platforms.length > 1) +' "' + searchOptions.platforms + '"') if searchOptions.platforms }}
            {{ 'matching "' + searchOptions.search + '"' if searchOptions.search }}
          </div>
        {% endif %}
      </h1>
      <div class="row">
      {% for entry in entries %}
        <div class="col-sm-6 col-md-4">
          {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/select2.min.js"></script>
<script type="text/javascript">
$('#js-event').select2({
  allowClear: true
})
$('#js-platforms').select2()
</script>
{% endblock %}