{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "_macros-form.html" as formMacros %}
{% import "_macros-games-search.html" as gamesSearchMacros %}

{% block styles %}
{{ gamesSearchMacros.searchFormStyles() }}
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3">
       {{ gamesSearchMacros.searchForm(context()) }}
       
       <div class="hidden-xs">
         <h3>Adding games</h3>
         <p>Users can submit entries made during any game jam. You can add your own 
            <a href="{{ buildUrl(user, 'user', 'entries') }}">from your Dashboard</a>.
         </p>
       </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <h1>
        Games <span class="count">({{ entryCount }})</span>
        {{ gamesSearchMacros.searchDescription(searchOptions, searchedEvent) }}
      </h1>
      
      {% if rescueEntries.length > 0 %}
      <div class="entries-rescue">
        <h3>Rescue these games by rating them!</h3>
        <div class="row">
          {% for entry in rescueEntries %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            {{ eventMacros.entryThumb(entry) }}
            <div class="entry-thumb__score">
              <span class="pull-right">{{ requiredVotes - entry.related('details').get('rating_count') }}</span>
              Missing votes
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {{ formMacros.pagination(searchOptions.currentPage, pageCount, path) }}
      
      <div class="row">
      {% for entry in entries %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
        </div>
      {% endfor %}
      </div>
      
      {{ formMacros.pagination(searchOptions.currentPage, pageCount, path) }}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ gamesSearchMacros.searchFormScripts() }}
{% endblock %}