{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "_macros-form.html" as formMacros %}
{% import "_macros-games-search.html" as gamesSearchMacros %}

{% block styles %}
{{ gamesSearchMacros.searchFormStyles() }}
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3">
       {{ gamesSearchMacros.searchForm(context()) }}
    </div>
    <div class="col-sm-8 col-md-9">
      <h1>
        Games
        {{ gamesSearchMacros.searchDescription(searchOptions, searchedEvent) }}
      </h1>
      <div class="row">
      {% for entry in entries %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ gamesSearchMacros.searchFormScripts() }}
{% endblock %}