
{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "post/_macros-post.html" as postMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    {% if not user %}
    <div class="home-welcome">
      <img class="home-welcome__icon" src="/static/images/welcome.png" />
      <div class="home-welcome__title">New website unlocked</div>
       Welcome to <div class="home-welcome__brand">Alakajam!</div>, a game development community. We host informal game jams!
       <a class="home-welcome__more" href="/article/docs">Learn&nbsp;more</a>
    </div>
    {% endif %}

    {% if featuredPost %}
    <div class="col-lg-offset-1 col-lg-10">
      {{ postMacros.post(featuredPost, user) }}
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-9">
      {% if featuredEvent %}
      <div class="home-jumbo {{ featuredEvent.get('status') }}">
        <div class="event-table">
          <a href="{{ buildUrl(featuredEvent, 'event') }}" class="event-table__title">
            {{ featuredEvent.get('title') }}
            <div class="event-table__dates">
              {{ featuredEvent.get('display_dates') or '(dates unknown)' }}
            </div>
          </a>
          {% if isId(featuredEvent.get('status_rules')) %}
          <div class="home-jumbo__rules">
            <a href="{{ buildUrl(featuredEvent.get('status_rules'), 'post') }}" class="btn btn-default hidden-xs">
              <span class="glyphicon glyphicon-info-sign"></span> Welcome/Rules
            </a>
          </div>
          {% endif %}
          {% if featuredEvent.get('display_theme') %}
          <div class="event-table__theme">
            <span class="event-table__theme-label">Theme</span>
            {{ featuredEvent.get('display_theme') }}
          </div>
          {% endif %}
        </div>
        
        {% set rawHypeLink = featuredEvent.get('countdown_config').link %}
        {% if rawHypeLink %}
          {% set hypeLink = rawHypeLink if rawHypeLink.indexOf('/') !== -1 else buildUrl(featuredEvent, 'event', rawHypeLink) %}
          <a class="home-jumbo__call" href="{{ hypeLink }}">
            <div class="row">
              <div class="col-md-6">
                <h2>{{ featuredEvent.get('countdown_config').message }}</h2>
                {% if featuredEvent.get('countdown_config').phrase %}
                  <span class="glyphicon glyphicon-calendar"></span> {{ featuredEvent.get('countdown_config').phrase }} {{ featuredEvent.get('countdown_config').date | featuredEventDateTime }}
                {% endif %}
              </div>
              <div class="col-md-6">
                <span class="home-jumbo__countdown js-countdown"></span>
              </div>
            </div>
          </a>
        {% elseif featuredEvent.get('countdown_config').phrase %}
          <div class="home-jumbo__details">
            <div class="row">
              <div class="col-md-6">
                {% if featuredEvent.get('countdown_config').phrase %}
                  <span class="glyphicon glyphicon-calendar"></span> {{ featuredEvent.get('countdown_config').phrase }} {{ featuredEvent.get('countdown_config').date | featuredEventDateTime }}
                {% endif %}
              </div>
              <div class="col-md-6">
                <span class="home-jumbo__countdown js-countdown"></span>
              </div>
            </div>
          </div>
        {% endif %}

        {% if user %}
        <div class="row home-jumbo__shortcuts">
          <div class="col-sm-6">
            {{ eventMacros.eventShortcutMyEntry(user, featuredEvent, userEntry) }}
          </div>
          <div class="col-sm-6">
            {{ eventMacros.eventShortcutMyPost(user, featuredEvent, userPost) }}
          </div>
        </div>
        {% endif %}
      </div>

      <div class="home-jumbo__contents">
        {% if featuredEventAnnouncement %}
          <div class="home-jumbo__announcement expandable">
            {{ postMacros.post(featuredEventAnnouncement, user, { hideDate: true }) }}
            {{ formMacros.expandCollapse({ manualScripting: true }) }}
          </div>
          <script type="text/javascript">
            // Custom announcement height limit and expand/collapse button
            // Script inlined for fast loading
            var maxAnnouncementHeight = 350
            var announcementEl = findByClass('home-jumbo__announcement')
            if (announcementEl.offsetHeight > maxAnnouncementHeight + 50) {
              announcementEl.setAttribute('style', 'max-height: ' + maxAnnouncementHeight + 'px')
              var expandBarEl = findByClass('expand-bar', 'home-jumbo__announcement')
              expandBarEl.setAttribute('style', 'display: block')
              expandBarEl.onclick = function (e) {
                if (announcementEl.className.indexOf('expanded') !== -1) {
                  announcementEl.className = announcementEl.className.replace(' expanded', '')
                } else {
                  announcementEl.className += ' expanded'
                }
                e.preventDefault()
                return false
              }
            } else {
              findByClass('expand-bar', 'home-jumbo__announcement').remove()
            }
            
            function findByClass(className, parentClassName) {
              var parent = parentClassName ? findByClass(parentClassName) : document
              var elements = parent.getElementsByClassName(className)
              return (elements.length > 0) ? elements[0] : null
            }
          </script>
        {% endif %}
      </div>
      {% endif %}

      {% if not featuredEvent and not featuredPost %}
        <h1 class="text-center">Next event not announced yet.</h1>
      {% endif %}
    </div>
    <div class="col-md-3 visible-md visible-lg">
      <div class="horizontal-bar" style="margin-top: 0px; margin-bottom: 10px">
        <span class="fa fa-calendar"></span>
        Event calendar
      </div>

      <p>
        <a class="home-scheduled-event__title" style="font-size: 0.9rem" href="/events">
          Browse all events
        </a>
      </p>
      {% for event in eventSchedule %}
        {% set mainEvent = event.get('title').includes('Alakajam') %}
        <div class="home-scheduled-event {{ 'featured' if featuredEvent and featuredEvent.get('id') === event.get('id') }} {{ 'main' if mainEvent }}">
          <div class="home-scheduled-event__arrow"></div>
          <a class="home-scheduled-event__title" href="{{ buildUrl(event, 'event', 'results' if event.get('status_results') === 'results') }}">
            {% if mainEvent %}
              <img src="/static/images/favicon16.png" class="home-scheduled-event__logo" />
            {% endif %}
            {{ event.get('title') }}
          </a>
          <div class="home-scheduled-event__dates">
            {{ event.get('display_dates') }} 
            {% if event.get('status') === 'closed' %}
              - <a href="{{ buildUrl(event, 'event') }}">{{ event.get('entry_count') }} games</a>
            {% endif %}
          </div>
          <div class="home-scheduled-event__label">
            {% if event.get('status') === 'open' %}
              <span class="label label-danger">On now!</span>
            {% elseif event.get('status') === 'pending' %}
              <span class="label label-default">Up next!</span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      
      <div class="home-jumbo__social">
        {{ socialLink('Twitter', 'https://twitter.com/AlakajamBang', 'twitter.svg') }}
        {{ socialLink('IRC', '/chat', 'irc.svg') }}
        {{ socialLink('Twitch', 'https://www.twitch.tv/communities/alakajam', 'twitch.png') }}
        {{ socialLink('Reddit', 'https://www.reddit.com/r/alakajam', 'reddit.svg') }}
        {{ socialLink('YouTube', 'https://www.youtube.com/channel/UCaIXjxJWGYQs7x_1d1OZi6Q/videos', 'youtube.svg') }}
        {{ socialLink('Github', 'https://github.com/alakajam-team', 'github.svg') }}
      </div>
    </div>
  </div>

  {% if featuredLinks %}
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="home-featured-links">
        {% for featuredLink in featuredLinks %}
          <a class="panel home-featured-link" href="{{ featuredLink.link }}">
            <span class="fa {{ featuredLink.icon }}"></span>
            <span class="home-featured-link__title">{{ featuredLink.title }}</span>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  
  {% if suggestedEntries and suggestedEntries.length > 0 %}
  <div class="row">
    <div class="col-xs-12">
      <div class="horizontal-bar">
        Suggested entries to rate {{ formMacros.tooltip('Rate and comment other games to increase your Feedback Score. The Top 4 are featured on the front page!') }}
      </div>
      <div class="row">
      {% for entry in suggestedEntries %}
        <div class="home-entry col-sm-4 col-md-3">
        {{ eventMacros.entryThumb(entry) }}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  {% endif %}
    
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      {% if posts.length > 0 %}
        <div class="horizontal-bar">Latest posts</div>
        {% for post in posts %}
          <div class="expandable">
            {{ postMacros.post(post, user) }}
            {{ formMacros.expandCollapse() }}
          </div>
        {% endfor %}
        
        {{ formMacros.pagination(1, pageCount, '/posts') }}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}


{% macro jumboLink (event, statusField, targetPath, label, icon, closedValues = [], options = {}) %}
{% if not statusField or event.get(statusField) !== 'disabled' %}
  <a href="{{ targetPath if options.absoluteUrl else buildUrl(event, 'event', targetPath) }}" 
      class="home-jumbo__link {{ 'disabled' if statusField and closedValues.includes(event.get(statusField)) else 'active' }}">
    <div class="panel home-jumbo__link-border">
      <span class="glyphicon glyphicon-{{ icon }}"></span> 
      <span class="home-jumbo__link-label">{{ label }}{% if options.count %}<span class="count"> ({{ options.count }})</span>{% endif %}</span>
    </div>
  </a>
{% endif %}
{% endmacro %}


{% macro socialLink (title, url, iconName) %}
  <a href="{{ url }}" class="footer__link has-tooltip" data-toggle="tooltip" data-original-title="{{ title }}">
    <img src="/static/images/social/{{ iconName }}" class="footer__icon no-border" /> 
  </a>
{% endmacro %}


{% block scripts %}
{{ formMacros.expandCollapseScripts() }}

{% if featuredEvent %}
  {% set countdownEvent = featuredEvent %}
{% endif %}

{% if countdownEvent and countdownEvent.get('countdown_config').enabled %}
  <script type="text/javascript" src="/static/js/flipclock.min.js"></script>
  <script type="text/javascript">
    alakajam.countdown('.js-countdown', {{ countdownEvent.get('countdown_config').date | jsonInsideScriptTag }});
  </script>
{% endif %}

{% endblock %}

