{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "post/_macros-post.html" as postMacros %}

{% block styles %}
<link rel="stylesheet" href="/static/css/flipclock-custom.css" />
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">

    <div class="col-lg-offset-1 col-lg-10">
      {% if liveEvent %}
  
        <h1 class="text-center"><a href="{{ buildUrl(liveEvent, 'event') }}">{{ liveEvent.get('title') }}</a> ends in</h1>
        <div class="home-countdown"></div>

        {{ eventMacros.eventTable(liveEvent, false, 6, { latestEventAnnouncement: announcement, path: path }) }}
      {% elseif nextEvents and nextEvents.length > 0 %}
        {% for nextEvent in nextEvents %}
          {{ eventMacros.eventTable(nextEvent, false, 6, { latestEventAnnouncement: announcement, path: path }) }}
        {% endfor %}
      {% else %}
        <div class="well">No upcoming event.</div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 home-announcement">
      {% if announcement %}
        {{ postMacros.post(announcement, user) }}
        <a href="/announcements" class="btn btn-sm btn-default pull-right">Browse announcements <span class="glyphicon glyphicon-chevron-right"></span></a>
      {% else %}
        <div class="well">No announcements yet!</div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/flipclock.min.js"></script>
<script type="text/javascript">
// TODO Actual countdown
$('.home-countdown').FlipClock(100000, { 
  clockFace: 'DailyCounter',
  countdown: true
});
</script>
{% endblock %}