
{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "post/_macros-post.html" as postMacros %}
{% import "user/_macros-user.html" as userMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

{% set featuredEventBanner = featuredEvent.related('details').get('banner') if featuredEvent %}
{{ eventMacros.eventBanner(featuredEvent) if featuredEventBanner }}

<div class="container {{ 'event-banner-offset' if featuredEventBanner }}">
  <div class="row">
    {% if not user %}
    <div class="home-welcome">
      <img class="home-welcome__icon" src="/static/images/welcome.png" />
      <div class="home-welcome__title">New website unlocked</div>
       Welcome to <div class="home-welcome__brand">Alakajam!</div>, a game making community. We host informal game jams!
       <a class="home-welcome__more" href="/article/docs">Learn&nbsp;more</a>
    </div>
    {% endif %}

    {% if featuredPost %}
    <div class="col-lg-offset-1 col-lg-10">
      {{ postMacros.post(featuredPost, user) }}
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-9">
      {% if featuredEvent %}
        {{ eventMacros.eventJumbo(featuredEvent, user, userEntry) }}

        <div class="home-jumbo__contents {{ 'event-banner-panel' if featuredEventBanner }}">
        {% if featuredEventAnnouncement %}
          <div class="home-jumbo__announcement expandable">
            {{ postMacros.post(featuredEventAnnouncement, user, { hideDate: true }) }}
            {{ formMacros.expandCollapse({ manualScripting: true }) }}
          </div>
          <script type="text/javascript">
            // Custom announcement height limit and expand/collapse button
            // Script inlined for fast loading
            var maxAnnouncementHeight = 265
            var announcementEl = findByClass('home-jumbo__announcement')
            if (announcementEl.offsetHeight > maxAnnouncementHeight + 50) {
              announcementEl.setAttribute('style', 'max-height: ' + maxAnnouncementHeight + 'px')
              var expandBarEl = findByClass('expand-bar', 'home-jumbo__announcement')
              expandBarEl.setAttribute('style', 'display: block')
              expandBarEl.onclick = function (e) {
                if (announcementEl.className.indexOf('expanded') !== -1) {
                  announcementEl.className = announcementEl.className.replace(' expanded', '')
                } else {
                  announcementEl.className += ' expanded'
                }
                e.preventDefault()
                return false
              }
            } else {
              findByClass('expand-bar', 'home-jumbo__announcement').remove()
            }
            
            function findByClass(className, parentClassName) {
              var parent = parentClassName ? findByClass(parentClassName) : document
              var elements = parent.getElementsByClassName(className)
              return (elements.length > 0) ? elements[0] : null
            }
          </script>
        {% endif %}

        <!-- XXX Hard-coded temporary DanaePlays stream -->
        {% set shortlistEliminationInfo = featuredEvent.related('details').get('shortlist_elimination') %}
        {% if shortlistEliminationInfo.delay %}
        <div style="margin-bottom: 20px; box-shadow: 2px 2px 2px #DDD">
          <div id="twitch-embed"></div>
        </div>
        <script src="https://embed.twitch.tv/embed/v1.js"></script>
        <script type="text/javascript">
          new Twitch.Embed("twitch-embed", {
            width: '100%',
            height: 400,
            channel: "DanaePlays"
          });
        </script>
        {% endif %}
      </div>
      {% endif %}

      {% if not featuredEvent and not featuredPost %}
        <h1 class="text-center">Next event not announced yet.</h1>
      {% endif %}
    </div>
    
    <div class="col-md-3 {{ 'event-banner-panel' if featuredEventBanner }}">
      {% set featuredLinks = featuredEvent.related('details').get('links') %}
      {% if featuredLinks and featuredLinks.length > 0 %}
        <div class="home-featured-links">
          <div class="horizontal-bar" style="margin-top: 10px; margin-bottom: 10px">
            <span class="fa fa-info-circle"></span>
            Special pages
          </div>
        {% for featuredLink in featuredLinks %}
          <a class="home-featured-link" href="{{ featuredLink.link }}">
            <span class="fa {{ featuredLink.icon }}"></span>
            <span class="home-featured-link__title">{{ featuredLink.title }}</span>
          </a>
        {% endfor %}
        </div>
      {% endif %}

      <div class="home-scheduled-events visible-md visible-lg">
        <div class="horizontal-bar" style="margin-top: 10px; margin-bottom: 10px">
          <span class="fa fa-calendar"></span>
          Event calendar
        </div>

        {% set compactCalendar = featuredLinks and featuredLinks.length > 0 %}
        {% for event in eventSchedule %}
          {{ featuredLink(event, featuredEvent) if not compactCalendar or event.get('status') !== 'closed' }}
        {% endfor %}
        <div class="home-scheduled-event">
          <a class="home-scheduled-event__title" href="/events">More...</a>
        </div>
      </div>

      <div class="horizontal-bar" style="margin-top: 10px; margin-bottom: 10px">
        <span class="fa fa-angle-right"></span>
        Follow Alakajam!
      </div>
      <div class="home-jumbo__social">
        {{ socialLink('Twitter', 'https://twitter.com/AlakajamBang', 'twitter.svg') }}
        {{ socialLink('Reddit', 'https://www.reddit.com/r/alakajam', 'reddit.svg') }}
        {{ socialLink('IRC', '/chat', 'irc.svg') }}
        {{ socialLink('Twitch', 'https://www.twitch.tv/communities/alakajam', 'twitch.png') }}
        {{ socialLink('YouTube', 'https://www.youtube.com/channel/UCaIXjxJWGYQs7x_1d1OZi6Q/videos', 'youtube.svg') }}
        {{ socialLink('Github', 'https://github.com/alakajam-team', 'github.svg') }}
      </div>
    </div>
  </div>
  
  {% if suggestedEntries and suggestedEntries.length > 0 %}
  <div class="row">
    <div class="col-xs-12">
      <div class="horizontal-bar">
        Suggested entries to rate {{ formMacros.tooltip('Rate and comment other games to increase your karma. The Top 4 are featured on the front page!') }}
      </div>
      <div class="row">
      {% for entry in suggestedEntries %}
        <div class="home-entry col-sm-4 col-md-3">
        {{ eventMacros.entryThumb(entry) }}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
    
  {% if posts.length > 0 %}
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div class="horizontal-bar">Latest posts</div>

        {{ eventMacros.eventShortcutMyPost(user, featuredEvent, userPost) if user and featuredEvent }}
        <div class="spacing"></div>

        {% for post in posts %}
          <div class="expandable">
            {{ postMacros.post(post, user) }}
            {{ formMacros.expandCollapse() }}
          </div>
        {% endfor %}
        {{ formMacros.pagination(1, pageCount, '/posts') }}
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

{% macro featuredLink (event, featuredEvent) %}
  {% set mainEvent = event.get('title').includes('Alakajam') %}
  <div class="home-scheduled-event {{ 'featured' if featuredEvent and featuredEvent.get('id') === event.get('id') }} {{ 'main' if mainEvent }}">
    <div class="home-scheduled-event__arrow"></div>
    <a class="home-scheduled-event__title" href="{{ buildUrl(event, 'event', 'results' if event.get('status_results') === 'results') }}">
      {% if mainEvent %}
        <img src="/static/images/favicon16.png" class="home-scheduled-event__logo no-border" />
      {% endif %}
      {{ event.get('title') }}
    </a>
    <div class="home-scheduled-event__dates">
      {{ event.get('display_dates') }} 
      {% if event.get('status') === 'closed' %}
        - <a href="{{ buildUrl(event, 'event') }}">{{ event.get('entry_count') }} games</a>
      {% endif %}
    </div>
    <div class="home-scheduled-event__label">
      {% if event.get('status') === 'open' %}
        <span class="label label-danger">On now!</span>
      {% elseif event.get('status') === 'pending' %}
        <span class="label label-default">Up next!</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro socialLink (title, url, iconName) %}
  <a href="{{ url }}" class="footer__link has-tooltip" data-toggle="tooltip" data-original-title="{{ title }}">
    <img src="/static/images/social/{{ iconName }}" class="footer__icon no-border" /> 
  </a>
{% endmacro %}
