{% extends "_page.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel {{ 'panel-warning' if errorMessage }} {{ 'panel-info' if infoMessage }} login">

        {% if errorMessage %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ errorMessage }}</h3>
        </div>
        {% endif %}

        <div class="well">
          {% if not success and token %}
            <h1>Password recovery</h1>

            <form method="post" action="{{ path }}">
              <div class="form-group">
                <label for="new-password">New password</label>
                <input type="password" class="form-control" name="new-password" required="required" />
              </div>
              <div class="form-group">
                <label for="new-password-bis">Repeat password</label>
                <input type="password" class="form-control" name="new-password-bis" required="required" />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          {% elseif success %}
            <p>Your password has been successfully changed!</p>
            <p><a href="/login" class="btn btn-primary">Login</a></p>
          {% else %}
            <p>This token is not or no longer valid. You can ask for a new one by following the link below.</p>
            <p><a href="/passwordRecoveryRequest" class="btn btn-primary">Password recovery</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}