{% extends "_page.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel {{ 'panel-warning' if errorMessage }} {{ 'panel-info' if infoMessage }} login">

        {% if errorMessage %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ errorMessage }}</h3>
        </div>
        {% endif %}

        <div class="well">
          {% if not success %}
              <h1>Password recovery request</h1>

              <p>Please fill the email address you used to register.</p>

              <form method="post" action="{{ path }}">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" required="required" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          {% else %}
            <p><strong>Request successful!</strong> You should soon receive an email with a password recovery link.</p>
            <p>If you have issues finding the email, check your spam folder. Still out of luck? Please <a href="/article/docs">contact an administrator</a>.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}