{% extends "_page.html" %}
{% import "user/_macros-user.html" as userMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div class="list-group">
        <div class="list-group-item">
          <h4 style="margin: 0">Search filters</h4>
        </div>
        <form method="get" class="list-group-item">
          <div class="form-group">
            <label for="search">Name search</label>
            <input type="text" name="search" value="{{ searchOptions.search }}" class="form-control" />
          </div>
          <div class="form-group">
            <label for="search">Joined event</label>
            <select id="js-event" name="eventId" class="form-control">
              <option value="" {{ 'selected' if not searchOptions.eventId }}></option>
              {% for event in events %}
                <option value="{{ event.get('id') }}" {{ 'selected' if event.get('id') == searchOptions.eventId }}>{{ event.get('title') }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Apply" />
            <a href="?" class="btn btn-default">Clear</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <h1>People <span class="count">({{ userCount }})</h1>
      {% if searchOptions.search or searchOptions.eventId !== undefined %}
        <div class="count" style="font-size: 1rem; margin-top: -15px; margin-bottom: 20px"><!-- TODO rename CSS class to "legend" -->
          {{ 'who joined ' + searchedEvent.get('title') if searchedEvent }}
          {{ 'matching "' + searchOptions.search + '"' if searchOptions.search }}
        </div>
      {% endif %}
      
      {{ formMacros.pagination(currentPage, pageCount, path) }}
      
      <div class="row user-thumbs">
        {% for someUser in users %}
          {{ userMacros.userThumb(someUser) }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/select2.full.min.js"></script>
<script type="text/javascript">
// TODO move script into a separate file (#21)
$('#js-event').select2({
  placeholder: "",
  allowClear: true
})
</script>
{% endblock %}
