{% extends "_page.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <h2>{{ title }}</h2>
      
      {{ formMacros.pagination(currentPage, pageCount, paginationBaseUrl) }}
      
      {% for post in posts %}
        <div class="expandable">
          {{ postMacros.post(post, user, { allowMods: true }) }}
          {{ formMacros.expandCollapse() }}
        </div>
      {% endfor %}
      {% if posts.length === 0 %}
        <div class="well">
          No posts yet.
        </div>
      {% endif %}
      
      {{ formMacros.pagination(currentPage, pageCount, paginationBaseUrl) }}

  </div>
</div>

{% endblock %}

{% block scripts %}
{{ formMacros.expandCollapseScripts() }}
{% endblock %}