{% extends "_page.html" %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel {{ 'panel-warning' if errorMessage }} {{ 'panel-info' if infoMessage }} login">

        {% if infoMessage or errorMessage %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ infoMessage or errorMessage }}</h3>
        </div>
        {% endif %}

        <div class="well">
          <h1>Register</h1>

          <form method="post" action="/register">
            <div class="form-group">
              <label for="username">Email address {{ formMacros.tooltip('Only used for password recovery or other exceptional circumstances. Any upcoming feature involving emails will be opt-in.', { placement: 'right' }) }}</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required="required" />
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ name }}" required="required" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required="required" />
            </div>
            <div class="form-group">
              <label for="password-bis">Repeat password</label>
              <input type="password" class="form-control" id="password-bis" name="password-bis" required="required" />
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember-me"> Remember me
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}