{% extends "base.html" %}
{% import "event/event.macros.html" as eventMacros with context %}
{% import "event/tournament/tournament.macros.html" as tournamentMacros with context %}
{% import "entry/highscore/entry-highscore.macros.html" as scoreMacros with context %}
{% import "macros/form.macros.html" as formMacros with context %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Tournament games <span class="count">({{ entries.length }})</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if ['closed', 'results'].includes(event.get('status_tournament')) %}
        <p class="featured"><b>Note:</b> This tournament is closed. New high scores will appear here, but will no longer impact the tournament points and rankings.</p>
      {% endif %}
    </div>
  </div>
  <div class="row d-flex flex-nowrap px-3">
    <div class="d-none d-lg-block pr-4" style="max-width: 400px">
      {% if user and canEnterTournament %}
      <div class="action-banner">
        <div class="action-banner__title">
          Your ranking
          <a href="{{ routeUrl(event, 'event', 'tournament-leaderboard') }}" class="btn btn-sm btn-primary">View leaderboard</a>
        </div>
        <div class="card">
          {{ tournamentMacros.userRanking(user, event, eventParticipation, tournamentScore) }}
        </div>
      </div>
      {% elseif event.related('details').get('flags').streamerOnlyTournament %}
        <div class="action-banner">
          <div class="action-banner__title">
            <span class="fa fa-tv"></span> Streamer-only tournament
          </div>
          <div class="card-body">
            <p>Only users who are registered <a href="{{ routeUrl(event, 'event', 'streamers') }}">as streamers</a> are eligible to tournament points!</p>
            <p>You are welcome to play the games and compete with the streamers but you will not appeared on the leaderboard if you are not registered as a streamer.</p>
          </div>
        </div>
      {% endif %}

      <h2>Recent scores</h2>
      {% for entryScore in activeEntries %}
        {{ scoreMacros.highScoreThumb(entryScore) }}
      {% endfor %}
    </div>
    <div class="flex-grow-1">
      <div class="game-grid tournament {{ 'line-of-3-entries' if entries.length === 6 }} tournament">
        {% for entry in entries %}
        <div class="game-grid-entry">
          {{ eventMacros.entryThumb(entry) }}
          <div class="entry-thumb__form">
            {{ scoreMacros.highScoresLinks(entry, user, path) }}
          </div>
          <div style="display: flex">
          {{ scoreMacros.highScores(entry, highScoresMap[entry.get('id')], userScoresMap[entry.get('id')], { streamerBadges: streamerBadges }) }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ scoreMacros.pointsDistributionLegend(constants.TOURNAMENT_POINTS_DISTRIBUTION) }}
    </div>
  </div>
</div>

{% endblock %}
