{% extends "user/_page-dashboard.html" %}

{% block dashboardBody %}

<h1>Change password</h1>

<div class="row">
  <div class="col-lg-6">
  
    <form action="{{ buildUrl(dashboardUser, 'user', 'password', { dashboardAdminMode: dashboardAdminMode }) }}" method="post">
      {{ csrfToken() | safe }}

      <div class="form-group">
        <label for="password">Current password</label>
        {% if not dashboardAdminMode %}
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        {% else %}
          <input type="password" class="form-control" placeholder="Admin mode enabled" disabled="disabled" />
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" class="form-control" id="new-password" name="new-password" placeholder="Password">
      </div>

      <div class="form-group">
        <label for="password-bis">Repeat new password</label>
        <input type="password" class="form-control" id="new-password-bis" name="new-password-bis" placeholder="Password">
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" name="action-password" value="Change password" />
      </div>
    </form>

  </div>
</div>

{% endblock %}