{% import "_macros-form.html" as formMacros %}
{% import "event/_macros-event.html" as eventMacros %}

{# Allowed options: hideHeading hideBody hideDetails hideSpecialLabels showId showComments allowMods #}
{% macro post(post, readingUser, options = {}) %}

<div class="post">

  {% set author = post.related('author') %}
  {% set postUrl = buildUrl(post, 'post') %}

  {% if not options.hideHeading %}
    {% set h = 'h3' if options.hideBody or options.hideDetails else 'h1' %}
    <{{h}}>
      <a class="post__heading" href="{{ buildUrl(post, 'post') }}">
        <div class="row">
          <div class="{{ 'col-xs-10 col-sm-8 col-md-9' if not options.hideSpecialLabels and post.get('special_post_type') else 'col-xs-12' }}">
            {{ post.get('title') }}
            {% if canUserWrite(readingUser, post, options) %}
              <a class="btn btn-default btn-sm" href="{{ buildUrl(post, 'post', 'edit') }}">Edit</a>
            {% endif %}
            {% if options.showId %}
              <span style="font-family: monospace; font-size: 1rem">ID={{ post.get('id') }}</span>
            {% endif %}
          </div>
          {% if not options.hideSpecialLabels and post.get('special_post_type') %}
          <div class="col-xs-2 col-sm-4 col-md-3">
            <div class="post__special-type">
              <span class="post__special-type-label">
                <span class="hidden-xs visible-sm visible-md visible-lg">
                  {{ post.get('special_post_type') | upper }}
                </span>
                <span class="visible-xs hidden-sm">
                  <span class="glyphicon glyphicon-pushpin"></span>
                </span>
              </span>
            </div>
          </div>
          {% endif %}
        </div>
      </a>

      <div class="post__related">
      </div>
    </{{h}}>
  {% endif %}
  
  {% if not options.hideDetails %}
  <div class="panel">
    <div class="post__details">
      <a href="{{ buildUrl(author, 'user') }}">
        {% if author.get('avatar') %}
        <img src="{{ author.get('avatar') }}" class="post__avatar" /> 
        {% else %}
        <img src="/static/images/default-avatar.png" class="post__avatar" /> 
        {% endif %}
        {{ author.get('title') }}
      </a>
      {% set relatedEvent = post.related('event') if post.related('event') %}
        {% set relatedEntry = post.related('entry') %}
        {% if relatedEvent.get('id') %}
         • on <a href="{{ buildUrl(relatedEvent, 'event') }}">{{ relatedEvent.get('title') }}</a>
        {% endif %}
        {% if relatedEntry.get('id') %}
          entry <a href="{{ buildUrl(relatedEntry, 'entry') }}">
            {% if relatedEntry.get('pictures').length > 0 %}
              <img src="{{ relatedEntry.get('pictures')[0] }}" class="no-border" style="max-height: 22px" />
            {% endif %}
            {{ relatedEntry.get('title') }}
          </a>
        {% endif %}
      <!--<a href="{{ buildUrl(post, 'post', '#comments') }}" class="pull-right"><span class="fa fa-comments"></span> {{ post.get('comment_count') or 0 }}</a>-->
    </div>
    
    {% if not options.hideBody %}
    <div class="post__body panel-body user-contents">
      {{ post.get('body') | markdown | safe }}
    </div>
    <div class="post__footer">
      {% if isPast(post.get('published_at')) %}
        <span class="has-tooltip" data-toggle="tooltip" data-original-title="{{ post.get('published_at') | dateTime }}">published {{ post.get('published_at') | relativeTime }}</span>
      {% elseif post.get('published_at') %}
        <span class="badge">Scheduled</span> for {{ post.get('published_at') | dateTime }}
      {% else %}
        <span class="badge">Draft</span>
      {% endif %}
       • <a href="{{ buildUrl(post, 'post', '#comments') }}">{{ post.get('comment_count') or 0 }} comment{{ 's' if post.get('comment_count') != 1 }}</a>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>

{% endmacro %}


{% macro comments(comments, readingUser, options) %}
{% for comment in comments %}
  {% if options.editComment and options.editComment.id === comment.id %}
    {{ commentEditor(comment, readingUser, options) }}
  {% else %}
    {% set author = comment.related('user') %}
    <div class="row comment {{ 'unread' if options.highlightNewerThan and options.highlightNewerThan < comment.get('created_at') }}">
      {% set node = comment.related('node') %}
      {% if options.linkToNode and not lastLinkedNode or node != lastLinkedNode %}
      <div class="col-xs-12">
        <h4><a href="{{ buildUrl(node, comment.get('node_type')) }}#c{{ comment.id }}">{{ node.get('title') }}</a></h4>
        {% set lastLinkedNode = node %}
      </div>
      {% endif %}
      <div class="col-xs-offset-1 col-xs-11">
        <a class="comment__anchor" name="c{{ comment.id if comment }}"></a>
        <div class="comment__details">
          <a href="{{ buildUrl(author, 'user') }}">
            <div class="comment__avatar-container">
              {% if author.get('avatar') %}
              <img src="{{ author.get('avatar') }}" /> 
              {% else %}
              <img src="/static/images/default-avatar.png" />
              {% endif %}
            </div>
            {{ author.get('title') }}
           </a>
          • <span class="has-tooltip" data-toggle="tooltip" data-original-title="{{ comment.get('created_at') | dateTime }}">{{ comment.get('created_at') | relativeTime }}</span>
          {% if wasEdited(comment) %}
          • <span class="has-tooltip" data-toggle="tooltip" data-original-title="{{ comment.get('updated_at') | dateTime }}">edited</span>
          {% endif %}
          {% if not options.readOnly and canUserWrite(readingUser, comment, options) %}
          <a class="btn btn-default btn-xs pull-right" href="{{ buildUrl(comment, 'comment', 'edit') }}"><span class="glyphicon glyphicon-pencil"></span></a>
          {% endif %}
        </div>
        <div class="comment__body panel user-contents">
            {{ comment.get('body') | markdown | safe }}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% if comments.length === 0 %}
<div class="well">No comments.</div>
{% endif %}

{{ commentEditor(null, readingUser, options) if not options.readOnly }}

<style type="text/css">
  .CodeMirror, .CodeMirror-scroll {
    min-height: 120px;
  }
</style>

{% endmacro %}


{% macro commentEditor(comment, readingUser, options) %}
{% set user = comment.related('user') if comment and comment.related('user') else readingUser %}
{% if user %}
<form method="post" action="{{ buildUrl(comment, 'comment', 'edit') }}" class="comment">
  <input type="hidden" name="action" value="comment" />
  <input type="hidden" name="id" value="{{ comment.id if comment }}" />
  <a class="comment__anchor" name="c{{ comment.id if comment }}"></a>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11">
      <div class="comment__details">
        <div class="comment__avatar-container">
          {% if user.get('avatar') %}
          <img src="{{ user.get('avatar') }}" /> 
          {% else %}
          <img src="/static/images/default-avatar.png" />
          {% endif %}
        </div>
        {{ user.get('title') }}
      </div>
      <div class="{{ 'well' if comment and comment.id }}" style="margin-bottom: 10px">
        {{ formMacros.editor('body', comment.get('body') if comment) }}

        <div class="row comment__actions">
          <div class="col-xs-4">
            {% if comment and comment.id %}
            <input type="submit" name="delete" class="btn btn-default btn-sm" value="Delete" visibility="{{ 'hidden' if not comment or not comment.id }}"/>
            {% endif %}
          </div>
          <div class="col-xs-8 text-right">
            <input type="submit" name="save" class="btn btn-primary btn-sm" value="Publish" />
            {% if comment and comment.id %}
              <a href="{{ buildUrl(comment, 'comment') }}" class="btn btn-default btn-sm">Cancel</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endif %}
{% endmacro %}