{% extends "_page.html" %}
{% import "_macros-form.html" as formMacros %}

{% block styles %}
{{ formMacros.editorStyles() }}
{% endblock %}

{% block body %}

<div class="container">
<div class="row">
<div class="col-lg-offset-1 col-lg-10">

  <h1 id="title-display"></h1>

  <form method="post">
        
    {% if errorMessage %}
      <div class="alert alert-warning">{{ errorMessage }}</div>
    {% endif %}

    <div class="form-group input-group-lg">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ post.get('title') }}" required="required" {{ 'readonly="readonly"' if post.get('special_post_type') === 'article' and post.get('id') }}>
    </div>

    {% if specialPostType %}
    <div class="form-group">
      <label>Special post type</label>
      <h2><span class="label label-warning">{{ specialPostType }}</span></h2>
    </div>
    {% endif %}

    {% if relatedEvent or relatedEntry %}
    <div class="form-group">
      <label>Topics</label>
      <div class="form-inline">
        {% if relatedEvent %}
        Event <span class="label label-default">
          {{ relatedEvent.get('title') }}
        </span>&nbsp;
        {% endif %}
        {% if entry %}
        Entry <span class="label label-default">
          {{ relatedEntry.get('title') }}
        </span>
        {% endif %}
        <input type="hidden" name="event_id" value="{{ relatedEvent.get('id') if relatedEvent }}" />
        <input type="hidden" name="entry_id" value="{{ relatedEntry.get('id') if relatedEntry }}" />
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <label for="body">Body</label>
      {{ formMacros.editor('body', post.get('body')) }}
    </div>

    <div class="row">
      <div class="col-xs-4">
        {% if post.has('id') %}
        <a class="btn btn-default" onclick="return confirm('Delete the post? This cannot be reverted!')" href="{{ buildUrl(post, 'post', 'delete') }}">Delete</a> 
        {% endif %}
      </div>
      <div class="col-xs-8 post__actions text-right">
        {% if post.get('published_at') %}
        <input type="submit" class="btn btn-primary" name="save" value="Save changes" />
        <input type="submit" class="btn btn-default" name="unpublish" value="Unpublish" />
        {% else %}
        <input type="submit" class="btn btn-primary" name="publish" value="Save and publish now" />
        <input type="submit" class="btn btn-default" name="save-draft" value="Save draft" />
        {% endif %}
        <input id="schedule-show" type="button" class="btn btn-default" name="save" value="Schedule..." />
        <a class="btn btn-default" href="#" onclick="history.back()">Cancel</a> 
      </div>
      <div class="col-xs-8 post__schedule text-right form-inline">
        <div class="form-group">
          <label for="published-at">Publication date</label>
          <input type="text" id="published-at" name="published-at" class="form-control" value="{{ post.get('published_at') | pickerDateTime }}" />
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" name="save-custom" value="Schedule" />
          <input id="schedule-hide" type="button" class="btn btn-default" value="Back..." />
        </div>
      </div>
    </div>
  </div>
</form>

</div>
</div>
</div>

{% endblock %}

{% block scripts %} 
{{ formMacros.editorScripts() }}
<script>

// Schedule actions
$scheduleShowButton = $('#schedule-show')
$scheduleHideButton = $('#schedule-hide')
$scheduleBlock = $('.post__schedule')
$actionsBlock = $('.post__actions')
$scheduleShowButton.click(function () {
  $scheduleBlock.show()
  $actionsBlock.hide()
});
$scheduleHideButton.click(function () {
  $scheduleBlock.hide()
  $actionsBlock.show()
})

// Publication date picker
$("#published-at").datetimepicker({
  format: '{{ constants.PICKER_CLIENT_DATE_TIME_FORMAT }}',
  autoClose: true,
  todayBtn: true,
  pickerPosition: "top-left"
})
$.fn.datetimepicker.dates['en'].today = 'Now'

// Sync H1 with title input
var $titleInput = $('#title')
var $titleDisplay = $('#title-display')
var defaultText = "Blog post"
$titleInput.on('change keyup', refreshTitleDisplay)
refreshTitleDisplay()

function refreshTitleDisplay () {
  $titleDisplay.text($titleInput.val() || defaultText)
}

</script>
{% endblock %}
