{% extends "_page.html" %}
{% import "_macros-form.html" as formMacros %}

{% block styles %}
{{ formMacros.editorStyles() }}
{% endblock %}

{% block body %}

<div class="container">
<div class="row">
<div class="col-lg-offset-1 col-lg-10">

  <div class="row">
    <div class="{{ 'col-xs-10 col-sm-8 col-md-9' if specialPostType else 'col-xs-12' }}">
      <h1 id="title-display"></h1>
    </div>
    {% if specialPostType %}
    <div class="col-xs-2 col-sm-4 col-md-3">
      <div class="post__special-type">
        <span class="post__special-type-label">
          <span class="hidden-xs visible-sm visible-md visible-lg">
            {{ specialPostType | upper }}
          </span>
          <span class="visible-xs hidden-sm">
            <span class="glyphicon glyphicon-pushpin"></span>
          </span>
        </span>
      </div>
    </div>
    {% endif %}
  </div>
  
  <form method="post" class="js-warn-on-unsaved-changes">
        
    {% if errorMessage %}
      <div class="alert alert-warning">{{ errorMessage }}</div>
    {% endif %}

    <div class="form-group input-group-lg">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ post.get('title') }}" required="required">
    </div>

    <div class="form-group">
      <label>Related event</label>
      <div class="form-inline">
        {{ formMacros.select('event-id', allEvents, relatedEvent.get('id') if relatedEvent, { nullable: true }) }}
      </div>
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      {{ formMacros.editor('body', post.get('body')) }}
    </div>

    <div class="row">
      <div class="col-xs-4">
        {% if post.has('id') %}
        <a class="btn btn-default" onclick="return confirm('Delete the post? This cannot be reverted!')" href="{{ buildUrl(post, 'post', 'delete') }}">Delete</a> 
        {% endif %}
      </div>
      <div class="col-xs-8 post__actions text-right">
        {% if post.get('published_at') %}
        <input type="submit" class="btn btn-primary" name="save" value="Save changes" />
        <input type="submit" class="btn btn-default" name="unpublish" value="Unpublish" />
        {% else %}
        <input type="submit" class="btn btn-primary" name="publish" value="Save and publish now" />
        <input type="submit" class="btn btn-default" name="save-draft" value="Save draft" />
        {% endif %}
        <input id="schedule-show" type="button" class="btn btn-default" name="save" value="Schedule..." />
        <a class="btn btn-default" href="#" onclick="history.back()">Cancel</a> 
      </div>
      <div class="col-xs-8 post__schedule text-right form-inline">
        <div class="form-group">
          <label for="published-at">Publication date (<a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">UTC</a>)</label>
          {{ formMacros.dateTimePicker('published-at', post.get('published_at')) }}
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" name="save-custom" value="Schedule" />
          <input id="schedule-hide" type="button" class="btn btn-default" value="Back..." />
        </div>
      </div>
    </div>
  </div>
</form>

</div>
</div>
</div>

{% endblock %}

{% block scripts %} 
{{ formMacros.editorScripts() }}
{{ formMacros.dateTimePickerScripts() }}
<script>
  alakajam.post.editPost.toggleShowHide('#schedule-show', '#schedule-hide', '.post__schedule', '.post__actions');
  alakajam.common.syncText('#title', '#title-display', {{ ( specialPostType | capitalize if specialPostType else 'Blog post' ) | jsonInsideScriptTag }});
</script>
{% endblock %}
