{% extends "post/_page-post.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "_macros-form.html" as formMacros %}

{% block styles %}
  {{ formMacros.editorStyles() }}
{% endblock %}

{% block body %}

<div class="container">
<div class="row">
  <div class="col-lg-offset-1 col-lg-10">
    <h1>{{ post.get('title') }}</h1>
    {{ postMacros.post(post, user, {hideHeading: true}) }}
  </div>
</div>
<div class="row">
  {% set hasRelated = entry or event %}
  <div class="{{ 'col-lg-offset-1 col-lg-6 col-md-7' if hasRelated else 'col-lg-offset-2 col-lg-8' }}">
    <h2>Comments</h2>
    {{ postMacros.comments(sortedComments, user, {allowMods: true, redirectTo: path, editComment: editComment}) }}
  </div>
  {% if hasRelated %}
  <div class="col-lg-4 col-md-5">
    <h2>Related</h2>
    {{ eventMacros.entryThumb(entry, 12) if entry }}
    {{ eventMacros.eventTable(event, false) if event }}
  </div>
  {% endif %}
</div>
</div>

{% endblock %}

{% block scripts %} 
  {{ formMacros.editorScripts() }}
{% endblock %}
