{% extends "post/_page-post.html" %}
{% import "post/_macros-post.html" as postMacros %}

{% block body %}

<div class="container">
<div class="row">
  <div class="col-lg-offset-1 col-lg-10">
    <h1>{{ post.get('title') }}</h1>
    {{ postMacros.post(post, user, {hideHeading: true}) }}

    <h2>Comments</h2>
    {{ postMacros.comments(post.related('comments').models, user, {allowMods: true}) }}
    <input type="button" class="btn btn-primary" value="Reply" />
  </div>
</div>
</div>

{% endblock %}