{% extends "base.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel {{ 'panel-warning' if errorMessage }} {{ 'panel-info' if infoMessage }} login">

        {% if infoMessage or errorMessage %}
        <div class="panel-heading">
          <h3 class="panel-title">{{ infoMessage or errorMessage }}</h3>
        </div>
        {% endif %}

        <div class="well">
          <h1>Login</h1>

          {% if not user %}
          <form method="post" action="{{ path if path !== '/logout' else '/login' }}">
            {{ csrfToken() | safe }}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="name" name="name" required="required" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required="required" />
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember-me"> Remember me
                </label>
              </div>
            </div>
            <div class="pull-right">
              <a href="/register" class="btn btn-sm btn-default">I don't have an account</a>
              <a href="/passwordRecoveryRequest" class="btn btn-sm btn-default">I forgot my password</a>
            </div>
            <input type="hidden" name="redirect" value="{{ redirect }}" />
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          {% else %}
          <p>You are logged in as <b>{{ user.get('name') }}.</b></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}