{% extends "base.html" %}
{% import "macros/form.macros.html" as formMacros with context %}

{% block body %}

<div class="container">
  <div class="card thinner mt-5">
      <div class="card-body">
        {% if not success and token %}
          <h1>Password recovery</h1>

          {{ formMacros.alerts(alerts) }}

          <form method="post" action="{{ path }}">
            {{ csrfToken() | safe }}
            <div class="form-group">
              <label for="new-password">New password</label>
              <input type="password" class="form-control" name="new-password" required="required" />
            </div>
            <div class="form-group">
              <label for="new-password-bis">Repeat password</label>
              <input type="password" class="form-control" name="new-password-bis" required="required" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        {% elseif success %}
          <p>Your password has been successfully changed!</p>
          <p><a href="/login" class="btn btn-primary">Login</a></p>
        {% else %}
          <p>This token is not or no longer valid. You can ask for a new one by following the link below.</p>
          <p><a href="/passwordRecoveryRequest" class="btn btn-primary">Password recovery request</a></p>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}