<p>Hi {{ user.get('title') or user.get('name') }},</p>

<p>Password recovery has been requested for your username <b>{{ user.get('name') }}</b>. If you are the person who made this request, please use the following link within 24 hours to choose a new password:</p>

{% set link = rootUrl + '/passwordRecovery?token=' + token %}
<p><a href="{{ link }}">{{ link }}</a></p>

<p>If you did not make this request, you can safely ignore this email. Password recovery requests can be made by anyone, so your account is safe.</p>

<p>Best,</p>

<p>The Jamician</p>

<p><a href="{{ rootUrl }}"><img src="{{ rootUrl }}/static/images/jamician.png" height="150" /></a></p>