{% import "_macros-form.html" as formMacros %}

{# Allowed options: fullWidth centered #}
{% macro userThumb(user, options = {}) %}
<div class="user-thumb {{ 'full-width' if options.fullWidth else 'col-sm-4' }} {{ 'centered' if options.centered }}">
    <h1 class="user-thumb__title">
      <a href="{{ buildUrl(user, 'user') }}">
        <div class="user-thumb__avatar">
          {% if user.get('avatar') %}
            <img src="{{ pictureUrl(user.get('avatar'), user) }}" />
          {% else %}
            <img src="/static/images/default-avatar.png" />
          {% endif %}
        </div>
        {{ user.get('title') }}
      </a>
    </h1>
    <h3 class="user-thumb__name">
      {{ user.get('name') }}
    </h3>
</div>
{% endmacro %}

{% macro userAvatar(user) %}
<a href="{{ buildUrl(user, 'user') }}">
  {% if user.get('avatar') %}
    <img src="{{ pictureUrl(user.get('avatar'), user) }}" />
  {% else %}
    <img src="/static/images/default-avatar.png" />
  {% endif %}
</a>
{% endmacro %}
