{% import "_macros-form.html" as formMacros %}

{# Allowed options: hideHeading hideBody hideSpecialLabels showComments allowMods #}
{% macro userThumb(user, options = {}) %}

<div class="user-thumb col-sm-4 {{ 'full-width' if options.fullWidth }}">
    {% if user.get('avatar') %}
    <img src="{{ dashboardUser.get('avatar') }}" class="user-thumb__avatar" />
    {% else %}
    <img src="/static/images/default-avatar.png" class="user-thumb__avatar" />
    {% endif %}
    <h1 class="user-thumb__title">
      <a href="{{ buildUrl(user, 'user') }}">{{ user.get('title') }}</a>
    </h1>
    <h3 class="user-thumb__name">
      {{ user.get('name') }}
    </h3>
</div>

{% endmacro %}
