{% extends "_page.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <div class="list-group-item"><h4 style="margin: 0">User dashboard</h4></div>
        <a href="/dashboard/posts" class="list-group-item 
        {{ 'active' if path == '/dashboard/posts'}}">My posts</a>
        <a href="/dashboard/invite" class="list-group-item 
        {{ 'active' if path == '/dashboard/invite'}}">Invite keys</a>
        <a href="/dashboard/settings" class="list-group-item 
        {{ 'active' if path == '/dashboard/settings'}}">Settings</a>
        <a href="/dashboard/password" class="list-group-item 
        {{ 'active' if path == '/dashboard/password'}}">Change password</a>
      </div>
    </div>
    <div class="col-sm-9">
      {% if infoMessage %}
        <div class="alert alert-info">{{ infoMessage }}</div>
      {% endif %}
      {% if errorMessage %}
        <div class="alert alert-warning">{{ errorMessage }}</div>
      {% endif %}

      {% block dashboardBody %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}