{% extends "user/_page-dashboard.html" %}
{% import "post/_macros-post.html" as postMacros %}
{% import "event/_macros-event.html" as eventMacros %}

{% block dashboardBody %}

<div class="row">
  <div class="col-md-12">
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-lg-6">
    <h1>Notifications <span class="fas fa-info-circle has-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="This feed lists all comments people wrote on your entries and posts, plus any comments mentioning &quot;@{{ user.get('name') }}&quot;." style="font-size: 1rem"></span></h1>

    {% for invite in invites %}
    <div class="well">
      {% set inviteEntry = invite.related('entry') %}
      <h3>
        {% if inviteEntry.get('event_id') %}
          <a href="{{ buildUrl(inviteEntry.related('event'), 'event') }}">{{ inviteEntry.related('event').get('title') }}</a>
        {% else %}
          <strong>{{ inviteEntry.get('external_event') }}</strong>
        {% endif %}
      </h3>
      <p>You have been invited to join a team.  
        
      </p>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          {{ eventMacros.entrySmallThumb(inviteEntry) }}
          <div class="text-right spacing">
            <a href="{{ buildUrl(inviteEntry, 'entry', 'accept-invite') }}" class="btn btn-primary">Accept</a>
            <a href="{{ buildUrl(inviteEntry, 'entry', 'decline-invite') }}" class="btn btn-default">Decline</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {{ postMacros.comments(toUser, user, { readOnly: true, linkToNode: true, highlightNewerThan: notificationsLastRead }) }}
  </div>
  <div class="col-md-5 col-lg-6">
    <h1>Shortcuts</h1>
    
    <div class="horizontal-bar">Latest entry</div>
    
    {% if latestEntry %}
      <div class="row">
        <div class="col-lg-8" style="margin-bottom: -10px">
        {{ eventMacros.entryThumb(latestEntry, { showEvent: true }) if latestEntry }}
        </div>
      </div>
    {% else %}
      <div class="well">No entry yet.</div>
    {% endif %}
    <div style="margin-bottom: 20px; clear: both">
      <a href="{{ buildUrl(dashboardUser, 'user', 'entries') }}" class="btn btn-default">All entries</a>
    </div>
    
    <div class="horizontal-bar">Latest posts</div>
    
    <div class="list-group">
    {% for post in latestPosts %}
      <div class="list-group-item" style="margin-bottom: -10px">
        {{ postMacros.post(post, user, { hideDetails: true, hideSpecialLabels: true }) }}
      </div>
    {% endfor %}
    </div>
    
    {% if latestPosts.length === 0 %}
    <div class="well">No posts yet.</div>
    {% endif %}
    <div style="margin-top: -10px; margin-bottom: 10px">
      <a href="{{ buildUrl(dashboardUser, 'user', 'posts') }}" class="btn btn-default">All posts</a>
      <a href="{{ buildUrl(null, 'post', 'create') }}" class="btn btn-primary">Create post</a>
    </div>
    
    <div class="horizontal-bar">Latest comments</div>
    
    {{ postMacros.comments(byUser, user, { readOnly: true, linkToNode: true }) }}
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-md-7">
  </div>
</div>
  
{% endblock %}
