{% extends "user/_page-dashboard.html" %}
{% import "event/_macros-event.html" as eventMacros %}

{% block dashboardBody %}

<h1>Entries</h1>

<div class="form-group">
  <a href="{{ buildUrl(user, 'user', 'entry-import') }}" class="btn btn-primary">Import entries from external sites</a>
  <a href="/external-entry/create-entry" class="btn btn-default">Create entry manually</a>
</div>

<div class="row">
  {% for entry in entries %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      {{ eventMacros.entryThumb(entry, {showEvent: true}) }}
      <div class="entry-thumb__form">
        <a href="{{ buildUrl(entry, 'entry', 'edit') }}"class="btn btn-default">Edit</a>
      </div>
    </div>
  {% endfor %}
</div>

{% if entries.length === 0 %}
  <div class="well">No entries yet.</div>
{% endif %}

{% endblock %}
