{% extends "user/_page-dashboard.html" %}
{% import "post/_macros-post.html" as postMacros %}

{% block dashboardBody %}

<h1>My posts</h1>

{% if newPostEvent %}
<p>
  <a href="{{ buildUrl(null, 'post', 'create', {eventId: newPostEvent.get('id')}) }}" class="btn btn-primary">Create new post</a>
</p>
{% endif %}

{% if draftPosts.length > 0 %}
  <h2>Drafts</h2>
  {% for post in draftPosts %}
    {{ postMacros.post(post, user, {noBody: true}) }}
  {% endfor %}

  <h2>Published</h2>
{% endif %}

{% for post in publishedPosts %}
  {{ postMacros.post(post, user, {noBody: true}) }}
{% endfor %}

{% if publishedPosts.length === 0 %}
  <div class="well">You haven't published posts yet.</div>
{% endif %}

{% endblock %}
