{% extends "user/_page-dashboard.html" %}
{% import "post/_macros-post.html" as postMacros %}

{% block dashboardBody %}

<h1>Invite keys</h1>

<p>
  Share the key below with a friend to let them create an account on the site. You can create as many keys as you want!
</p>

<div class="jumbotron">
  <div class="jumbotron-contents text-center">
    <h3>Your invite key</h3>
    <h1 class="code">{{ inviteKey }}</h1>
    <a href="#" class="btn btn-default" onclick="window.location.reload()">Generate</a>
  </div>
</div>

{% endblock %}
