{% extends "user/_page-dashboard.html" %}
{% import "_macros.html" as macros %}

{% block dashboardBody %}

<h1>Change password</h1>

<form action="{{ buildUrl(user, 'user', 'password') }}" method="post">

<div class="form-group">
  <label for="password">Current password</label>
  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
</div>

<div class="form-group">
  <label for="password">New password</label>
  <input type="password" class="form-control" id="new-password" name="new-password" placeholder="Password">
</div>

<div class="form-group">
  <label for="password-bis">Repeat new password</label>
  <input type="password" class="form-control" id="new-password-bis" name="new-password-bis" placeholder="Password">
</div>

<div class="form-group">
  <input type="submit" class="btn btn-primary" name="action-password" value="Change password" />
</div>

</form>

{% endblock %}