{% extends "user/_page-dashboard.html" %}
{% import "post/_macros-post.html" as postMacros %}

{% block dashboardBody %}

<h1>Posts</h1>

<div class="form-group">
  <a href="{{ buildUrl(null, 'post', 'create', {eventId: newPostEvent.get('id')}) if newPostEvent }}" class="btn btn-primary">Create post</a>
</div>

{% if draftPosts.length > 0 %}
  <h2>Drafts</h2>
  {% for post in draftPosts %}
    {{ postMacros.post(post, user, {hideBody: true, allowMods: true}) }}
  {% endfor %}

  <h2>Published</h2>
{% endif %}

{% for post in publishedPosts %}
  {{ postMacros.post(post, user, {hideBody: true, allowMods: true}) }}
{% endfor %}

{% if publishedPosts.length === 0 %}
  <div class="well">No posts yet.</div>
{% endif %}

{% endblock %}
