{% extends "user/_page-dashboard.html" %}
{% import "_macros.html" as macros %}

{% block styles %}
  {{ macros.editorStyles() }}
{% endblock %}

{% block dashboardBody %}

<h1>Settings</h1>

<h2>Account info</h2>

<form action="{{ buildUrl(user, 'user', 'settings') }}" method="post" enctype="multipart/form-data">

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="title">Display name</label>
      <input type="text" class="form-control input-lg" id="password" name="title" placeholder="Display name" value="{{ user.get('title') }}">
    </div> 

    <div class="form-group">
      <label for="name">Email address</label> <span class="text-muted">(will not be made public)</span>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email address" value="{{ user.get('email') }}" />
    </div>

    <div class="form-group">
      <label for="name">Website</label>
      <input type="url" class="form-control" id="website" name="website" placeholder="http://" value="{{ user.get('social_web') }}" />
    </div>

    <div class="form-group">
      <label for="name">Twitter</label>
      <input type="text" class="form-control" id="twitter" name="twitter" placeholder="@username" value="{{ '@' + user.get('social_twitter') if user.get('social_twitter') }}" />
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save changes" />
      <a href="/user/{{ user.get('name') }}" class="btn btn-default">View profile</a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Avatar</label>
      {{ macros.pictureInput('avatar', user.get('avatar')) }}
    </div>
  </div>
</div>

<h2 class="spacing">Bio</h2>

<div class="form-group">
  {{ macros.editor('body', user.get('body')) }}
  <input type="submit" class="btn btn-primary" value="Save changes" />
  <a href="/user/{{ user.get('name') }}" class="btn btn-default">View profile</a>
</div>

</form>

{% endblock %}

{% block scripts %} 
{{ macros.editorScripts(user.get('id')) }}
{% endblock %}
