{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "post/_macros-post.html" as postMacros %}

{% block body %}

<div class="container profile">
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        {% if profileUser.get('avatar') %}
        <img src="{{ profileUser.get('avatar') }}" class="profile__avatar" />
        {% else %}
        <img src="/static/images/default-avatar.png" class="profile__avatar" />
        {% endif %}
      </div>

      <h1 class="profile__title">
        {{ profileUser.get('title') }}
      </h1>
      <h3 class="profile__name">
        {{ profileUser.get('name') }}
      </h3>
      <p class="profile__joined">
        Joined {{ profileUser.get('created_at') | relativeTime }}
      </p>

      {% if user and (user.get('id') == profileUser.get('id')) %}
      <a href="{{ buildUrl(user, 'user', 'feed') }}" class="btn btn-default">View dashboard</a>
      {% endif %}

      <div class="spacing">
        {% if profileUser.get('social_web') %}
        <div class="profile__social-link">
          <a href="{{ profileUser.get('social_web') }}">
            <span class="glyphicon glyphicon-globe" style="color: #444; font-size: 20px; top: 4px"></span> Website
          </a>
        </div>
        {% endif %}
        {% if profileUser.get('social_twitter') %}
        <div class="profile__social-link">
          <a href="https://www.twitter.com/{{ profileUser.get('social_twitter') }}">
            <img src="/static/images/twitter.svg" alt="Github" /> Twitter
          </a>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-9">
      {% if profileUser.get('body') %}
      <h2>Bio</h2>
      <div class="well">
        {{ profileUser.get('body') | markdown | safe }}
      </div>
      {% endif %}

      <h2>Entries</h2>
      {% if entries.length > 0 %}
      <div class="row">
        {% for entry in entries %}
        {{ eventMacros.entryThumb(entry, 4) }}
        {% endfor %}
      </div>
      {% else %}
      <div class="well">This user didn't submit games... Yet!</div>
      {% endif %}

      <h2>Latest posts</h2>
      {% if posts.models.length > 0 %}
        {% for post in posts.models %}
        {{ postMacros.post(post, user) }}
        {% endfor %}
      {% else %}
      <div class="well">This user didn't write posts... Yet!</div>
      {% endif %}
    </div>
  </div>
</div>

</div>

{% endblock %}
