{% extends "_page.html" %}
{% import "event/_macros-event.html" as eventMacros %}
{% import "post/_macros-post.html" as postMacros with context %}
{% import "_macros-form.html" as formMacros %}

{% block body %}

<div class="container profile">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      {% if profileUser.get('avatar') %}
      <img src="{{ pictureUrl(profileUser.get('avatar'), profileUser) }}" class="profile__avatar" />
      {% else %}
      <img src="{{ staticUrl('/static/images/default-avatar.png') }}" class="profile__avatar" />
      {% endif %}

      <h1 class="profile__title">
        {{ profileUser.get('title') }}
      </h1>
      <h3 class="profile__name">
        {{ profileUser.get('name') }}
        <span class="profile__id">
          #{{ profileUser.get('id') }}
        </span>
      </h3>
      <p class="profile__joined">
        Joined {{ profileUser.get('created_at') | relativeTime }}
      </p>

      {% if profileUser.get('is_admin') %}
      <p class="profile__admin">
        <img src="{{ staticUrl('/static/images/adminbadge.png') }}" class="profile__admin" />
      </p>
      {% elseif profileUser.get('is_mod') %}
      <p class="profile__mod">
        <img src="{{ staticUrl('/static/images/modbadge.png') }}" class="profile__mod" />
      </p>
      {% endif %}

      {% if user and (user.get('id') == profileUser.get('id')) %}
      <a href="{{ buildUrl(user, 'user', 'feed') }}" class="btn btn-default">View dashboard</a>
      {% endif %}

      <div class="spacing">
        {% set socialLinks = profileUser.related('details').get('social_links') %}
        {% if socialLinks.website %}
          <div class="profile__social-link">
            <a href="{{ socialLinks.website }}">
              <span class="fas fa-home" style="color: black; font-size: 24px"></span> Website
            </a>
          </div>
        {% endif %}
        {% if socialLinks.twitter %}
          <div class="profile__social-link">
            <a href="https://www.twitter.com/{{ socialLinks.twitter }}">
              <img src="{{ staticUrl('/static/images/social/twitter.svg') }}" class="no-border" style="width: 32px" /> Twitter
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-8 col-lg-9">
      {% if profileUser.related('details').get('body') %}
      <h2>Bio</h2>
      <div class="featured">
        {{ profileUser.related('details').get('body') | markdown | safe }}
      </div>
      {% endif %}

      <h2>Entries</h2>
      {% if entries.models.length > 0 %}
      <div class="row">
        {% for entry in entries.models %}
          <div class="col-md-6 col-lg-4">
            {{ eventMacros.entryThumb(entry, { showEvent: true }) }}
          </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="well">{{ profileUser.get('title') }} didn't submit games... Yet!</div>
      {% endif %}

      <h2>Latest posts</h2>
      {% if posts.models.length > 0 %}
        {% for post in posts.models %}
          {{ postMacros.post(post, {readingUser: user, readingUserLikes: userLikes}) }}
        {% endfor %}

        {{ formMacros.pagination(1, posts.pagination.pageCount, '/posts?special_post_type=all&user_id=' + profileUser.get('id')) }}
      {% else %}
      <div class="well">{{ profileUser.get('title') }} didn't write posts... Yet!</div>
      {% endif %}
    </div>
  </div>
</div>

</div>

{% endblock %}
